[2020-05-01 09:38] mdtareque opened #228 "P689. Confusing explanation of solution"
**What kind of the bug**
- [x] solution

**Describe the bug**
689. Maximum Sum of 3 Non-Overlapping Subarrays > Approach 1
The solution explanation makes use of **same variable names in lowercase and uppercase**, and this is leading to confusion.

The explanation should be updated, so that the reader understands the solution correctly, without confusion.

Pasting the text from the solution that sh

[2020-05-01 14:10] Zhenghao-Liu opened #229 "393.UTF-8编码验证 题目问题"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
[code]

*数据最后一行应该是0001 0000-001F FFFF*

**你使用的语言**
C++

**你提交或者运行的代码**
[code]

**期望行为**
改正即可

**屏幕截图**

**额外的上下文**
添加额外的上下文信息

[2020-05-01 14:57] jb655572 opened #230 "278. First Bad Version"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
The n value passed into the function is stated as [4,5], with the correct answer being 4.  However, I believe there is an error in the values actually passed.  When including a print call at the beginning, I see that n only contains [5].

**what language is your code written in**
Python3

**The code you subm

[2020-05-01 15:03] #230 closed

[2020-05-01 15:06] jb655572 commented on #230
I believe I misread the instruction, thinking that list of version numbers being passed in.

[2020-05-01 17:43] luizfls opened #231 "Missing test case in problem "First Unique Number""
**What kind of bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
In Day 28 of the April 30-day challenge (problem "First Unique Number"), I came up with a test case where my solution doesn't work, even though it was accepted.

**Language**
C++

**The code you submit/run [aka my (broken) solution]**
[code]

**Expected behavior**
I ran the following test case
[code]
My output:

[2020-05-01 18:42] CooperCooperCooper commented on #226
Hi @pratikkaria,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-01 18:47] CooperCooperCooper commented on #227
Hi @shivam145,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-01 18:50] CooperCooperCooper commented on #228
Hi @mdtareque,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-01 18:51] CooperCooperCooper commented on #231
Hi @luizfls,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-01 18:54] CooperCooperCooper commented on #221
Hi @leet212,
Thank you for sharing. I've relayed this issue to our team to investigate.

[2020-05-01 21:18] CooperCooperCooper commented on #226
Hi @pratikkaria,
Thank you for your time. After a thorough investigation, our team found the error is not a Time Limit Exceeded Error but a Runtime Error that is caused by the overflow of a variable. We will not be updating this problem for now; however, we will keep this test case in mind for future updates. We appreciate your support.

[2020-05-01 21:18] #226 closed

[2020-05-01 22:52] ritusingh208 opened #232 "1373. Maximum Sum BST in Binary Tree"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [ ] language

**Describe the bug**
There's a testcase missing because of which wrong solutions are getting accepted.

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
The output for input [4,2,6,1,5,null,null] should be 8. While the solutions for which the output is different are gettin

[2020-05-02 02:18] TheBloodElf commented on #222
这道题还有很多变种，我申请一下这道题的版权。

[2020-05-02 04:02] agatagruza opened #233 "278. First Bad Version"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [ ] language

**Describe the bug**
There is a type mismatch for return value.

**what language is your code written in**
Python3

**The code you submit/run**

Returning type should be int as we are asked to implement a function that will find the first bad version (which is int). In the comment section we have `# @return a bool` but then late

[2020-05-02 09:01] EzioMercer opened #234 "Remove Element"
**What kind of the bug**
- [27] problem
- [Remove Element] solution
- [JavaScript] language

**Describe the bug**
This testcase doesn't work properly on JavaScript. Any modification to nums in my function caller doesn't know. For example I wrote this code:

var removeElement = (nums, val) => {
    nums = null;
    console.log(nums);
    return 8;
}

But caller print original nums!

**what language

[2020-05-02 13:54] #234 closed

[2020-05-02 15:39] coderansu opened #235 "Better description and examples on design-a-leaderboard"
**What kind of the bug**
- [X] problem
- [ ] solution
- [ ] language

**Describe the bug**
Two issues:
1. With only one example given it was unclear that add score actually adds to existing score for a player, rather than updating it. Consider updating that example to call addScore on some player id more than once to make this clear.
2. Description at top should make clear that Reset actually remo

[2020-05-02 15:40] toxeed opened #236 "Wrong solution accepted"
** 236 Lowest Common Ancestor of a Binary Tree**
**The code you submit/run**

[code]
- Java

This solution should return null if one of the nodes is not present int tree but it returns the one present. For example in the tree [3,5,1,6,2,0,8,null,null,7,4] if we pass 5, 9 the solution returns 5 which is not right but this is an accepted solution.

**what language is your code written in**
JAVA

**E

[2020-05-02 18:20] MoustafaMahmoud769 opened #237 "Time Limit for Minimum Area Rectangle Should Be Fixed."
**What kind of the bug**
- solution

**Describe the bug**
The time limit for this problem is very tight. My N^2 sometimes passes and sometimes not.

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
It should pass.

**Screenshots**
N/A

**Additional context**
N/A

[2020-05-02 19:52] abhi2196 opened #238 "Arrays 101: Typo in In-Place Array Operations Introduction Article"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
The in-place implementation for our squareEven(...) function, references `result[i]` at line number 15 which should be `array[i]`

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Screenshots**
<img width="1676" alt="Screenshot 2020-05-03 at 1 18 16 AM" src="https://user-

[2020-05-02 22:01] Chinmayswaroop opened #239 "1432. Max Difference You Can Get From Changing an Integer :: Wrong answer also accepted"
**What kind of the bug**
- [ yes] problem
- [ yes] solution
- [ ] language

**Describe the bug**
The question appeared in the Bi-weekly contest 25

**What language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
Input 111
Output(Mine) 999
Expected (that Leetcode shows) 888
But still, my answer got accepted

**Screenshots**
Added the Screenshots.

![L1](htt

[2020-05-03 03:54] soulxhacker commented on #223
I've also posted this on their forums. Leetcode guys, please fix this asap.

[2020-05-03 04:04] tychenjiajun opened #240 "5401. Check If All 1's Are at Least Length K Places Away"
** Bug 类型**
题目

**描述**
测试用例有缺失

**你使用的语言**
Java

**你提交或者运行的代码**
[code]

**期望行为**
不通过

输入为
[code]
时输出为`false`，期望为`true`

[2020-05-03 04:22] dgithq opened #241 "SortedMap is not imported automatically in Java"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [ X] language

**Describe the bug**
To my understanding, Leetcode automatically imports java.util.* for java submissions without users having to import it themselves. SortedMap is an interface in that package, but it is apparently not included automatically.

**what language is your code written in**
Java

**The code you submit/run**
[code]
*

[2020-05-03 04:41] vezcraz opened #242 "399 evaluate division output statement unexpected"
**What kind of the bug**
- [x] solution

**Describe the bug**
The behaviour of the print statement in main() must be wrong because the output being produced is unexpected

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
Expected the output to be [6.00000,0.50000,-1.00000,1.00000,-1.00000]. However the output shown is -1.00000] for the first

[2020-05-03 04:59] leet212 opened #243 "1438. Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Weak test case suite can get non optimal solution accepted.

**what language is your code written in**
Python

**The code you submit/run**
[code]

**Expected behavior**
The solution should not be accepted as it is quadratic solution instead of linear.
The following test case gives TLE for the solution. It is

[2020-05-03 05:17] leet212 opened #244 "14. Longest Common Prefix"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Approach 4 : Binary Search solution has wrong analysis

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
In the worst case we have n equal strings with length m

Time complexity : O(S⋅logn), where S is the sum of all characters in all strings.

The alg

[2020-05-03 05:26] Mohit-Patil opened #245 "1438. Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Below solution gets accepted due to weak test cases.

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
The Above Solution is a quadratic solution with just one check that if ans == size of array then break.
This Solution was accepted in the recent conte

[2020-05-03 07:36] gannaramu opened #246 "383. Ransom Note Test Case"
**What kind of the bug**
- [x] problem
- [x] solution
- [ ] language

**Describe the bug**
We need to add more important test cases.

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
This code needs to fail for the test case ransom note = "aab" and magazine = "baa" but it seems to be an accepted solution this is inspired by the discussion for

[2020-05-03 10:02] mdtareque opened #247 "P383 Problem statement needs more details"
**What kind of the bug**
- [x] problem

**Describe the bug**
The problem statement doesn't have some basic details which should be present. By writing custom test cases, I found that only lowercase characters would be present in the input. The 'Exception Answer' showed Runtime error when give such a custom test case.

**What should be updated?**
- Problem statement should mention that only lower c

[2020-05-03 13:31] modinitin13 opened #248 "Weak Testcases-----560. Subarray Sum Equals K"
**What kind of the bug**
Weak Testcases

**Describe the bug**
The test cases are weak, It allows O(N^2) time complexity to get AC.

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
The solution should get TLE.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
I have attached the test case fi

[2020-05-03 15:00] feiceh commented on #229
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-05-03 17:11] cyt3ea opened #249 "Pacific Atlantic Water Flow Test Case Bug"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Hi, I think I may have found a test case error in the Pacific Atlantic Water Flow problem: https://leetcode.com/problems/pacific-atlantic-water-flow

![image](https://user-images.githubusercontent.com/9666592/80920686-44c11680-8d26-11ea-9634-93c0ce937c59.png)

For this test case, the only difference I have w

[2020-05-04 12:00] vnrk commented on #240
Please add this testcase

Wrong code getting accepted.
[1,0,0,0,1,0,0,0,0,0,0,0,1,0,1]
2

[2020-05-04 12:20] leet212 opened #250 "996. Number of Squareful Arrays"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Approach 2: Dynamic Programming solution has wrong analysis

**what language is your code written in**
Python

**The code you submit/run**
[code]

**Expected behavior**
Time Complexity: O(N 2^N), where N is length of A.

Space Complexity: O(N 2^N)

This is the analysis provided.

The space complexity is corr

[2020-05-04 12:40] NishadKumar opened #251 "#476 Number Complement - Correct test case, but wrong submission still getting accepted"
Correct test case, but wrong outcome
-Number Complement
-Python

Bug Description:
For the Number Complement test cases, if I run my code against the test case input "0", the outcome is 'Wrong Answer'. However, if I submit the solution, it is being accepted.

**what language is your code written in**
Python

**The code you submit/run**
[code]

**Expected behavior**
The submission was expected not t

[2020-05-04 14:03] leet212 opened #252 "1054. Distant Barcodes"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the problem**
The problem is equivalent to [767. Reorganize String](https://leetcode.com/problems/reorganize-string/). There is also no solution provided for 1054 even though both the solutions provided for 767 will work for 1054.
The problem description could be updated to make users aware of the other problem while

[2020-05-04 16:24] modinitin13 opened #253 "Weak test case----239. Sliding Window Maximum"
**What kind of the bug**
Weak test cases

**Describe the bug**
The test cases are weak, the solution with time complexity O(N^2) is getting passed

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
The above solution should get TLE but getting AC

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional contex

[2020-05-04 20:31] leet212 opened #254 "233. Number of Digit One"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**

Iterate over ii from 11 to nn incrementing by 1010 each time:
Add (n/(i*10))*i(n/(i∗10))∗i to \text{countr}countr representing the repetition of groups of i$ sizes after each (i10)interval. + Addinterval.+Add{\min(\max(( ext{n mod (i10)} )-i+1,0),i)}toto ext{countr}representing the additional digits dependa

[2020-05-05 01:56] ilyas409 opened #255 "Missing Test Case: Number Complement - May LeetCoding Challenge"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Bug in [https://leetcode.com/explore/featured/card/may-leetcoding-challenge/534/week-1-may-1st-may-7th/3319/](https://leetcode.com/explore/featured/card/may-leetcoding-challenge/534/week-1-may-1st-may-7th/3319/)

Even though my code doesn't cover the case of `Solution().findComplement(0)`, my submission stil

[2020-05-05 01:58] CooperCooperCooper commented on #225
Hi @KevinColemanInc,
Thank you for raising the issue. Please take into account that return value should be int, like in the attached example.
![Uploading image.png…]()

[2020-05-05 01:59] CooperCooperCooper commented on #227
Hi @shivam145,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-05 01:59] #227 closed

[2020-05-05 01:59] CooperCooperCooper commented on #231
Hi @luizfls,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-05 01:59] #231 closed

[2020-05-05 02:03] CooperCooperCooper commented on #179
Hi @Mahdi-Hosseinali ,
Thank you for raising the issue, it seems for us that the time complexity in the article is correct. Your mistake is claiming O(sqrt(n)) for the inner loop. Please find a very detailed exact computation of the time complexity for the approach 1 in the attachment.
![image (1)](https://user-images.githubusercontent.com/59751300/81029449-de2d1d00-8e39-11ea-8153-c073d5292405.png

[2020-05-05 02:06] CooperCooperCooper commented on #232
Hi @ritusingh208,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:09] CooperCooperCooper commented on #233
Hi @agatagruza ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:09] KevinColemanInc commented on #225
@CooperCooperCooper

Why does the python version support returning `None`?

<img width="985" alt="image" src="https://user-images.githubusercontent.com/2381771/81029650-a96d9580-8e3a-11ea-8b95-b34ea5ee66ed.png">

[2020-05-05 02:10] KevinColemanInc commented on #225
Why is the "Expected answer" a runtime error if I return the wrong type? Other problems and languages would tell me my answer is wrong.

[2020-05-05 02:11] CooperCooperCooper commented on #235
Hi @coderansu ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:13] CooperCooperCooper commented on #236
Hi @toxeed ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:14] CooperCooperCooper commented on #237
Hi @MoustafaMahmoud769 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:17] CooperCooperCooper commented on #238
Hi @abhi2196 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:25] CooperCooperCooper commented on #239
Hi @Chinmayswaroop ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:25] shivam145 commented on #227
Hi @CooperCooperCooper , Thank you so much for your time and support, I will surely reach out at "support@leetcode.com".

[2020-05-05 02:27] CooperCooperCooper commented on #241
Hi @dgithq ,
Thank you for reaching out to us. To help us assess this issue, can you please share with us which problem(s) does your code correspond to?

[2020-05-05 02:28] CooperCooperCooper commented on #242
Hi @vezcraz ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:30] CooperCooperCooper commented on #243
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:32] CooperCooperCooper commented on #244
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:37] CooperCooperCooper commented on #245
Hi @Mohit-Patil ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:40] CooperCooperCooper commented on #246
Hi @gannaramu ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:40] r2roesk opened #256 "416. Partition Equal Subset Sum Test Case"
What kind of the bug

 [x] problem
 [x] solution
 [] language

New test case

what language is your code written in: python3

The code you submit/run:
[code]
Expected behavior:  This test case fails when I run it but still is accepted as a solution: [9,2]

Anything with nums[0] being higher than half of sum of all elements.

[2020-05-05 02:42] CooperCooperCooper commented on #247
Hi @mdtareque,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:44] CooperCooperCooper commented on #248
Hi @modinitin13 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:51] CooperCooperCooper commented on #249
Hi @cyt3ea ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 02:58] dgithq commented on #241
I first noticed that SortedMap did not work on 1438 - Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit. However, I tested using SortedMap on other questions too, like Two Sum and Number of Islands, and it didn't work on those either. It seems that all questions on Leetcode have this issue.

[2020-05-05 04:04] CooperCooperCooper commented on #250
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 04:05] CooperCooperCooper commented on #251
Hi @NishadKumar ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 04:07] CooperCooperCooper commented on #252
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 04:09] CooperCooperCooper commented on #253
Hi @modinitin13 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 04:11] CooperCooperCooper commented on #254
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 04:14] CooperCooperCooper commented on #255
Hi @ilyas409 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 04:15] Jifan-Zhang opened #257 "SQL Question 176: Second Highest Salary"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [x] language

**Describe the bug**
The following MySQL code (see below)
With exactly the same code, sometimes, MySQL will throw syntax error, while other times will pass.

**what language is your code written in**
MySQL

**The code you submit/run**
[code]

**Expected behavior**
The IDE is unstable, sometimes pass, sometimes throw an error.

*

[2020-05-05 04:15] Jifan-Zhang commented on #257
<img width="761" alt="截屏2020-05-04 下午11 04 00" src="https://user-images.githubusercontent.com/54615102/81034546-27429880-8e5d-11ea-869c-0bd774f193f7.png">
<img width="745" alt="截屏2020-05-04 下午11 04 38" src="https://user-images.githubusercontent.com/54615102/81034565-31649700-8e5d-11ea-8bbc-9c298e425167.png">

[2020-05-05 04:17] CooperCooperCooper commented on #256
Hi @r2roesk ,
Thank you for reaching out to us. Would you please share with us which test case failed?

[2020-05-05 04:35] r2roesk commented on #256
[9,2] or anything with nums[0] being higher than half of sum of all elements.

[2020-05-05 05:13] tripathysa opened #258 "Expected answer also results in `Runtime Error`"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
When I submit a program with a possible runtime error and run it with a custom test case,
Expected answer also results in `Runtime Error` which it shouldn't since it is not dependent on my program.

Specifically, It happened for https://leetcode.com/explore/interview/card/facebook/5/array-and-strings/3018/
*

[2020-05-05 06:03] zhongyin-hu commented on #223
I'm seeing the same issue on my end, too. Will appreciate it if anyone could help fix it.

[2020-05-05 12:11] 0xac001d09 opened #259 "943. 最短超级串"
["a","b","c","abc"]这个样例结果应为abc，你们的预期结果不对吧
![image](https://user-images.githubusercontent.com/50208812/81064601-8dd2bf80-8f0c-11ea-8fe1-f774afa3cb84.png)

附上力扣id:  jerry_nju

[2020-05-05 13:26] leet212 opened #260 "54. Spiral Matrix"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Approach 2: Layer-by-Layer solution has wrong analysis

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
Time Complexity: O(N), where N is the total number of elements in the input matrix. We add every element in the matrix to our final answer.

Space

[2020-05-05 13:43] leet212 opened #261 "63. Unique Paths II"
**What kind of the bug**
- [x] problem
- [x] solution
- [ ] language

**Describe the bug**
Approach 1 solution is inherently erroneous.

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
Test case:

[[0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1],[0,0,0,0,

[2020-05-05 13:59] leet212 opened #262 "973. K Closest Points to Origin"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Approach 2: Divide and Conquer solution has wrong analysis

**what language is your code written in**
Python

**The code you submit/run**
[code]

**Expected behavior**
Time Complexity: O(N) in average case complexity, where N is the length of points.

Space Complexity: O(N).

This is the analysis provided.

[2020-05-05 15:07] NishadKumar commented on #251
Thanks @CooperCooperCooper! :)

[2020-05-05 16:38] VarunTvlka opened #263 "Solution fails test case: longest-palindromic-substring"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
A clear and concise description of what the bug is.

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
This is the code from the leetcode solution.It should pass the test case.

**Screenshots**
The solution for the above problem , with approach expand a

[2020-05-05 17:55] CooperCooperCooper commented on #258
Hi @tripathysa ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 17:57] CooperCooperCooper commented on #260
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 17:58] CooperCooperCooper commented on #261
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 18:00] CooperCooperCooper commented on #262
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-05 18:02] #179 closed

[2020-05-05 21:34] as-rawat opened #264 "Weak testcase in Jump Game III"
**Describe the bug**
Testcases aren't strong for #1306

**what language is your code written in**
C++

**The code you submit/run**
`

    bool canReach(vector<int>& arr, int start) {

        if(!arr[start])
            return true;

        queue<int> q;
        q.push(start);

        int i = 0;
        while(!q.empty() && i < 2 * arr.size())
        {
            int v = q.front();

[2020-05-06 02:14] bittukumarray opened #265 "testing result and submitting results are different for the same test case"
**What kind of the bug**
- [x] problem
   **637. Average of Levels in Binary Tree**
    _Given a non-empty binary tree, return the average value of the nodes on each level in the form of an array._
- [x] solution
_I traversed in level order and while traversing, whenever I found a non-null value at the given level, I sum it up and increase the count by one, after traversing all the node for the le

[2020-05-06 03:28] feiceh commented on #259
麻烦提供一下您的代码、以及 代码的语言（建议用 playground 链接），将信息提供完整才能有助于快速验证和精准的定位哟～

[2020-05-06 03:29] feiceh commented on #259
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-05-06 04:04] ishikin opened #266 "572. Subtree of Another Tree - weak testcase"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [ ] language
- [x] testcase

**Describe the bug**
Incorrect solution is accepted

**what language is your code written in**
Python

**The code you submit/run**
[code]

**Expected behavior**
I expect this solution to not be accepted as it fails on testcase

[0,1,2,3,4,5,6,7,8]
[0,3,2,7,8,5,6]

[2020-05-06 05:52] singinzrain opened #267 "637. Average of Levels in Binary Tree"
**What kind of the bug**
- [x] problem
- [x] solution
- [ ] language

**Describe the bug**
Pass the submission but indicating wrong when running code result.

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
Test case:
[3,9,20,15,7]

Output:
[3.00000,14.50000,11.00000]

Expected:
11.00000]

The output and expected should be the same. The exp

[2020-05-06 06:25] AZAamerZaheer commented on #267
Came here to report the same. See screenshot.
<img width="1440" alt="Screen Shot 2020-05-05 at 10 27 03 PM" src="https://user-images.githubusercontent.com/50094609/81143828-a2708100-8f27-11ea-9669-50a3421c9397.png">

[2020-05-06 06:39] TuxxyDOS opened #268 "Remove Duplicates from Sorted Array"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
The result picked is not the one my code submitted.

**what language is your code written in**
JS

**The code you submit/run**
[code]

**Actual behavior**
Test case:
[1,2]

Stdout:
[1,2]

My answer:
[1,1]

Expected Answer:
[1,2]

**Expected behavior**
Test case:
[1,2]

Stdout:
[1,2]

My answer:
[1,2]

Expect

[2020-05-06 08:58] guneykayim opened #270 "480. Sliding Window Median"
**What kind of the bug**
- [ ] problem
- [X] solution
- [ ] language

**Describe the bug**
There is a problem in the generated output. Normally output should be in square brackets, however in this case opening bracket '[' is missing. Also, some of the outputs are missing.

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
I am expecting to get

[2020-05-06 13:49] aleacosta5 opened #271 "Missing Test Case: 953. Verifying an Alien Dictionary"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
My code submission passed, but I tried a test case that my code isn't passing, seems like it's not being considered when submitting an answer.
`["app", "apple"]`
`"abcdefghijklmnopqrstuvwxyz"`

**what language is your code written in**
C#

**The code you submit/run**
[code]

**Expected behavior**
It should f

[2020-05-06 17:40] orbitbyrd opened #272 "An issue with Problem 237"
**What kind of the bug**
- [ ] solution

**Describe the bug**
When I clicked on the fastest solution for the problem 237 in "Accepted solution runtime distribution graph", I saw that it was O(N), and O(1) solutions seem to have taken longer time. Could you add some test cases with high number of elements so that O(1) solution shows much faster runtime than the O(N) solution?

**what language is yo

[2020-05-06 17:45] orbitbyrd opened #273 "Issue with Problem 387"
**What kind of the bug**
- [ ] solution

**Describe the bug**
For problem 387,  I noticed that a potentially O(N^2) solution is ending up beating 78.24% of the submissions when the optimal solution is supposed to be O(N). Could you please add some heavy test cases so that O(N^2) submissions end up at the end of the rank?

**what language is your code written in**
C#

**The code you submit/run**
pu

[2020-05-06 20:20] CooperCooperCooper commented on #262
Hi @
Thank you for the contribution, the time complexity is updated. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-06 20:20] #262 closed

[2020-05-06 20:21] CooperCooperCooper commented on #244
Hi @
Thank you for your time. We've used your feedback to update the time complexity. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-06 20:21] #244 closed

[2020-05-06 20:23] CooperCooperCooper commented on #206
Hi @
Thank you for your time. We've used your feedback to update the approach name. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-06 20:23] #206 closed

[2020-05-06 20:26] CooperCooperCooper commented on #264
Hi @as-rawat ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-06 20:31] sahajb opened #274 "621. Task Scheduler"
#### Your LeetCode username
habaj

**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Solutions have inconsistent and confusing analysis

**Expected behavior**
Approach 1 Using Sorting [Accepted]
Time complexity : O(time). Number of iterations will be equal to resultant time time.

Approach 2 Using Priority-Queue [Accepted]
Time complexity : O(n). Number of

[2020-05-06 20:31] CooperCooperCooper commented on #265
Hi @bittukumarray ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-06 20:33] CooperCooperCooper commented on #266
Hi @ishikin ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-06 20:35] CooperCooperCooper commented on #225
Hi @
Thank you for reaching out to us again. I've relayed these question to our team to investigate.

[2020-05-06 20:37] CooperCooperCooper commented on #189
Hi @gvshiva ,
Thank you for reaching out to us again. I've relayed these questions to our team.

[2020-05-06 20:43] leet212 commented on #244
Thanks for the update @CooperCooperCooper. Should I reach out using the mail provided or is the technical support channel using Zendesk the same?

[2020-05-06 20:48] CooperCooperCooper commented on #256
Hi @r2roesk ,
Thank you for the clarification. I've relayed this issue to our team to investigate.

[2020-05-06 21:19] CooperCooperCooper commented on #267
Hi @singinzrain ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-06 21:21] CooperCooperCooper commented on #223
Hi @abhasg ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-06 21:22] CooperCooperCooper commented on #268
Hi @TuxxyDOS ,
Thank you for reaching out to us. The reasons and solutions for different "outputs" from "Run Code" and "Submit" are well documented in [this support article](https://support.leetcode.com/hc/en-us/articles/360011834174-I-encountered-Wrong-Answer-Runtime-Error-for-a-specific-test-case-When-I-test-my-code-using-this-test-case-it-produced-the-correct-output-Why-). Please check it out.

[2020-05-06 21:22] #268 closed

[2020-05-06 21:38] CooperCooperCooper commented on #270
Hi @guneykayim ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-06 21:40] CooperCooperCooper commented on #271
Hi @aleacosta5 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-06 21:42] CooperCooperCooper commented on #272
Hi @orbitbyrd ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-06 21:49] CooperCooperCooper commented on #273
Hi @orbitbyrd ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-06 21:50] CooperCooperCooper commented on #274
Hi @sahajb ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-06 22:16] CooperCooperCooper commented on #241
Hi @dgithq ,
Thank you for reaching out to us. I've filed this feature request to our team to consider.

We appreciate your time and support. If you have any other suggestions, please don't hesitate to let us know.

[2020-05-06 22:16] #241 closed

[2020-05-07 01:43] lidaqi001 opened #275 "代码模版错误-环形链表"
** Bug 类型**
- [ ✔] 题目

**描述**
环形链表代码模版错误
url：https://leetcode-cn.com/explore/interview/card/top-interview-questions-easy/6/linked-list/46/

**你使用的语言**
php

**期望行为**
修复模版

**屏幕截图**
![image](http://image.ldqsdy.com/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200507093819.png)

[2020-05-07 02:25] feiceh commented on #275
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-05-07 03:35] feiceh commented on #222
您好，这个题 idea 比较老了，我们暂不会纳入题库，感谢您对力扣的支持，祝刷题愉快 ^３^ ╱~~　

[2020-05-07 03:36] #222 closed

[2020-05-07 03:37] feiceh commented on #224
fixed

[2020-05-07 03:37] #224 closed

[2020-05-07 03:43] feiceh commented on #229
你好，该题目技术验证没有问题的，后续刷题学习中遇到困难，可以通过阅读题目评论和题解看到一些解题思路哦～

[2020-05-07 03:43] #229 closed

[2020-05-07 03:44] feiceh commented on #259
你好，该题目技术验证没有问题的，请仔细阅读理解题目意思。后续刷题学习中遇到困难，也可以通过阅读题目评论和题解看到一些解题思路哦～

[2020-05-07 03:44] #259 closed

[2020-05-07 03:46] feiceh commented on #275
你好，该题目技术验证没有问题的，请仔细阅读理解题目意思。后续刷题学习中遇到困难，也可以通过阅读题目评论和题解看到一些解题思路哦～

[2020-05-07 03:46] #275 closed

[2020-05-07 07:25] feiceh commented on #240
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-05-07 12:35] vezcraz commented on #242
Thank you for resolving the issue

[2020-05-07 17:30] #257 closed

[2020-05-07 18:35] CooperCooperCooper commented on #270
Hi @
Thanks to your timely feedback, we've fixed the issue! Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 18:35] #270 closed

[2020-05-07 20:17] leet212 commented on #244
Hello @CooperCooperCooper . Could you clarify the above query?

[2020-05-07 20:38] AbbyDeng opened #276 "658. Find K Closest Elements - Wrong Test Cases"
**Passed Answer with LeetCode Expecting a Different Answer for a Test Case**
- [ ] [658. Find K Closest Elements](https://leetcode.com/problems/find-k-closest-elements/)
- [ ] in the "The code you submit/run" section
- [ ] Java

**Describe the bug**
My code passed as a right answer, however, when I was debugging, I found a test case where my code gave the right result but LeetCode was expecting a

[2020-05-07 21:31] CooperCooperCooper commented on #223
Hi @abhasg ,
Thank you for your time. We've fixed this issue and the outputs and expected results are back to normal now.

This issue is found to be non-content-related (the issue stems from an origin away from the content on this problem); therefore, it's not valid for content contribution. We appreciate your support and understanding.

[2020-05-07 21:31] #223 closed

[2020-05-07 21:31] CooperCooperCooper commented on #242
Hi @vezcraz ,
Thank you for your time. We've fixed this issue and the outputs and expected results are back to normal now.

This issue is found to be non-content-related (the issue stems from an origin away from the content on this problem); therefore, it's not valid for content contribution. We appreciate your support and understanding.

[2020-05-07 21:31] #242 closed

[2020-05-07 21:33] CooperCooperCooper commented on #265
Hi @bittukumarray ,
Thank you for your time. We've fixed this issue and the outputs and expected results are back to normal now.

This issue is found to be non-content-related (the issue stems from an origin away from the content on this problem); therefore, it's not valid for content contribution reward. We encourage you to share other content-related issues here with us for valid content contrib

[2020-05-07 21:33] #265 closed

[2020-05-07 21:35] CooperCooperCooper commented on #267
Hi @singinzrain ,

Thank you for your time. We've fixed this issue and the outputs and expected results are back to normal now.

This issue is found to be non-content-related (the issue stems from an origin away from the content on this problem); therefore, it's not valid for content contribution reward. We encourage you to share other content-related issues here with us for [valid content contrib

[2020-05-07 21:35] #267 closed

[2020-05-07 21:37] CooperCooperCooper commented on #159
Hi @andrebautista ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 21:37] #159 closed

[2020-05-07 21:40] CooperCooperCooper commented on #192
Hi @shaurya10000 ,
Thank you for your time. Our team wants to share the memory usage is expected. Max value of n is 100. With that much size, m*n would take like 80KB or so; therefore, it gets dominated by our internal structures. Increasing the n may help.

Due to technicalities, we will not change the size of m and n. We appreciate your support and understanding.

[2020-05-07 21:40] #192 closed

[2020-05-07 21:47] CooperCooperCooper commented on #228
Hi @
Thank you for your time. We've used your feedback to update the variable name. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 21:47] #228 closed

[2020-05-07 21:48] CooperCooperCooper commented on #261
Hi @
Thank you for your time. We've removed some test cases to allow in-place solution work without overflow. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 21:48] #261 closed

[2020-05-07 21:51] CooperCooperCooper commented on #251
Hi @
Thank you for your time. Upon reviewing the submitted information, we found you're missing an important part of the statement "Given a positive integer". Please update your code accordingly. We appreciate your support.

[2020-05-07 21:51] #251 closed

[2020-05-07 21:52] CooperCooperCooper commented on #273
Hi @orbitbyrd ,
Thank you for your time. We've decided to keep the problem as is due to the team's design decision. We appreciate your support and understanding.

[2020-05-07 21:52] #273 closed

[2020-05-07 22:03] CooperCooperCooper commented on #272
Hi @orbitbyrd ,

Thank you for your time. It is expected that runtime and memory usage for each program will vary with each execution,  and executions on different computers will also cause different results for the same code. Therefore, we've decided to keep the problem as-is for now. Thank you for your support and understanding.

[2020-05-07 22:03] #272 closed

[2020-05-07 22:03] CooperCooperCooper commented on #271
Hi @
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 22:03] #271 closed

[2020-05-07 22:12] CooperCooperCooper commented on #266
Hi @
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 22:12] #266 closed

[2020-05-07 22:12] CooperCooperCooper commented on #264
Hi @
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 22:12] #264 closed

[2020-05-07 22:19] CooperCooperCooper commented on #263
Hi @VarunTvlka ,
Thank you for your time. To help us further assess this issue, can you please share which test case(s) your code is not passing?

[2020-05-07 22:26] CooperCooperCooper commented on #244
Hi @leet212 ,
Please use the email provided, which will submit a support request ticket to our Zendesk channel. Thank you.

[2020-05-07 22:32] leet212 commented on #244
Thanks for the reply @CooperCooperCooper . I will submit it through the email provided.

[2020-05-07 22:36] CooperCooperCooper commented on #253
Hi @modinitin13 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 22:42] NishadKumar commented on #251
@CooperCooperCooper sounds good and thanks for the clarification. I tried zero assuming it to be a positive integer.  :)

[2020-05-07 22:44] CooperCooperCooper commented on #249
Hi @cyt3ea ,
Thank you for your time. When we tested your code on the same test case, it generated "Wrong Answers" for both Run Code and Submit. Therefore, please review your code thoroughly. Here's a [highly up-voted post](https://leetcode.com/problems/pacific-atlantic-water-flow/discuss/90733/Java-BFS-and-DFS-from-Ocean) that walks through solutions in Java, please check it out.

We appreciate y

[2020-05-07 22:44] #249 closed

[2020-05-07 22:49] CooperCooperCooper commented on #252
Hi @leet212 ,
Thank you for your time. You're right that these two problems are very similar to each other; however, due to the problem conditions, [Distand Barcodes](https://leetcode.com/problems/distant-barcodes/) is more difficult than [Reorganize String](https://leetcode.com/problems/reorganize-string/), which makes them different from each other. Therefore, we've decided to keep these two pro

[2020-05-07 22:49] #252 closed

[2020-05-07 22:59] CooperCooperCooper commented on #258
Hi @tripathysa ,

Thank you for your time. Upon investigating this issue, we found this issue to be non-content-related (the issue stems from an origin away from the content on this problem); therefore, it's not valid for content contribution reward.

We encourage you to share more content-related issues here with us for [valid content contribution rewards](https://leetcode.com/discuss/general-dis

[2020-05-07 22:59] #258 closed

[2020-05-07 22:59] CooperCooperCooper commented on #165
Hi @ashwini571 ,

Thank you for your time. Upon investigating this issue, we found this issue to be non-content-related (the issue stems from an origin away from the content on this problem); therefore, it's not valid for content contribution reward.

We encourage you to share more content-related issues here with us for [valid content contribution rewards](https://leetcode.com/discuss/general-dis

[2020-05-07 22:59] #165 closed

[2020-05-07 23:01] CooperCooperCooper commented on #245
Hi @Mohit-Patil ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 23:01] #245 closed

[2020-05-07 23:01] CooperCooperCooper commented on #247
Hi @mdtareque ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 23:01] #247 closed

[2020-05-07 23:02] CooperCooperCooper commented on #243
Hi @leet212 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 23:02] #243 closed

[2020-05-07 23:08] CooperCooperCooper commented on #237
Hi @MoustafaMahmoud769 ,

Thank you for your time. We were unable to reproduce this issue on our end. If the issue persists or occurs again, please don't hesitate to tag me here again. We appreciate your support.

[2020-05-07 23:08] #237 closed

[2020-05-07 23:20] CooperCooperCooper commented on #236
Hi @toxeed ,
Thank you for your time. Your submission is missing this constraint:

Please update it accordingly. We appreciate your support.

[2020-05-07 23:20] #236 closed

[2020-05-07 23:21] CooperCooperCooper commented on #233
Hi @agatagruza ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 23:21] #233 closed

[2020-05-07 23:24] CooperCooperCooper commented on #232
Hi @ritusingh208 ,
Upon investigating this issue, we were unable to reproduce the issue as the provided given code gets Accepted and return 8 on the given test case (which doesn't show unexpected behavior). Please provide us with the submission code/ solution(s) that fails this test case so we can take a deeper look into it. Thank you.

[2020-05-07 23:25] CooperCooperCooper commented on #235
Hi @coderansu ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 23:25] CooperCooperCooper commented on #246
Hi @gannaramu ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 23:25] #246 closed

[2020-05-07 23:25] CooperCooperCooper commented on #248
Hi @modinitin13 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 23:25] #248 closed

[2020-05-07 23:26] CooperCooperCooper commented on #218
Hi @
Thank you for your time. We've used your feedback to update the article. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 23:26] #218 closed

[2020-05-07 23:27] CooperCooperCooper commented on #239
Hi @Chinmayswaroop ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-07 23:27] #239 closed

[2020-05-07 23:31] CooperCooperCooper commented on #189
Hi @gvshiva ,
Thank you for your time. It is expected that runtime and memory usage for each program will vary with each execution,  and executions on different computers will also cause different results for the same code. Therefore, to improve on your submission runtime, we highly suggest you check out as many recent and highly-upvoted solution posts in the problem discuss sections as possible t

[2020-05-07 23:31] #189 closed

[2020-05-08 00:09] CooperCooperCooper commented on #203
Hi @
Thank you for your time. We've used your feedback to update the problem, which now has a [different URL](https://leetcode.com/problems/constrained-subsequence-sum/). Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-08 00:09] #203 closed

[2020-05-08 00:11] CooperCooperCooper commented on #216
Hi @RatnadeepSimhadri  ,

Thank you again for reaching out to us previously! Since you have not responded to this ticket for a while, hopefully, the issue has been resolved for you on your end. But if this issue still persists, please feel free to re-open this ticket and share more details with us.

[2020-05-08 00:11] #216 closed

[2020-05-08 00:19] #253 closed

[2020-05-08 00:22] CooperCooperCooper commented on #256
Hi @r2roesk ,

Thank you for your time. Upon our investigation, the test case [9,2] is not failing with the submitted code.

In the future, please consider submitting the submission code in the submission link format like this: https://leetcode.com/submissions/detail/335570343/. This helps us to assess and target the issue quickly.

If you have any other questions about this issue, please feel fre

[2020-05-08 00:24] CooperCooperCooper commented on #255
Hi @ilyas409 ,
Thank you for your time. Upon reviewing the submitted information, we found you're missing an important part of the statement "Given a positive integer". Please update your code accordingly. We appreciate your support.

[2020-05-08 00:24] #255 closed

[2020-05-08 04:45] xor1011 opened #277 "Something wrong with leetcode C compiler"
**What kind of the bug**
Memory Dump/Compiler error when attempting run the code on leetcode.

**Describe the bug**
There is no issue beyond some warnings when the code is ran with GCC, yet the code will not work on the leetcode platform.

**what language is your code written in**
C

**The code you submit/run**
[code]

**Expected behavior**
Input a character string "Hello friend"
print a character

[2020-05-08 07:54] Jazzinghen opened #278 "Additional test cases in "Check if it is a straight line""
## What kind of the bug
- [ ] problem
- [✔️] solution
- [ ] language

## Description
Some of the faster solutions do not consider straight vertical lines (i.e. all points on x)

[This is the problem][1]

## What language is the code of the broken solutions
C++

## The submitted code
[code]

## Expected behavior
Due to how `m` (or the function slope) is computed here, the division `m = (num/den);`

[2020-05-08 08:08] sasa-stanko commented on #278
By IEEE 754 standard, dividing finite non-zero floating point by zero doesn't throw exception. Instead it returns +/- infinity. So this part of the code is correct.

It also gives correct answer (true) if all the points are on the vertical line. Where it fails is if some points are on the vertical line and some are not. For example, (1,0), (1,1), (2,2).

[2020-05-08 08:09] agatagruza commented on #233
Thank you @CooperCooperCooper for the update.

[2020-05-08 09:00] Jazzinghen commented on #278
Oh, I found why I was having issues.
I am going back to integer representation during point checks to have a consistent variable type to check them.
Thanks for pointing me in the right direction.

[2020-05-08 09:00] #278 closed

[2020-05-08 11:32] AnthonyMikh commented on #278
@sasa-stanko actually it is incorrect. The problem is that calculated slope of line in this corner case depends not only on coordinates of point but also on their mutual arrangement. For example, in test case
[code]
the calculated slope between first and second points is positive infinity but calculated slope between first and third points is negative infinity, even though all three points lie on

[2020-05-08 12:44] kb54 commented on #278
@AnthonyMikh completely agreed.
Here is one among the many of the c++ accepted solutions which fails over your provided test case.
[code]

[2020-05-08 17:14] sureshiyengar opened #279 "Runtime information C++"
Since past few weeks, I am observing high variability in the runtime information (C++) on submission. For instance, for one of the code (which I know is optimum and matches the fastest submission), the runtime showed various info ranging from "faster than ~20%" to faster than ~94% of C++ online submissions.

Are others facing this issue?

[2020-05-08 21:16] CooperCooperCooper commented on #277
Hi @xor1011 ,
Thank you for reaching out. May I ask which problem did you encounter this error at?

[2020-05-08 21:21] CooperCooperCooper commented on #279
Hi @sureshiyengar ,
Thank you for reaching out. For this issue, please reach out to our main support channel "support@leetcode.com" for more information. We appreciate your time and support.

[2020-05-08 21:21] #279 closed

[2020-05-09 00:51] ecmarsh opened #280 "1421. NPV Queries - Indeterministic Judge"
**What kind of the bug**
- [X] problem
- [ ] solution
- [ ] language

**Describe the bug**
The OJ is not deterministic. Same code gave different results.

**what language is your code written in**
MSSQL

**The code you submit/run**
[code]

**Expected behavior**
The same solution to return the same result (accepted/error/fail).

**Screenshots**

**Submission accepted**:
<img width="1176" alt="1421_

[2020-05-09 01:46] xor1011 commented on #277
the first recursion problem where you reverse a word.
https://leetcode.com/explore/featured/card/recursion-i/250/principle-of-recursion/1440/

On Fri, May 8, 2020 at 11:16 AM CooperCooperCooper <notifications@github.com>
wrote:

[2020-05-09 02:34] xor1011 opened #281 "Unique Bug in Two Sum Problem"
**What kind of the bug**
The code I wrote works for basically every test case, except one. I cannot figure out why that would be, maybe someone can help.

**Describe the bug**
Wrote an iterative function to add every pair of elements in a vector and then compare with the target. Program works except with the input [3,2,4] target=6
It worked with other 3 element inputs, and larger inputs with diffe

[2020-05-09 03:00] feiceh commented on #240
已修复

[2020-05-09 03:00] #240 closed

[2020-05-09 03:00] feiceh commented on #186
已修复

[2020-05-09 03:01] #186 closed

[2020-05-09 05:50] Michael-Jing opened #282 "1172.Dinner Plate Stacks Missing Testcase"
**What kind of the bug**
- TestCase

**Describe the bug**
My code got accepted, but it could cause runtime error in the following testcase
[code]
**what language is your code written in**
Python3

**The code you submit/run**
[code]

**Expected behavior**
giving the testcase I provided, the code cause runtime error, because there's logic error in it.

[2020-05-09 06:30] orbitbyrd opened #283 "O(N) solution beats O(LogN) solution in problem 35"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [ ] language

**Describe the bug**
A clear and concise description of what the bug is.

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additi

[2020-05-09 08:54] imlgw opened #284 "652. 寻找重复的子树 测试用例不全"
**Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
我又来了，652. 寻找重复的子树 这题的case不全，在用字符串序列化子树的时候不用加分隔符都可以AC，我以为会卡这个，试了下居然没卡

**你使用的语言**
Java

**你提交或者运行的代码**
652. 寻找重复的子树 AC 的 错误代码
[code]

**期望行为**
加入 `[2,1,11,11,null,1]` 类似的CASE
![YlFa6K.png](https://s1.ax1x.com/2020/05/09/YlFa6K.png)
**屏幕截图**
![YlkoDO.png](https://s1.ax1x.com/2020/05/09/YlkoDO.png)
**额外的上下文**
话说提交case是不是应该有奖励呀😆

[2020-05-09 10:07] feiceh commented on #284
感谢反馈，此问题已转给题目运营团队会尽快确认的～
如果后续评估后添加了测试用例，可以提供一下力扣 ID 我会帮你申请积分奖励的。

[2020-05-09 11:57] modinitin13 opened #285 "934. Shortest Bridge"
**What kind of the bug**
The problem statement.

**Describe the bug**
According to the problem statement, the constraints are 1 <= A.length = A[0].length <= 100 but for the problem A.length can never be equal to one so it should be updated to  2 <= A.length = A[0].length <= 100

**what language is your code written in**
C++

**The code you submit/run**
'''
'''

**Expected behavior**
A clear and co

[2020-05-09 12:10] gptSanyam opened #286 "856. Score of Parentheses - Missing Test Case"
**What kind of the bug**
A test case is missing

**Describe the bug**
On submitting the following code I got **Success** but the method fails for certain inputs.
Eg. for the following case, my code fails.
"((((((())))()())))"
For this case score should be 80, but my method output was 41.

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Screenshots**
<img width

[2020-05-09 20:35] KevinColemanInc commented on #225
I think this might be the same problem but [Today's May challenge](https://leetcode.com/explore/challenge/card/may-leetcoding-challenge/535/week-2-may-8th-may-14th/3324/) says my output is the expected answer, but it doesn't give me credit.

In the screen capture below, my program exceeded the time limit and the expected answer is "Time Limit Exceeded"

<img width="965" alt="image" src="https://us

[2020-05-10 00:30] ykvalera opened #287 "Intersection of Two Linked Lists has wrong explanation and wrong test expected value"
**What kind of the bug**
- [ ] solution

**Describe the bug**
Intersection for lists: listA=[4,1,8,4,5], listB=[5,0,1,8,4,5] should start from 1 instead of 8. Both explanation and test expected value is wrong.

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
Intersection for lists: listA=[4,1,8,4,5], listB=[5,0,1,8,4,5] should start from 1

[2020-05-10 03:01] CooperCooperCooper commented on #254
Hi @leet212 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-10 03:01] #254 closed

[2020-05-10 03:06] CooperCooperCooper commented on #225
Hi @KevinColemanInc ,
Thank you for your time. The behavior of the judge is expected according to our current assumptions. However, We've updated the code definitions on python and python3. Please check out the problem now. We appreciate your support.

[2020-05-10 03:07] CooperCooperCooper commented on #276
Hi @AbbyDeng ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-10 03:07] #276 closed

[2020-05-10 03:09] CooperCooperCooper commented on #238
Hi @abhi2196 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-10 03:09] #238 closed

[2020-05-10 03:36] CooperCooperCooper commented on #277
Hi @xor1011 ,
Thank you for the clarification. Address sanitizer errors mean that during C/C++ runtime it caught invalid memory access in the program and this most commonly caused by an out-of-bounds array index access. In another word, your code needs to be revised so it will not use as much memory space as it does now. Hope this explanation helps.

[2020-05-10 03:36] #277 closed

[2020-05-10 03:47] CooperCooperCooper commented on #280
Hi @ecmarsh ,
Thank you for reaching out to us. We tested your code with Run Code and Submit for numerous times but we were not able to reproduce the Runtime Error. Have you been able to reproduce the Runtime Error since you've submitted this ticket?

[2020-05-10 04:00] CooperCooperCooper commented on #281
Hi @xor1011 ,
Thank you for reaching out to us. Since figuring out the reason why your code does not work is a part of the learning process on LeetCode, please check out other users' solutions for this problem for more information. Here's a [post](https://leetcode.com/problems/two-sum/discuss/674/C%2B%2B-one-pass) of C++ explanation for this problem. Please feel free to check out the other C++ pos

[2020-05-10 04:00] #281 closed

[2020-05-10 04:09] KevinColemanInc commented on #225
@CooperCooperCooper Any ideas why my code didn't get marked as pass? It says the expected answer was "Time Limit Exceeded" which I did.

[2020-05-10 04:33] CooperCooperCooper commented on #282
Hi @Michael-Jing ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-10 04:35] CooperCooperCooper commented on #283
Hi @orbitbyrd ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-10 04:36] CooperCooperCooper commented on #285
Hi @modinitin13 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-10 04:44] CooperCooperCooper commented on #286
Hi @gptSanyam ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-10 04:47] CooperCooperCooper commented on #287
Hi @ykvalera ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-10 05:45] Zhenghao-Liu opened #288 "188场周赛t3.收集树上所有苹果的最少时间"
** Bug 类型**
- [x] 测试样例

**描述**
测试样例没有考虑到[0]不一定是父节点[1]不一定是子节点的问题
[code]
**你使用的语言**
C++

**你提交或者运行的代码**

**期望行为**
描述你期望的结果

**屏幕截图**
添加屏幕截图辅助我们帮你定位问题

**额外的上下文**
添加额外的上下文信息

[2020-05-10 10:26] AnthonyMikh opened #289 "Insufficient test cases for "Check If It Is a Straight Line" problem"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
As it was pointed out in #278, "Check If It Is a Straight Line" problem lacks a test case where all the points lie on vertical line. Some solutions calculate the slope of line by dividing the differences of coordinates and thus break on this test case. For example, the following top Rust solutions sample:
[c

[2020-05-10 12:50] dpjha84 opened #290 "120. Traingle - Description not clear"
**What kind of the bug**
- Description is not clear.

**Describe the bug**
Description is not clear. Please add more example to make it clear.

**what language is your code written in**
C#

[2020-05-10 13:43] iankit3 opened #291 "Missing test case - Find the Town Judge"
**Missing test case**
- [X] problem
- [ ] solution
- [ ] language

**Describe the bug**
A test case is missing which is letting some incomplete solutions pass.

**what language is your code written in**
Javascript

**The code you submit/run**
[code]

**Expected behavior**
This submission shouldn't be accepted as it fails for test case
2
[]

**Screenshots**
None

**Additional context**
Have raised

[2020-05-10 16:38] singku-china opened #292 "636. [Exclusive Time of Functions] Wrong Expected Test Result"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
A clear and concise description of what the bug is.
Made up test case:
[code]

The  result should be:
[13, 12, 69]

But the expected result is:
[13,12,72]

Note that if we split the test case to be two isolated parts to:
[code]
and
[code]
Both of them are calculated correctly.

Obviously, the gap units (3) b

[2020-05-10 18:46] saurabhmarpadge opened #293 "666. Path Sum IV [Input Parser/Accepting Invalid Input]"
**What kind of the bug**
- [ ] Solution gets accepted even after Wrong Answer Verdict.
- [ ] Judge should throw invalid input exception.
- [ ] Invalid Input Parser
- [ ] Java

**Describe the bug**
If we pass input for a tree with level 1, 3 skipping level 2 which is not a valid tree.
As level 3 can't have null parents.

**Current test judge accepts Invalid input and doesn't throw an error but show

[2020-05-10 20:36] urnot67 opened #294 "1232. [Check If It Is a Straight Line] Incorrect solution was accepted because of insufficient test case"
**What kind of the bug**
- [ ] test case is insufficient

**Describe the bug**
A clear and concise description of what the bug is.
  An incorrect solution was accepted and listed as an example solution because of insufficient test case

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
A clear and concise description of what you expected to ha

[2020-05-11 00:50] zainuel opened #295 "Insufficient test cases for "Cousins in Binary Tree" problem"
**What kind of the bug**
- [x] problem
- [x] solution
- [ ] language

**Describe the bug**
Example Test Case :  [1,4,3,null,4,null,5]
4
5
Imagine if the tree consists two nodes x and y (consider 4 and 5 from the above test case) in the left and right sub tree on the same depth with different parent, but if in any of the sub trees if there exists any other node with the same value of either x or y

[2020-05-11 02:41] feiceh commented on #288
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-05-11 08:21] leet212 opened #296 "488. Zuma Game"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Missing edge test cases.

**what language is your code written in**
Python

**The code you submit/run**
[code]

**Expected behavior**
Test case:
""
"R"

Output:
-1

Expected output:
0

The solution is accepted but fails for this test case because it does no check on whether the initial state is equal to the

[2020-05-11 08:36] leet212 opened #297 "756. Pyramid Transition Matrix"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Problem has incorrect and ambiguous tag in related topic.

**what language is your code written in**
Python

**The code you submit/run**
[code]

**Expected behavior**
DFS and Bit manipulation are the tags in related topic. But the problem can only be solved using DFS or backtracking. I think the tag was left

[2020-05-11 16:31] #292 closed

[2020-05-11 16:48] albertplus007 opened #298 "Weak testcase for the problem 1443"
**Weak testcase for the problem [1443](https://leetcode.com/problems/minimum-time-to-collect-all-apples-in-a-tree/)**

**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
the description of the problem is ambiguous.

we can say root of the tree is `0`, or add more testcase
[code]

**what language is your code written in**
C++

**The code you submit/run**
[cod

[2020-05-11 19:09] ecmarsh commented on #280
@CooperCooperCooper I haven't been able to reproduce it. Thought it may have been a small bug hidden somewhere, but if it was a one-time thing, I'll go ahead and close it out. Thanks for checking!

[2020-05-11 19:09] #280 closed

[2020-05-11 20:15] devenps opened #299 "149. Max Points on a Line [Missing Test Cases]"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Incorrect solution is accepted because of insufficient test case.
Test case: [[1,1],[1,1],[0,0],[3,4], [4,5],[5,6],[7,8],[8,9]] which is missing.

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
This test case should return 5 but my above code is retu

[2020-05-11 20:52] pritesh-chauhan opened #300 "Not getting Details regarding the failed test case"
Problem 507

Below is the issue I am facing submitting the solution.
If I try to submit the solution then sometimes it fails at test case number 56 or 57 and if that particular input is given as the custom test case then it is accepted. After this, if I try to submit the solution both 56 and 57 test cases are passed but it fails at 156 test case number for which I am not getting any details why it

[2020-05-12 01:01] CooperCooperCooper commented on #287
Hi @ykvalera ,
Thank you for your time. We found the issue to be invalid. Please check out this [highly-upvoted post ](https://leetcode.com/problems/intersection-of-two-linked-lists/discuss/49785/Java-solution-without-knowing-the-difference-in-len!)for more help on successfully solving this problem.

[2020-05-12 03:23] CooperCooperCooper commented on #286
Hi @gptSanyam ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-12 03:23] #286 closed

[2020-05-12 03:23] CooperCooperCooper commented on #285
Hi @modinitin13 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-12 03:23] #285 closed

[2020-05-12 03:25] CooperCooperCooper commented on #283
Hi @orbitbyrd ,
To help us further assess this issue, would you please provide the related submitted code and what language it was written in here with us? Thank you.

[2020-05-12 03:25] CooperCooperCooper commented on #282
Hi @Michael-Jing ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-12 03:25] #282 closed

[2020-05-12 03:33] CooperCooperCooper commented on #289
Hi @AnthonyMikh ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-12 03:40] CooperCooperCooper commented on #290
Hi @dpjha84 ,
Thank you for reaching out to us. To help us assess this issue, would you please point out which section of the description is not clear? It would be really helpful for us to make changes happen if you can provide examples of how the description should be changed into. We appreciate your support!

[2020-05-12 03:41] CooperCooperCooper commented on #291
Hi @iankit3 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-12 03:45] CooperCooperCooper commented on #293
Hi @saurabhmarpadge ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-12 03:49] CooperCooperCooper commented on #294
Hi @urnot67 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-12 03:53] CooperCooperCooper commented on #295
Hi @zainuel ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-12 03:55] CooperCooperCooper commented on #296
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-12 03:57] CooperCooperCooper commented on #297
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-12 03:58] CooperCooperCooper commented on #298
Hi @albertplus007 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-12 04:02] CooperCooperCooper commented on #299
Hi @devenps ,
Thank you for reaching out to us. Would you please put the mentioned test case under "Describe the Bug" section? Thank you :)

[2020-05-12 04:04] CooperCooperCooper commented on #300
Hi @
Thank you for reaching out to us. Please share the mentioned code in the format mentioned in this [post](https://github.com/LeetCode-Feedback/LeetCode-Feedback/blob/master/.github/ISSUE_TEMPLATE/bug-report--english-.md). It will help us pin-point the issue quickly.

[2020-05-12 05:26] coderansu opened #301 "Incorrect test case in find duplicate subtrees"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Please see: https://leetcode.com/problems/find-duplicate-subtrees
One test case that fails, seems to be missing a duplicate tree [2,3,0] from the result set

**what language is your code written in**
C#

**The code you submit/run**
[code]

**Expected behavior**
Expected all test cases to pass, but the follow

[2020-05-12 07:05] TaroFIN opened #302 "Diameter of Binary Tree 測資解答錯誤"
** Bug 类型**
- [ ] 题目
- [x] 题解
- [ ] 编程语言

**描述**
描述你遇到的 bug
Diameter of Binary Tree 測資解答錯誤
**你使用的语言**
C#

**你提交或者运行的代码**
[code]

**期望行为**
描述你期望的结果
Your input
[4,-7,-3,null,null,-9,-3,9,-7,-4,null,6,null,-6,-6,null,null,0,6,5,null,9,null,null,-1,-4,null,null,null,-2]
Output
7
Expected
8
**屏幕截图**
添加屏幕截图辅助我们帮你定位问题

**额外的上下文**
題目要求總和左右兩節點之總長度，畫圖後怎麼計算皆是7，不知道8這個數字怎麼來的?

[2020-05-12 07:49] feiceh commented on #288
感谢反馈，为了快速验证和精准的定位问题，详细描述问题的同时请提供一下代码以获得更好的支持哟～

[2020-05-12 07:57] Jun711 opened #303 "997. Find the Town Judge"
**What kind of the bug**
- [X] problem
- [X] solution
- [ ] language

**Describe the bug**
A clear and concise description of what the bug is.
The problem description says that
[code]
And, there is a note at the bottom saying that
[code]

What should the result be if the test case contain `trust[i][0] == trust[i][1]`?
Shouldn't the result be -1 according to the description?
This test case setup ba

[2020-05-12 08:03] Zhenghao-Liu commented on #288
来自于点赞最多的一篇题解的代码
[code]

测试样例
[code]

跑出来结果
[code]

题目没有明确说明序号的排序可能，所以fromi，toi无法判定在以根是0的前提下，那个是父节点哪个是子节点

[2020-05-12 08:12] Zhenghao-Liu commented on #288
1. 测试样例图片
![测试样例图片](https://user-images.githubusercontent.com/37463792/81658181-1e5c5300-946b-11ea-9786-e784723c7864.png)

2. 错误代码提交结果图
![错误代码提交结果图](https://user-images.githubusercontent.com/37463792/81658190-20bead00-946b-11ea-9169-6b4fd90b93da.png)

3. 正确代码提交结果图
![正确代提交结果图](https://user-images.githubusercontent.com/37463792/81658196-21574380-946b-11ea-89ad-3ac163fc9168.png)

4. 错误原因：默认了edges[i][

[2020-05-12 08:19] Zhenghao-Liu commented on #288
正确运行的代码1：由苹果到根
[code]

正确代码2：由根到苹果
[code]

[2020-05-12 09:05] feiceh commented on #302
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-05-12 09:50] devenps commented on #299
@CooperCooperCooper added

[2020-05-12 10:13] feiceh commented on #288
你好，该题目技术验证没有问题的，请仔细阅读理解题目意思，题目中有写 from_i < to_i

[2020-05-12 10:52] albertplus007 commented on #298
**Describe the bug**

add some detail:
the problem describe `undirected tree`, so i think add the following testcase:

[code]
and the problem doesn't say which one is root, this problem make the same mistake as the problem [1361. Validate Binary Tree Nodes](https://leetcode.com/problems/validate-binary-tree-nodes/) which is add more testcase.
the problem  [1361discuss](https://leetcode.com/problem

[2020-05-12 10:52] Zhenghao-Liu commented on #288
3
[[0,2],[1,2]]
[false,true,false]
0<2
1<2
都满足fromi<toi

[2020-05-12 10:55] Zhenghao-Liu commented on #288
美服也有个人反应同样的问题啊

[2020-05-12 11:01] Zhenghao-Liu commented on #288
[code]
能否将题目的描述更为清晰一点，这个连接能不能说清楚是无向图的连接，还是由根节点到达叶节点的连接

[2020-05-12 11:05] feiceh commented on #288
感谢反馈，会转给题目运营团队优化题面的～

[2020-05-12 14:22] mohasivakumar opened #304 "334. https://leetcode.com/problems/increasing-triplet-subsequence/"
**Describe the bug**
A clear and concise description of what the bug is.

**what language is your code written in**
Kotlin

**The code you submit/run**
[code]

**Expected behavior**
For test case [1,2,-10,-8,-7] it should fail as per problem description
Given an unsorted array return whether an increasing subsequence of length 3 exists or not in the array.

Formally the function should:

Return tr

[2020-05-12 17:03] CooperCooperCooper commented on #214
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-12 17:03] CooperCooperCooper commented on #214
Hi @leet212 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-12 17:03] #214 closed

[2020-05-12 18:11] CooperCooperCooper commented on #219
Hi @leet212 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-12 18:11] #219 closed

[2020-05-12 18:15] CooperCooperCooper commented on #304
Hi @mohasivakumar ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-12 20:39] ykvalera commented on #287
Thanks for the pointing to the post. Before I check any existing solution, I try to solve task by myself. The instruction for this task is not clear and they do not explain that "solution code should compare nodes by '==', but test result is compared like someInteger == returnedNode.value". I mean people should solve clear determined tasks instead of checking already done solutions and figuring ou

[2020-05-12 21:30] tripathysa commented on #258
its still a bug..So hope you're fixing it

[2020-05-13 02:37] Zhenghao-Liu commented on #298
Agree ,bro.
I provided the same [issue](https://github.com/LeetCode-Feedback/LeetCode-Feedback/issues/288).
But this test sample has caused a lot of controversy.

[2020-05-13 05:35] Gokulkkr12 opened #305 "Insufficient test cases for "540. Single Element in a Sorted Array""
**Insufficent Test Case**

**Description**
Tried upon my own testcases to run the code after knowing I missed the logic of a corner case in my algorithm.
Still leetcode accepted the solution.

**Language**
Python 3

**The code you submit/run**
[code]

**Expected behavior**
Above code runs iteratively with a step of 2 and calculates sum of two elements if the sum
founds to be odd then there will be

[2020-05-13 08:01] liangteng opened #306 "220. Contains Duplicate III 补充测试用例"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
由于测试用例缺失，以下不正确的解法可以AC。
补充3个测试用例：
https://leetcode-cn.com/contribute/4672
https://leetcode-cn.com/contribute/4673
https://leetcode-cn.com/contribute/4674

**你使用的语言**
C++

**你提交或者运行的代码**
[code]

**期望行为**
以上解法不能通过新补充的3个TestCase，不能AC

**屏幕截图**
1）以上解法能跑过现有的测试用例，并被AC
![image](https://user-images.githubusercontent.com/8230627/81786946-eae4fb80-9532-11ea-8b

[2020-05-13 23:05] CooperCooperCooper commented on #293
Hi @saurabhmarpadge ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-13 23:05] #293 closed

[2020-05-13 23:07] CooperCooperCooper commented on #294
Hi @urnot67 ,
Thank you for your time. We've previously updated the problem using another feedback submitted to us slightly before this issue was shared here, so this issue is now fixed. We appreciate your time and support.

[2020-05-13 23:07] #294 closed

[2020-05-14 00:06] CooperCooperCooper commented on #305
Hi @Gokulkkr12 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-14 00:07] CooperCooperCooper commented on #295
Hi @zainuel ,
Thank you for your time. Upon a thorough review of this issue, we found the given test case is invalid because the problem statement is very clear that the tree has unique values. We appreciate your time and support.

[2020-05-14 00:07] #295 closed

[2020-05-14 00:09] CooperCooperCooper commented on #297
Hi @leet212 ,
Thank you for your time. Upon reviewing this problem, we found it has some bitwise based solutions. Therefore, the tags will remain the same for now. We appreciate your support and understanding.

[2020-05-14 00:09] #297 closed

[2020-05-14 00:20] CooperCooperCooper commented on #296
Hi @leet212,
Thank you for your time. Upon reviewing this issue, we found the issue to be stemmed from a different source, so we've decided to not add the test case for now. We appreciate your support and understanding.

[2020-05-14 00:20] #296 closed

[2020-05-14 02:49] r2roesk commented on #256
Hi. It does fail. Sorry you have to use array elements that their sum is odd. Try [9,3]

[2020-05-14 02:50] r2roesk commented on #256
@CooperCooperCooper also that link is 404

[2020-05-14 02:56] feiceh commented on #288
fixed

[2020-05-14 02:56] #288 closed

[2020-05-14 02:58] feiceh commented on #284
已修复。可以提交工单（https://support.leetcode-cn.com/hc/request/new/）提供一下力扣 ID ，帮你申请积分奖励哦～

[2020-05-14 02:58] #284 closed

[2020-05-14 03:30] feiceh commented on #306
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-05-14 04:40] leet212 commented on #296
Hello @CooperCooperCooper. Thank you for the update.
I opened an issue that had a test case which was valid according to the given constraints and was being accepted by the judge as well. After reviewing the issue, the team found it was a valid test case according to the then incomplete constraints and used it to update the problem description and the judge's response.
How is this not a valid cont

[2020-05-14 04:41] liangteng commented on #306
如果测试用例链接打不开，可以看这里~
TestCase1：https://leetcode-cn.com/contribute/4672
<details>
<summary>展开查看</summary>
<pre>
Input:nums=[2433,3054,9952,6470,2509,8502,-8802,-5276,6559,-9555,-4765,6399,6543,2027,1723,-3032,-3319,-7726,-1425,-7431,-7492,4803,7952,-6603,-784,-8011,6161,-6955,5800,5834,-6310,1097,2327,-4007,8664,-9619,5922,518,9740,9976,4257,-7803,6023,4189,-5167,-4699,2441,5941,3663,625,5402,-3447,8

[2020-05-14 05:41] CooperCooperCooper commented on #304
Hi @mohasivakumar ,
Thank you for your time. Upon reviewing your submission, we found it returns true since -10,-8,-7 is a valid triplet. We appreciate your support.

[2020-05-14 05:41] #304 closed

[2020-05-14 05:44] CooperCooperCooper commented on #283
Hi @orbitbyrd ,
Since you haven't responded to our previous request, we've reviewed the issue base on the provided information. Most of the time O(N) will beat O(log N) solution, and due to our technical limitations, it won't be possible to devise a large enough test case such that O(log N) solution will prevail. We appreciate your time and support.

[2020-05-14 05:44] #283 closed

[2020-05-14 05:47] mohasivakumar commented on #304
But the problem description said lower bound of triplet is 0

On Thu, May 14, 2020, 1:41 AM CooperCooperCooper <notifications@github.com>
wrote:

[2020-05-14 07:07] enigmatikme opened #307 "Maximum Depth of Binary Tree"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
The expected output is incorrect. It asks to find the depth of a tree, depth is defined as the number of edges/links it takes to reach the root from that node. In the initial test case the output should be 2, not 3

**what language is your code written in**
JavaScript

**The code you submit/run**
[code]

**E

[2020-05-14 07:45] feiceh commented on #302
你好，力扣平台没有问题的。注意直径不需要经过根结点。后续刷题学习中遇到困难，可通过阅读「题解」解决做题中的一些困惑，看看其他小伙伴的解题思路哦。

[2020-05-14 07:45] #302 closed

[2020-05-14 07:48] feiceh commented on #306
你好，力扣平台不会涉 hard code 的代码，因为没有任何意义。目前暂不会补充测试用例。后续刷题学习中遇到困难，可通过阅读「题解」解决做题中的一些困惑，看看其他小伙伴的解题思路哦。

[2020-05-14 07:49] #306 closed

[2020-05-14 09:43] liangteng opened #308 "249. Group Shifted Strings 题目描述不准确"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
题目描述不太准确，“字符串中每个字母都变为其在字母表中**后续**的字母”，按照字面意思，字母z是字母a的后续。
示例中，认为["az","ba"]是一组，也就是认为字母a是字母z的后续，跟字母表中z是a的后续有冲突，跟题目描述字面意思不太一致，会让人产生理解上的歧义。
建议在题目描述中，补充说明字母表是首位相接，字母z的后续是字母a。

**你使用的语言**
C++

**你提交或者运行的代码**

**期望行为**
优化题目描述，消除歧义。

**屏幕截图**
添加屏幕截图辅助我们帮你定位问题

**额外的上下文**
问题反馈ac后有积分奖励嘛~😏🤡

[2020-05-14 14:21] AnthonyMikh opened #309 "Description of "Implement Trie (Prefix Tree)" problem for Rust contradicts the tested code"
**What kind of the bug**
- [x] problem
- [ ] solution
- [x] language

**Describe the bug**
Description of aforementioned problem, examples and test case DSL for Rust version all mention `startsWith` method (in camel case), yet actual generated code as well as placeholder code use `starts_with` method (in snake case).

**what language is your code written in**
Rust

**Expected behavior**
Descriptio

[2020-05-14 15:13] aslamsayyed opened #310 "Incorrect interface - Solution interface for Java"
https://leetcode.com/problems/delete-node-in-a-linked-list/
Should have public void deleteNode(ListNode node, int n) instead of public void deleteNode(ListNode node)

[2020-05-14 17:05] sayantan94 opened #311 "1443. Minimum Time to Collect All Apples in a Tree | Incorrect Test-Case"
**What kind of the bug**
Invalid Test-Case

**Describe the bug**
As per the question, the graph should should form a valid tree.
However the following test-case
**4
[[0,2],[0,3],[1,2]]
[false,true,false,false]**

violates the condition of a valid tree

**Expected behavior**
**[[0,2],[0,3],[1,2]] should represent a valid tree.**

[2020-05-14 23:21] CooperCooperCooper commented on #305
Hi @Gokulkkr12 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-14 23:22] #305 closed

[2020-05-14 23:24] CooperCooperCooper commented on #301
Hi @coderansu ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-14 23:28] CooperCooperCooper commented on #307
Hi @enigmatikme ,
Thank you for reaching out to us. Please provide the exact code you've submitted to get the output result of 3 so we can take a deeper look into this problem.

[2020-05-14 23:35] CooperCooperCooper commented on #309
Hi @AnthonyMikh ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-14 23:37] CooperCooperCooper commented on #310
Hi @aslamsayyed ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-14 23:42] CooperCooperCooper commented on #311
Hi @sayantan94 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-14 23:49] CooperCooperCooper commented on #225
HI @KevinColemanInc ,
Thank you for reaching out again. Would you please share your code for the TLE issue so we can take a deeper look?

[2020-05-14 23:51] CooperCooperCooper commented on #299
Hi @devenps ,
Thank you for sharing the test case with us. I've relayed this issue to our team to investigate.

[2020-05-14 23:56] CooperCooperCooper commented on #258
Hi @tripathysa ,
Our engineers were already notified of the issue. To keep this channel available for content issues, this fix will not be updated here. We appreciate your support and understanding.

[2020-05-15 00:10] CooperCooperCooper commented on #256
Hi @r2roesk ,
Thank you for your clarification. I've filed this update to our team to investigate.

[2020-05-15 02:51] feiceh commented on #308
感谢反馈，当前已为示例补充了解释，贡献测试案例可以 +100 LeetCoin (被采纳后)，我们诚挚的期待您的贡献～

[2020-05-15 02:51] #308 closed

[2020-05-15 03:16] liangteng commented on #306
测试用例弱，也不会补充嘛？

[2020-05-15 03:20] enigmatikme commented on #307
Hi LeetCode-Feedback/LeetCode-Feedback,

I did not provide any code since the listed output is incorrect for the
first test-case is incorrect.

On Fri, May 15, 2020 at 7:29 AM CooperCooperCooper <notifications@github.com>
wrote:

--
Warmly,
Karin Hsu

[2020-05-15 03:36] CooperCooperCooper commented on #256
Hi @r2roesk ,
Thank you for your time. We were still unable to reproduce this issue for test case [9,3] because your code returns Runtime Error. Please double-check.

[2020-05-15 03:42] CooperCooperCooper commented on #287
Hi @ykvalera ,
Thank you for your clarification. Finding out answers to those questions is also part of the learning process. Please leverage the [problem discuss section ](https://leetcode.com/problems/intersection-of-two-linked-lists/discuss/?currentPage=1&orderBy=most_votes&query=) for learning inquiries.

[2020-05-15 03:42] #287 closed

[2020-05-15 03:42] CooperCooperCooper commented on #299
Hi @devenps ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-15 03:42] #299 closed

[2020-05-15 03:45] r2roesk commented on #256
@CooperCooperCooper hi. Yes it fails. That’s what I’m saying. But it doesn’t fail when I submit it. Isn’t that incorrect?

[2020-05-15 19:47] aslamsayyed commented on #310
not an issue I missed "given only access to that node."

[2020-05-15 19:47] #310 closed

[2020-05-16 00:38] The-KarateKid opened #312 "347. Top k Frequent Elements -"
**What kind of the bug**
- [ X ] problem
- [ X ] solution
- [ ] language

**Describe the bug**
The problem clearly states:

The solution's runtime is O( n log(k) ), but as the top comment on the solution page says:

Additionally, since both N and K are constants they amount to the same thing in terms of calculating runtime.

**Expected behavior**
Please update either the problem or solution to be

[2020-05-16 10:36] pkrc267 opened #313 "162. Find Peak Element"
**What kind of the bug**
- [x] problem
- [x] solution
- [x] language

**Describe the bug**
The problem clearly states:

but O(n) solutions are being accepted.

**Language**
C++

**The code you submit/run**
[code]

**Expected behavior**
The solution should have been rejected as it's not logarithmic, but linear.

[2020-05-16 11:48] bryzgaloff opened #314 "328. Incorrect annotation for «Odd Even Linked List» problem"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language
- [x] tests
- [x] solution template

**Describe the bug**
The problem 328 «Odd Even Linked List» has incorrect code annotation for Python 3.

Solution template:
[code]

However there is a test for an empty list present: `[]`

This means that the annotation has to be as follows:
[code]

This makes the `head` to be possibly `None`

[2020-05-16 21:57] couturierc opened #315 "29. Divide 2 integers. Wrong test case"
**What kind of the bug**
- [ x] problem: wrong test case 13/989
- [ x] solution: change expected output to 2147483648
- [ x] language: Any language (tested in Python)

**Describe the bug**
it really seems this test case is expecting a wrong output:
https://leetcode.com/problems/divide-two-integers/

Input:
-2147483648
-1
Output:
2147483648
Expected:
2147483647

**what language is your code written

[2020-05-17 01:29] agatagruza opened #316 "724. Find Pivot Index"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [ ] language

**Describe the bug**
Misleading description of the problem.

**what language is your code written in**
Python3

**The code you submit/run**
It should be stated _"pivot index as the index where the sum of `ALL` the numbers to the left of the index is equal to the sum of the `REMAINING` numbers to the right of the index."_ If not

[2020-05-17 03:02] chenpy26 opened #317 "178. 分数排名 运行报错"
** Bug 类型**
- [ ] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
之前通过的代码再运行会报错

**你使用的语言**
MySQL

**你提交或者运行的代码**
[code]

**期望行为**
运行正确且通过

**屏幕截图**
![pic](https://img-blog.csdnimg.cn/20200517110025551.png)

**额外的上下文**
添加额外的上下文信息

[2020-05-17 04:32] gptSanyam opened #318 "Problem difficulty level standardization"
**Problem difficulty level standardization**
- It seems strange to me that Binary Tree Inorder Traversal (94) is tagged **medium** difficulty but Binary Tree Postorder Traversal is tagged **Hard**
I think both of them should be tagged with the same difficulty level since the solution both the problems is literally the same. All I needed to solve the Post order after solving Inorder traversal is a

[2020-05-17 06:01] couturierc commented on #315
After reading the problem again, this is not an issue.

[2020-05-17 06:01] #315 closed

[2020-05-17 11:06] dheeraj141 opened #319 "Wrong answer in the leetcode solution ( original ) question 224 basic calculator"
There is a bug in the solution of the leetcode question 224 basic calculator. It is giving wrong answers. I have attached a snapshot of the bug (in the original solution of the leetcode).

bug type : Solution

language C++
<img width="1324" alt="Screenshot 2020-05-17 at 4 32 48 PM" src="https://user-images.githubusercontent.com/8675703/82142754-3877a600-985c-11ea-91bf-ee9b7092e918.png">

As stated

[2020-05-17 12:59] Vinod-Gattani opened #320 "Missing test case - 438. Find All Anagrams in a String"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
A test case is missing which is letting some incomplete solutions pass.

**what language is your code written in**
Python3

**The code you submit/run**
[code]

**Expected behavior**
This submission shouldn't be accepted as it takes too long for below test case.
In Python:

s= "abcdegfhijklmnopqrstuvxyz"*1000

[2020-05-17 13:46] mmalu opened #321 "139. Word Break - An alternate solution"
**What kind of the bug**
- [ ] problem
- [X] solution
- [ ] language

**Describe the bug**
An alternate solution for [139. Word Break](https://leetcode.com/problems/word-break/).
Simpler and faster than the official solutions.
I find it clever, as it exploits an insight into the problem.

The idea is to iterate from end to start and consider only breaks that are valid words in the given dictionary

[2020-05-17 13:50] mmalu commented on #321
I've optimized it even further by only considering breaks that are not further apart than the maximum length of the word in the given dictionary. In other words, there is no point in considering a word whose length is more than the maximum in the dictionary.

Time - 98.99%

[code]

[2020-05-17 13:56] mmalu commented on #321
https://leetcode.com/problems/word-break/discuss/637212/A-solution-different-and-more-elegant-than-the-official-ones

[2020-05-17 18:23] us899 opened #322 "Error in solution explanation for #567"
# 567. Permutation in String
**Describe the bug**
In approach 5 for the problem, it's written that:

 but instead, it should be:

**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

[2020-05-17 19:41] leet212 opened #323 "1452. People Whose List of Favorite Companies Is Not a Subset of Another List"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Incorrect solution accepted due to weak test cases

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
The test case is attached
[New Text Document.txt](https://github.com/LeetCode-Feedback/LeetCode-Feedback/files/4640891/New.Text.Document.txt)

[2020-05-17 19:44] shatlovsky opened #324 "#1304 Incorrect data type is accepted"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Problem: [1304. Find N Unique Integers Sum up to Zero](https://leetcode.com/problems/find-n-unique-integers-sum-up-to-zero/)

By the problem definition, the solution in Python3 has to return List[int]. At the same time, if it returns a generator instead, the solution is still being accepted. Which is wrong,

[2020-05-18 03:10] feiceh commented on #317
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-05-18 05:28] sagarchand9 opened #325 "880. Decoded String at Index"
---
name: Bug report (English)
about: Create a bug report to help us improve our content.
title: ''
labels: ''
assignees: ''

---

#### Your LeetCode username

#### Category of the bug
- [ ] Question
- [ ] Solution
- [x] Language

#### Description of the bug
It is related to the accepted solution. Even if 'K' is greater than length of decoded string, we are receiving in the answer. No where in the

[2020-05-18 06:38] Vinod-Gattani commented on #320
It's a mistake from my side in the test case.

The length of s should be less than 20000 as per the problem. Hence, closing this.

[2020-05-18 06:38] #320 closed

[2020-05-18 07:30] Jazzinghen opened #326 "#3333 Permutation in String reports wrong data limits"
##What kind of the bug
- [x] problem
- [ ] solution
- [ ] language

##Describe the bug
The problem description reports that the data limits are [1, 10000] but empty strings are accepted for either input.

##what language is your code written in
C++

##The code you submit/run
[code]

##Expected behavior
The program should return encounter some runtime error due to the input parameters are not in th

[2020-05-18 11:55] chenhongda1135 opened #327 "214题 测试用例有问题"
** Bug 类型**
- [ ] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
为什么这个测试用例不对呢，输出的不是回文串么

输入: "aabba" 输出 "abbabba" 预期结果 "abbaabba"

**你使用的语言**
C++

**你提交或者运行的代码**
[code]

**期望行为**
描述你期望的结果

**屏幕截图**
添加屏幕截图辅助我们帮你定位问题

**额外的上下文**
添加额外的上下文信息

[2020-05-18 17:56] denmatfoton opened #328 "1449. Form Largest Integer With Digits That Add up to Target"
In the problem #1449 in the first example there is a mistake. There is written: "You could also paint "997", but "7772" is the largest number." The cost of the number 997 is 5 + 5 + 2 = 12 (9  ->   5, 7 -> 2). The target is 9. Should be 977 instead for example.

[2020-05-19 03:29] yuxuezhong opened #329 "测试用例错误"
题目10，测试用例：

"ab" ".*"  预期值是 true。

按照题目描述，".*" 只能代表空或者任何重复字符串，代表不了ab。
看很多人在评论里面说这个问题

题目地址：https://leetcode-cn.com/problems/regular-expression-matching/

[2020-05-19 04:03] feiceh commented on #327
建议再仔细调试一下代码，希望这篇内容有帮助：https://leetcode.kf5.com/hc/kb/article/1194344/。后续刷题学习中遇到困难，可通过阅读「题解」解决做题中的一些困惑，也可至 力扣圈子（https://leetcode-cn.com/circle/discussions/questions/?orderBy=HOTTEST&query=） 进行题目交流，以获得更好的支持哟～

[2020-05-19 04:04] feiceh commented on #327
建议再仔细调试一下代码，希望这篇内容有帮助：https://leetcode.kf5.com/hc/kb/article/1194344/。
后续刷题学习中遇到困难，可通过阅读「题解」解决做题中的一些困惑，也可至 力扣圈子（https://leetcode-cn.com/circle/discussions/questions/?orderBy=HOTTEST&query=）进行题目交流，以获得更好的支持。

[2020-05-19 04:07] feiceh commented on #329
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-05-19 07:03] feiceh commented on #317
你好，我们验证力扣平台是没有问题的。这个是 AS 写错地方了，建议再仔细调试一下代码。后续刷题学习中遇到困难，可通过阅读「题解」解决做题中的一些困惑，看看其他小伙伴的解题思路哦。

[2020-05-19 07:03] #317 closed

[2020-05-19 07:04] #327 closed

[2020-05-19 07:07] feiceh commented on #329
你好，技术验证题目测试用例没有问题，建议认真读题再仔细调试一下代码。

[2020-05-19 07:07] #329 closed

[2020-05-19 08:37] 375C opened #330 "C语言版本方法定义不正确"
** Bug 类型**
- [ ] 题目
- [ ] 题解
- [x] 编程语言

**描述**
C语言中用数组来模拟栈，在该题提供的方法中：
[code]
目标数组C的大小无法返回，由于CSize参数初始设定为0,无论如何没法在函数返回时，修改这个值，导致直接结果总为[]，即空数组
**你使用的语言**
C

**期望行为**
将CSize该为指针参数，可以出参返回结果。或是增加int返回值，返回C数组的大小。

[2020-05-19 08:41] feiceh commented on #330
感谢反馈，此问题已转给技术团队会尽快确认的～

[2020-05-19 09:54] HeGuiHu opened #331 "两数组元素全抵消"
给定两个数组，A数组长度N，B数字长度M，A数组所有正整数之和等于B数组所有正整数之和，如果A数组内任意多个（小于N）正整数之和 等于B数组内任意多个（小于M）正整数之和时，A数组中的这些数字可以和B数组中的这些数字相互抵消
请写出一种高效算法判断两个数组经过多次抵消之后是否存在一种可能使得A、B两个数组剩余的元素（正整数）之和最终完全抵消。

说明：由于初始A数组中所有元素和等于B数组所有元素和，故而A数组首次取元素的个数必须小于N，B数组首次取元素的个数也必须小于M，否则本题就没有任何意义。

示例：
A = [1, 2, 2, 4];
B = [2, 3, 4];

(1) A[1] + A[2] = B[2]            得 A = [1, 4]  &  B = [2, 3] 此时两个数组中无法找出一种组合能使两个数组元素抵消。

(2) A[0] + A[1] = B[

[2020-05-19 10:03] #331 closed

[2020-05-19 12:09] paragpachpute opened #332 "Test case contribution for Online Stock Span"
**What kind of the bug**
- [.] problem
- [ ] solution
- [ ] language

**Describe the bug**
For a test case, I am getting runtime error in my code. However, the same code is accepted by online judge. Hence, I feel we can add a test case to catch this anomaly.

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
For test case:
["StockSpanner","ne

[2020-05-19 18:00] CooperCooperCooper commented on #301
Hi @coderansu ,
Thank you for reaching out to us. We've tested your code and test case and generated AC on both "Run Code" and "Submit". Since we're always working on improving problems, it was possible that the updates we've implemented on this problem previously coincidentally fixed the issue. Please try out your code and test case again on your end. If the issue persists, feel free to provide m

[2020-05-19 18:00] #301 closed

[2020-05-19 18:09] CooperCooperCooper commented on #309
Hi @AnthonyMikh ,
Thank you for your time. We've taken a look at this issue. The method "startsWith" for Rust is different due to our current design decision. We've decided to keep this method name for now and made the needed update in the future.

[2020-05-19 18:11] CooperCooperCooper commented on #311
Hi @sayantan94 ,
Thank you for your time. Since this test case was already contributed to us prior to this ticket, we will not be acting on this ticket.

[2020-05-19 18:11] #311 closed

[2020-05-19 18:11] CooperCooperCooper commented on #291
Hi @iankit3 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-19 18:11] #291 closed

[2020-05-19 18:32] CooperCooperCooper commented on #319
Hi @dheeraj141 ,
Thank you for reaching out to us. Please note that the "Output" from "Run Code" is the output of your code, which is different from the "Expected" output.

The "Output" underneath Example 3 is equivalent to the "Expected" output on the "Run Code", and they are currently matching with the number "23" according to your screenshot and our test results.

[2020-05-19 18:33] CooperCooperCooper commented on #318
Hi @gptSanyam ,

Thank you for reaching out to us. Could you please copy and past your codes here on the issues, so we can take a closer look at them?

[2020-05-19 18:34] CooperCooperCooper commented on #316
Hi @agatagruza ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-19 18:40] CooperCooperCooper commented on #314
Hi @bryzgaloff ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-19 18:43] CooperCooperCooper commented on #313
Hi @pkrc267
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-19 18:45] CooperCooperCooper commented on #312
Hi @The-KarateKid ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-19 19:38] dheeraj141 commented on #319
I think you haven't understood the problem , the input in the run code result is different from the example 3 as there is * in the run code instead of + and its correct answer is 22 but the expected answer is showing 23 that's why I reported this bug.

The issue is that the expected  solution is interpreting * as +.

[2020-05-20 05:35] CooperCooperCooper commented on #321
Hi @mmalu ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-20 08:21] saurabhmarpadge opened #333 "230. Kth Smallest Element in a BST (Validation Failed)"
**What kind of the bug**
- [ ] Kth Smallest Element in a BST
- [ ] Should throw invalid BST Error
- [ ] Java

**Describe the bug**
When we pass an invalid input for BST which doesn't qualify the property of BST that left node(left subtree) < current node < right node(right subtree). It accepts the input and shows the result for following input. It should not accept the input and process it.
It sho

[2020-05-20 08:22] saurabhmarpadge commented on #293
Thanks for fix it. @CooperCooperCooper

[2020-05-20 12:04] adan1901 opened #334 "Kth Smallest Element in a BST - Testcase"
I would like to submit a test case for [Kth Smallest Element in a BST](https://leetcode.com/problems/kth-smallest-element-in-a-bst/).
The test case is meant to differentiate between O(n²) and O(n) solutions. (30,000 nodes, only left children).
[testcase.txt](https://github.com/LeetCode-Feedback/LeetCode-Feedback/files/4656440/testcase.txt)
The O(n²) solution is:
[squareSolution.txt](https://github

[2020-05-20 14:11] liangteng opened #335 "284. 顶端迭代器 补充测试用例"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
我的代码在跑我自己构造的用例时，会答案错误or运行出错，但能被平台ac。
我觉得平台的用例偏弱，没有考察到设计的正确性和鲁棒性。
既然这是一道设计题，而且还在提示4中提到了google guava这种生产环境类库，我觉得题目的考察点应该向工程和生产环境倾斜下，多贴近实战环境，代码的正确性和鲁棒性是基本要求，不考察这两点实在有点说不过去。
所以想补充一个测试用例，希望可以帮助童鞋们做出正确且鲁邦的设计。

**你使用的语言**
C++

**你提交或者运行的代码**
[code]

**期望行为**
输入：
["PeekingIterator","peek","peek","next","next","hasNext"]
[[[-2147483648,2,3]],[],[],[],[],[]]

[2020-05-20 16:24] ahujapankaj16 opened #336 "Kth Smallest Element in a BST Test Case Issue"
**What kind of the bug**
 problem
**Describe the bug**
A clear and concise description of what the bug is.
Solution when executed for certain test case it displays proper answer but when submitted returns
Wrong answer.
**what language is your code written in**
Python

**The code you submit/run**
[code]

**Expected behavior**
It should have passed test case.
**Screenshots**
![image](https://user-im

[2020-05-20 20:34] rajesh3151 opened #338 "Merge Sorted Array output is different in Leetcode"
**What kind of the bug**
Merge Sorted Array output is different in Leetcode
solution : nums1 = nums1.Take(m).Concat(nums2.Take(n)).OrderBy(x => x).ToArray();
Language: c#

**Describe the bug**
output is different in leetcode editor

**what language is your code written in**
C#

**The code you submit/run**
[code]

**Expected behavior**
output in leetcode should match with the output in visual studi

[2020-05-20 22:58] CooperCooperCooper commented on #321
Hi @mmalu ,
Thank you for your time. After a thorough review of the submission, we've decided to keep the solution as-is for now. We appreciate your support.

[2020-05-20 22:58] #321 closed

[2020-05-20 23:02] CooperCooperCooper commented on #314
Hi @bryzgaloff ,

Thank you for your time. Our team has reviewed this suggestion thoroughly. Since the change will affect many technical branches in the system, we will keep the issue as-is for now and keep the suggestion with us for future improvement.

[2020-05-20 23:02] #314 closed

[2020-05-20 23:03] CooperCooperCooper commented on #316
Hi @agatagruza ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-20 23:03] #316 closed

[2020-05-20 23:04] CooperCooperCooper commented on #313
Hi @pkrc267 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-20 23:04] #313 closed

[2020-05-20 23:04] CooperCooperCooper commented on #260
Hi @leet212 ,
Thank you for your time. The time complexity was trimmed. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-20 23:04] #260 closed

[2020-05-20 23:12] CooperCooperCooper commented on #323
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-20 23:13] CooperCooperCooper commented on #322
Hi @us899 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-20 23:35] CooperCooperCooper commented on #324
Hi @shatlovsky ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-20 23:38] CooperCooperCooper commented on #325
Hi @sagarchand9 ,
Thank you for reaching out to us. Could you please share a solution here (including its language) that matches the scenario you've mentioned?

[2020-05-20 23:48] leet212 commented on #296
Hello @CooperCooperCooper. Could you please respond to the above comment?

[2020-05-20 23:59] CooperCooperCooper commented on #326
Hi @Jazzinghen ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-21 00:20] CooperCooperCooper commented on #332
Hi @paragpachpute ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-21 00:25] CooperCooperCooper commented on #333
Hi @saurabhmarpadge ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-21 00:27] CooperCooperCooper commented on #334
Hi @adan1901 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-21 00:28] CooperCooperCooper commented on #328
Hi @denmatfoton ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-21 00:29] CooperCooperCooper commented on #336
Hi @ahujapankaj16 ,
Thank you for reaching out to us. The reasons and solutions for different "outputs" from "Run Code" and "Submit" are well documented in [this support article](https://support.leetcode.com/hc/en-us/articles/360011834174-I-encountered-Wrong-Answer-Runtime-Error-for-a-specific-test-case-When-I-test-my-code-using-this-test-case-it-produced-the-correct-output-Why-). Please check it

[2020-05-21 00:29] #336 closed

[2020-05-21 00:40] CooperCooperCooper commented on #338
Hi @rajesh3151 ,
Thank you for reaching out to us. We were unable to reproduce this issue because when we ran your code on Run Code and Submit, it generated Compile Error for both.

I've also noticed your code had a static variable, which is a cause known for different "outputs" from "Run Code" and "Submit". This is well documented in [this support article](https://support.leetcode.com/hc/en-us/ar

[2020-05-21 00:40] #338 closed

[2020-05-21 00:42] CooperCooperCooper commented on #332
Hi @paragpachpute ,
Thank you for your time. Upon reviewing the test case, we found it does not comply with `1 <= price <= 10^5`, so it's not suitable for this problem. We appreciate your time and support.

[2020-05-21 00:42] #332 closed

[2020-05-21 00:43] CooperCooperCooper commented on #326
Hi @Jazzinghen ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-21 00:43] #326 closed

[2020-05-21 00:44] CooperCooperCooper commented on #324
Hi @shatlovsky ,
Thank you for your time. We've taken a thorough at this suggestion. We decide to keep this suggestion on the file and keep the problem as-is for technical reasons.

[2020-05-21 00:44] #324 closed

[2020-05-21 00:45] CooperCooperCooper commented on #323
Hi @leet212 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-21 00:45] #323 closed

[2020-05-21 02:42] feiceh commented on #335
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-05-21 06:24] feiceh commented on #330
已修复

[2020-05-21 06:24] #330 closed

[2020-05-21 09:59] mmalu commented on #321
Ok. I appreciate the communication.

[2020-05-21 23:57] hualinyc opened #339 "StockSpanner test case 99 may have incorrect expected answer"
**What kind of the bug**
- [x] problem
- [x] solution
- [ ] language

**Related LeetCode challenge card**
[https://leetcode.com/explore/challenge/card/may-leetcoding-challenge/536/week-3-may-15th-may-21st/3334/](url)

**Describe the bug**
I've submitted the following solution (user name: hualinyc):https://leetcode.com/submissions/detail/342036353/?from=/explore/challenge/card/may-leetcoding-challe

[2020-05-22 06:14] gptSanyam commented on #318
public List<Integer> **inorderTraversal**(TreeNode root) {
        List<Integer> inorder = new ArrayList<>();
        if(root==null){
            return inorder;
        }

        Set<TreeNode> exploredNodes = new HashSet<>();
        Deque<TreeNode> stack = new ArrayDeque<>();
        stack.push(root);

        while(stack.size()>0){
            TreeNode node = stack.remove();
            if(exp

[2020-05-22 13:31] roll-no-1 opened #340 "998. Maximum Binary Tree II - Bug in "Use Example Testcases" button"
**Your LeetCode username**

roll_no_1

**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
On clicking the "Use Example Testcases" button in this problem, only a single test case gets copied in the "Custom Testcase" section instead of all 3.

I was doing a virtual contest while I noticed this. It can be observed on this link: https://leetcode.com/contest/week

[2020-05-23 06:30] kibebr opened #341 "234. -129 is not a palindrome"
**What kind of the bug**
- [X] problem
- [ ] solution
- [ ] language

**Describe the bug**
One of the test cases expects `true`  for `-129` to be a palindrome.

**what language is your code written in**
Javascript

**The code you submit/run**
[code]

[2020-05-23 08:24] ayan-b opened #342 "986: Contradictory Problem Statement and Method Signature"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [x] language

**Describe the bug**
From example 1 in the problem statement:

and from the constraints:

This was (possibly) true before Apr 15, 2019 as the method signature has been changed now. The method now accepts two lists of lists.

**Expected behavior**
`Reminder` should be removed and constraints should be updated following the new me

[2020-05-23 09:12] CLannadZSY opened #343 "187. 重复的DNA序列"
** Bug 类型**
- [x] 题目

**描述**
这是你题目的说明, 麻烦你们自己读一读, 能读通顺吗?
编写一个函数来查找 DNA 分子中所有出现超过一次的 10 个字母长的序列（子串）。

**期望行为**
编写一个函数来查找子串，这个子串长度为10，在原字符串中出现的次数超过一次。

**题目截图**
![image](https://user-images.githubusercontent.com/38000492/82726706-6a837f00-9d18-11ea-91a5-a59aef8ba1c6.png)

[2020-05-23 15:37] prathamprakash29 opened #344 "133. Clone Graph"
The question description says that the graph is a "connected" undirected graph.
Then there is a test case when the graph is empty.

An empty graph cannot be connected, hence the test case does not satisfy the problem description.
This test case should be removed from the problem, as it is also leading to so many downvotes in the question.

[2020-05-23 18:35] KevinColemanInc opened #345 "Ruby memory not being ranked correctly"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [x] language

**Describe the bug**
For the Kth Largest element in an array, the ruby memory recommendation isn't being calculated correctly

**what language is your code written in**
ruby

**The code you submit/run**
https://leetcode.com/problems/kth-largest-element-in-an-array/submissions/

[code]

**Expected behavior**
This says the memory

[2020-05-23 18:37] #225 closed

[2020-05-24 03:36] CooperCooperCooper commented on #312
Hi @
Thank you for your time. The article has been rewritten and published. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-24 03:36] #312 closed

[2020-05-24 03:37] CooperCooperCooper commented on #197
Hi @0xC0D3D00D ,
Thank you for your contribution. The article is rewritten and published. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-24 03:37] #197 closed

[2020-05-24 03:41] CooperCooperCooper commented on #334
Hi @adan1901 ,
Thank you for your time. We've taken a thorough look at this problem and adjusted upper bound for the number of elements of the BST that is set to 10^4; however, the provided test case is too big for the current technicalities of our platform, so we will be keeping it on file and consider it in the future.

[2020-05-24 03:41] #334 closed

[2020-05-24 03:42] CooperCooperCooper commented on #328
Hi @denmatfoton ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-24 03:42] #328 closed

[2020-05-24 03:56] CooperCooperCooper commented on #339
Hi @hualinyc ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-24 04:27] CooperCooperCooper commented on #340
Hi @roll-no-1 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-24 04:29] CooperCooperCooper commented on #341
Hi @kibebr ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-24 04:31] CooperCooperCooper commented on #342
Hi @ayan-b ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-24 04:35] CooperCooperCooper commented on #344
Hi @prathamprakash29 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-24 04:48] arpitx165 opened #346 "Missing TestCases for [Weekly Contest 190-Problem-4]"
**What kind of the bug**
- [ ] [Problem](https://leetcode.com/problems/max-dot-product-of-two-subsequences)
- [x] solution
- [ ] Python

**Describe the bug**

Test-cases are missing for this problem :

[1, 1]
[-1, -1,-2]

Answer should be -1 but still its accepting the solution.

**what language is your code written in**
Python

**The code you submit/run**
[code]
I feel this problem doesn't have a

[2020-05-24 05:44] sagarchand9 commented on #325
Actually it is not related to the problem or the solution I submitted, but it is related to the "ACCEPTED SOLUTION" code. In the problem mentioned(#880), the answer is being returned even when K > length of decoded string(which should not be the case).

Try this
"leet2code3"
1000
It still returns answer as 't', where as it should return something like -1 or empty character as the viable solution i

[2020-05-24 08:44] aSquare14 opened #347 "[ Feature Request ] A section where we can see contest history ."
A section where I can see the questions that were there in the past contests that we attend and history of contests would be really helpful.

[2020-05-24 10:11] wilmerkrisp opened #348 "Image is broken"
**What kind of the bug**
- [ ] problem

**Describe the bug**
On the page
  https://leetcode.com/articles/contains-duplicate-iii/#
In the section
  Approach #3 (Buckets) [Accepted]
Illustration is broken and doesnot show
https://leetcode.com/media/original_images/220_Buckets.png

**Expected behavior**
without this image I can't understand the explanation of the algorithm

[2020-05-24 18:53] alperozdamar opened #349 "[Serialize and Deserialize Binary Tree] Test Case Error"
**What kind of the bug**
- I successfully serialize and Deserialize Binary Tree but the test case is failing.
- Java

**Describe the bug**
I successfully serialize and Deserialize Binary Tree but the test case is failing.
Input:
[1,2]
Output:
[1,null,2]
Expected:
[1,2]

**what language is your code written in**
Java

**The code you submit/run**
[code]

[2020-05-25 02:36] feiceh commented on #343
感谢反馈，已更新描述为「编写一个函数来查找目标子串，目标子串的长度为 10，且在 DNA 字符串 s 中出现次数超过一次。」谢谢。

[2020-05-25 02:37] #343 closed

[2020-05-25 06:04] vikrantpc opened #350 "Please add new testcase"
Please add below testcase to below problem
https://leetcode.com/problems/check-if-a-word-occurs-as-a-prefix-of-any-word-in-a-sentence/

"b bu bur burg burger"
"burg"

I'm suggesting this because my solution without using inbuild String method got accepted however this test case was failing.

[2020-05-25 11:52] JunzhouLiu opened #351 "146. LRU缓存机制 增加测试样例"
**Bug 类型**

- [x] 题目

![146. LRU缓存机制](https://leetcode-cn.com/problems/lru-cache/)

**描述**
146题（	LRU缓存机制）和460题（LFU缓存机制）大同小异，第460题中出现了缓存容量为0的测试样例，而146题则不包含缓存容量为0的样例，这是一道设计题，从代码鲁棒性角度上考虑，我觉得146题 也应该增加缓存容量为0的测试样例。当缓存容量为0的时候，那么就不应该往缓存中put任何键值，相应的执行get时，应该返回-1。所以建议在146题中增加一组缓存容量为0的测试样例。

**你使用的语言**
JAVA

**你提交或者运行的代码**
[code]

**期望行为**
在本题中，平台的测试用例中，不包含缓存容量为0的情况。建议增加以下测试用例。
当测试用例为
 `["LRUCache","put","g

[2020-05-25 18:24] leet212 opened #352 "756. Pyramid Transition Matrix"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Incorrect solution gets accepted

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
Input:
"ABCD"
["ABC","ABD","BCA","CDA", "CAB","BBA"]

Output:
true

Expected:
false

[2020-05-25 18:25] leet212 opened #353 "675. Cut Off Trees for Golf Event"
#### Your LeetCode username
habaj

**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Incorrect description in solution Approach 2

**Expected behavior**

It might be useful for solvers familiar with Dijkstra's Algorithm to know that A* Search is a special case of Dijkstra's with node.h = 0 always.

This is wrong and the opposite is true. Actually Dijkstra c

[2020-05-25 18:26] leet212 opened #354 "493. Reverse Pairs"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Approach 3 - BIT has wrong pseudo code

**what language is your code written in**
C++

**Expected behavior**
[code]

The inequality sign is wrong. It should be >0. Here is the provided code for it.

[code]

[2020-05-25 18:27] leet212 opened #355 "1432. Max Difference You Can Get From Changing an Integer"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Ambiguous and easy to misinterpret problem statement.

The question can be understood in 2 different ways. This might be the reason it is heavily disliked.

[code]

Is the question saying a=convert(num) and b=convert(num) ?
Or is it saying a=convert(num) and b=convert(a)?

**Expected behavior**

The source o

[2020-05-25 18:27] leet212 opened #356 "387. First Unique Character in a String"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Approach 2 Linear time solution has wrong analysis

**what language is your code written in**
Python

**The code you submit/run**
[code]

**Expected behavior**
Space complexity : O(N) since we have to keep a hash map with N elements

It should be O(1) as there are max 26 distinct entries in the hashmap at an

[2020-05-25 18:28] scottcrossen opened #357 "[1457. Pseudo-Palindromic Paths in a Binary Tree] Javascript Testcase 52"
**What kind of the bug**
- [X] problem
- [ ] solution
- [X] language

**Describe the bug**
Testcase 52 is nearly-impossible to solve within the given time limit given for Javascript (and only Javascript it seems). It appears as if most of the time is taken by parsing the tree from the input -- and not with the user code (although I can't confirm this). I was able to submit code under the time limi

[2020-05-25 18:28] leet212 opened #358 "494. Target Sum"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Approach 2 Recursion with Memoization has wrong analysis

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
Space complexity : O(n). The depth of recursion tree can go upto n

The space complexity also includes the memo matrix which will exceed n and so

[2020-05-25 18:35] sekhar179 opened #359 "[problem] 1295. Find Numbers with Even Number of Digits - Missing test case"
**What kind of the bug**
- [x] problem

**Describe the bug**
Missing a test case in the question "1295. Find Numbers with Even Number of Digits"

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
Constraint section mentions 1 <= nums[i] <= 10^5
But the test passes even though the program doesn't consider the boundary case - 10^5 (100000) value

[2020-05-25 19:13] scottcrossen commented on #357
Also, I failed to link my LeetCode account before posting this. Am I still eligible for the leetcoins? (account: ScottXN).

[2020-05-25 23:20] conghao321 opened #360 "994. Rotting Oranges wrong test case"
A wrong test case in 994 problem

The wrong test case is : [[0]]
it means only 1 cell which is empty without any other oranges.
The correct result should be: -1, which means never can be rotten.
However, the existed answer for this testcase is 0, which means initially is rotten....

[2020-05-26 03:24] feiceh commented on #351
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-05-26 11:03] shettyvinay opened #361 "Memory Limit Exceeded for best-time-to-buy-and-sell-stock-iv"
**What kind of the bug**
- [x] best-time-to-buy-and-sell-stock-iv
- [x] https://leetcode.com/submissions/detail/344917460/
- [x] English

**Describe the bug**
Memory Limit Exceeded repeatedly

**what language is your code written in**
Java

[2020-05-26 11:33] roll-no-1 opened #362 "1024. Video Stitching - Incomplete constraints description in Note section"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
In the "Note" section of the problem the 2nd point is : _0 <= clips[i][0], clips[i][1] <= 100_.
It should instead be _0 <= clips[i][0] <= clips[i][1] <= 100_.
I verified it by putting an assert() in my code.
Although it's logical that end time should be >= start time for a valid case, the problem constraints

[2020-05-26 15:00] leet212 opened #363 "763. Partition Labels"
#### Your LeetCode username
habaj

**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Approach 1 Greedy has wrong analysis

**what language is your code written in**
Python

**The code you submit/run**
[code]

**Expected behavior**
Space Complexity: O(N)

Space complexity for answer is being considered but it shouldn't be as agreed in #260
Apart from that th

[2020-05-26 15:25] paragpachpute opened #364 "Potential bug in notification panel"
I found that when I opened my notification panel today (by clicking on the bell button in the navigation bar) I saw an unresolved value. Attaching the screenshot below for better clarity.
![Screen Shot 2020-05-25 at 7 06 09 PM](https://user-images.githubusercontent.com/8281380/82919067-8c147e80-9f43-11ea-9bf3-5925ab3e4f38.png)

[2020-05-26 23:00] CooperCooperCooper commented on #344
Hi @prathamprakash29 ,
Thank you for your time. We will keep this feedback in mind for future updates. For now, we will keep the problem as is due to technical design purposes.

[2020-05-26 23:00] #344 closed

[2020-05-26 23:01] CooperCooperCooper commented on #341
Hi @kibebr ,
Thank you for your time. Our team review your code very thoroughly and found it to be using a wrong approach. Please check out the problem discuss section for inspiration.

[2020-05-26 23:01] #341 closed

[2020-05-26 23:03] CooperCooperCooper commented on #333
Hi @saurabhmarpadge ,
Thank you for your time. Since this problem is relatively old, we've updated the problem to a more updated version. However, since the test case is not valid, we did not add it to the problem.

[2020-05-26 23:03] #333 closed

[2020-05-27 06:17] aattarde opened #365 "Expected result is empty (no runtime error, input validation error or incorrect output), potentilally a bug"
Seems like the expected solution is empty (no invalid answer or runtime error or input validation error.
Please find the screenshot for issue as well as program that caused the issue.

In case if there is a dependency of username for repro - my user id is aattarde

<img width="898" alt="Screen Shot 2020-05-23 at 11 03 53 PM" src="https://user-images.githubusercontent.com/18670460/82984316-c6633780

[2020-05-27 09:33] 1582-yumi opened #366 "题目提交- 内部出错"
** Bug 类型**
- 题解

**描述**
每道题都提交都返回“内部出错”的error

**你使用的语言**
MSSQL

**你提交或者运行的代码**
不管新写的代码，还是之前已经提交通过的代码，提交都显示“内部错误”

**期望行为**
尽快修复啊

**屏幕截图**
![image](https://user-images.githubusercontent.com/62852767/83002852-74053380-a005-11ea-9a89-e91f9d40afc7.png)

**额外的上下文**
添加额外的上下文信息

[2020-05-27 10:44] feiceh commented on #366
感谢反馈，请按照本文中提到的格式提供一下题号和分享上述代码，把信息提供完整才能有助于快速验证和精准的定位问题哟。

[2020-05-27 10:49] 1582-yumi commented on #366
我SQL里面所有题目都是这个报错，举个例子吧：
569. 员工薪水中位数
MSSQL环境下运行的：

select id, company, salary
from (select *, row_number() over(partition by company order by salary ASC, id ASC) as rowasc,
     row_number() over(partition by company order by salary DESC, id DESC) as rowdesc from Employee) as temp
where rowasc in (rowdesc, rowdesc-1, rowdesc+1)
order by company, salary

[2020-05-27 15:37] SeyhmusGuler opened #367 "478. Generate Random Point in a Circle"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [x] language

**Describe the bug**
The question asks to write a function that generates random numbers in a circle. This language should be changed to generate random numbers in a "disk". Or it could be changed to " _on and inside_ the circle". With its current state, the statement is confusing and in the circle may just mean in the circle (s

[2020-05-27 16:27] shah-entrance opened #368 "998. Maximum Binary Tree II"
There can be multiple solutions to this question.
Let's take an example of sample test case
Input: root = [5,2,3,null,1], val = 4
The output is shown on the website is [5,2,4,null,1,3]
and array B becomes this B = [2,1,5,3,4] according to current explanation on leetcode.
But let's take another possible B array after adding an element with Val =4 is B = [2,1,4,5,3]
and when we're creating a tree fr

[2020-05-27 16:32] #368 closed

[2020-05-27 17:24] nefigtut opened #369 "Add a testcase for "886. Possible Bipartition""
**What kind of the bug**
- [x] problem
- [x] problems's testcase
- [ ] solution
- [ ] language

**Describe the bug**
Testcases for 886. Possible Bipartition ( https://leetcode.com/problems/possible-bipartition/description/ ) does not cover all cases. My solution ( https://leetcode.com/submissions/detail/345446208/ ) was accepted, while there is a test case where it must fail. If the testcase I sug

[2020-05-27 21:48] CooperCooperCooper commented on #339
Hi @hualinyc ,
Thank you for your time. We were unable to locate the difference for this test case because it's too big to be tested by hand. If you have more information about the test case that can help us pinpoint the issue, please don't hesitate to let us know. For now, we will keep this problem as is. Thank you for your understanding.

[2020-05-27 21:48] #339 closed

[2020-05-27 21:50] CooperCooperCooper commented on #256
Hi @r2roesk ,

Can you please share a screenshot of the "fails" and non-"fail" comparison here so we can take a better look at this issue from your end?

[2020-05-27 21:52] CooperCooperCooper commented on #307
Hi @enigmatikme ,
Thank you for your clarification. Can you please share exactly what was the "First test-case" and where to locate this first test case on the problem page?

[2020-05-27 21:53] CooperCooperCooper commented on #318
Hi @gptSanyam ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 21:57] CooperCooperCooper commented on #325
Hi @sagarchand9 ,
Thank you for the information. Can you please further clarify where you found the "ACCEPTED SOLUTION" code from? For example, is it from the [Problem Solution](https://leetcode.com/problems/decoded-string-at-index/solution/) tab?

[2020-05-27 21:58] CooperCooperCooper commented on #319
Hi @dheeraj141 ,
Thank you for your clarification. I've relayed this issue to our team to investigate.

[2020-05-27 22:01] CooperCooperCooper commented on #346
Hi @arpitx165 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 22:05] CooperCooperCooper commented on #348
Hi @wilmerkrisp ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 22:10] CooperCooperCooper commented on #349
Hi @alperozdamar ,
Thank you for reaching out to us. Here's a [Java solution post ](https://leetcode.com/problems/serialize-and-deserialize-binary-tree/discuss/74253/Easy-to-understand-Java-Solution)with lots of explanation (both on the post and in the comments) for this problem. Please check it out.

[2020-05-27 22:10] #349 closed

[2020-05-27 22:11] CooperCooperCooper commented on #350
Hi @vikrantpc ,
Thank you for reaching out to us. To help us access this test case, can you please share your code and its language here with us?

[2020-05-27 22:12] CooperCooperCooper commented on #352
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 22:16] alperozdamar commented on #349
Hi,

Yes, I realized my mistake lately. Thank you so much.

Alper

On Wed, May 27, 2020 at 3:10 PM CooperCooperCooper <notifications@github.com>
wrote:

[2020-05-27 22:18] CooperCooperCooper commented on #355
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 22:19] CooperCooperCooper commented on #356
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 22:22] CooperCooperCooper commented on #357
Hi @scottcrossen ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 22:23] CooperCooperCooper commented on #358
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 22:25] CooperCooperCooper commented on #359
Hi @sekhar179 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 22:33] CooperCooperCooper commented on #360
Hi @conghao321 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 22:37] CooperCooperCooper commented on #361
Hi @shettyvinay ,
Thank you for reaching out to us. Here's a [Java way ](https://leetcode.com/problems/best-time-to-buy-and-sell-stock-iv/discuss/54117/Clean-Java-DP-solution-with-comment)to optimize your solution for this problem. Please try it out.

[2020-05-27 22:37] #361 closed

[2020-05-27 22:40] CooperCooperCooper commented on #362
Hi @roll-no-1 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 22:42] CooperCooperCooper commented on #363
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 22:45] CooperCooperCooper commented on #364
Hi @paragpachpute ,
Thank you for sharing this issue with us. Our team is notified of this issue and is fixing it.

I will close this issue for now because this channel is reserved for [these content issues](https://leetcode.com/discuss/general-discussion/526802/File-Problem-and-Solution-Content-Issues-to-Our-GitHub-Public-Feedback-Repo-Now!). If you have any other questions for this issue, please

[2020-05-27 22:48] CooperCooperCooper commented on #365
Hi @aattarde ,
Thank you for reaching out to us. Can you please share the following information with us so we can test the issue on our end?

1. problem name;

2. Your code and its language that induced this empty expected result.

Thank you!

[2020-05-27 22:49] CooperCooperCooper commented on #367
Hi @SeyhmusGuler ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 22:51] CooperCooperCooper commented on #369
Hi @nefigtut ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-27 23:27] CooperCooperCooper commented on #345
Hi @KevinColemanInc ,
Thank you for your time. I've relayed this issue to our team to investigate. Upon reviewing the submission page of this problem, we found that this problem currently do not have enough accepted Ruby submissions to compare, which is why your memory usage is "less than 100% of Ryny online submissions". I am sorry about the confusion. You can click on that "Details >" link to se

[2020-05-27 23:36] nefigtut opened #370 "The problem "21 | Merge Two Sorted Lists" does not state that the resulting list must be sorted"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
The problem "21 | Merge Two Sorted Lists" ( https://leetcode.com/problems/merge-two-sorted-lists/description/ ) does not state that the resulting list must be sorted. It only states "Merge two sorted linked lists" and "The new list should be made by splicing together the nodes". It states nothing about that

[2020-05-27 23:51] KevinColemanInc commented on #345
@CooperCooperCooper

Why would there be enough ruby submissions to determine the % for CPU, but not memory?

[2020-05-27 23:54] nefigtut commented on #370
an addition:

on the contrary, "23. Merge k Sorted Lists" task explicitly states "... return it as one sorted list".

[2020-05-28 00:13] siyuan1992 opened #371 "Contribute Test Case to 1296. Divide Array in Sets of K Consecutive Numbers"
https://leetcode.com/problems/hand-of-straights/ and https://leetcode.com/problems/divide-array-in-sets-of-k-consecutive-numbers/ are similar and they both mention "**consecutive**".

Below code can pass https://leetcode.com/problems/divide-array-in-sets-of-k-consecutive-numbers/ but is wrong:
[code]
For test case:
[code]
it should return `false` but the above code snippet returns `true` and is no

[2020-05-28 01:13] vikrantpc commented on #350
This is the link to the code -
https://leetcode.com/submissions/detail/345627489/

Test case that failed/missing-
"b bu bur burg burger"
"burg"

Language: Java

[2020-05-28 02:46] feiceh commented on #366
您好，该问题已修复，请稍后刷新网页再试试，感谢您对力扣的支持～

[2020-05-28 02:46] #366 closed

[2020-05-28 06:08] poppinlp commented on #357
+1. I meet this issue also. Here's [my post](https://leetcode.com/problems/pseudo-palindromic-paths-in-a-binary-tree/discuss/653159/javascript-is-there-something-wrong-with-the-time-limit-for-js/557192) on leetcode discuss.

And here's my code:

[code]

[2020-05-28 06:15] crimsonalucard opened #372 "inconsistent results with longest palindromic substring problem."
**What kind of the bug**
inconsistent behavior with run tests and submission. Related problem:
https://leetcode.com/problems/longest-palindromic-substring/

**Describe the bug**
A time limit exceeded error is issued during code submission for certain inputs, but when testing that same input in the run test case module it does not trigger a time limit exceeded error.

**what language is your code w

[2020-05-28 07:29] bissahoo opened #373 "Time Limit Exceeded for Question 95. Unique Binary Search Trees II"
**What kind of the bug**
- [ ] problem
- [X ] solution
- [ ] language

**Describe the bug**
When i try the solution with input 15 it is giving Time Limit Exceeded.

**what language is your code written in**
Java
**The code you submit/run**
[code]

**Expected behavior**
We need an improved solution or relaxed time or limit the numbers.

**Screenshots**
If applicable, add screenshots to help explain

[2020-05-28 07:41] nivance opened #374 "394的测试用例有问题"
** Bug 类型**
- [ ] 题目

**描述**
[394](https://leetcode-cn.com/problems/decode-string/)的测试用户有问题。

题目中明确规定输入的字符串编码规则为: k[encoded_string]，表示其中方括号内部的 encoded_string 正好重复 k 次。注意 k 保证为正整数。

测试用例却出现了前面有字符串的用例，如sk3[abc]ed

**你使用的语言**
Java

**你提交或者运行的代码**
[code]

**期望行为**
不应该有这种测试用例sk3[abc]ed吧

**屏幕截图**
无

**额外的上下文**
无

[2020-05-28 07:49] feiceh commented on #374
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-05-28 08:23] feiceh commented on #351
实在抱歉，因题目涉及到全球，经题目团队综合评估反馈，该用例暂不添加，一般不用 handle capacity 是 0 的情况。

[2020-05-28 08:23] #351 closed

[2020-05-28 08:25] feiceh commented on #335
感谢反馈，因题目涉及到全球，经题目团队综合评估反馈，该用例暂不添加。我们不可能对每个 hard code 的代码去做测试用例，这个主要还是看用户自觉。非常感谢您这样的积极用户对力扣网站的支持，祝您生活愉快。ˆ＾‿＾

[2020-05-28 08:25] #335 closed

[2020-05-28 10:28] leet212 opened #375 "846. Hand of Straights"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Duplicate question

**Expected behavior**
The problems [846](https://leetcode.com/problems/hand-of-straights/) and [1296](https://leetcode.com/problems/divide-array-in-sets-of-k-consecutive-numbers/) are equivalent. Moreover 846 has an editorial whereas 1296 does not. On the other hand 1296 has hints whereas

[2020-05-28 18:41] CooperCooperCooper commented on #318
Hi @gptSanyam ,
Thank you for your time. We've used your feedback to update the problem difficulty levels to difficult for both. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-28 18:41] #318 closed

[2020-05-28 18:42] CooperCooperCooper commented on #346
Hi @arpitx165 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

Side note: We want to clarify that your code is actually in Python3 and not Python.

[2020-05-28 18:42] #346 closed

[2020-05-28 18:45] CooperCooperCooper commented on #319
Hi @dheeraj141 ,
Thank you for your time. Our team has reviewed your most recent comment and wanted to point out that there is no part of the statement that the dot operator (*) is needed to be implemented.

For future submissions, please make sure to copy and paste your submission code and the specific test case on the issue besides the screenshot. We appreciate your time and support.

[2020-05-28 18:45] #319 closed

[2020-05-28 18:45] CooperCooperCooper commented on #352
Hi @leet212 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-28 18:45] #352 closed

[2020-05-28 18:54] CooperCooperCooper commented on #355
Hi @leet212 ,
Thank you for your time. Upon reviewing this issue, we've decided to keep the current problem statement as is because it's complementing the problems' current test cases. We will keep your feedback on file as these problems are constantly revamped. Thank you again for your support.

[2020-05-28 18:54] #355 closed

[2020-05-28 19:02] CooperCooperCooper commented on #360
Hi @conghao321 ,
Thank you for your time. Upon reviewing your feedback, we found you've misunderstood the problem. Please check out the Discuss Section [posts](https://leetcode.com/problems/rotting-oranges/discuss?currentPage=1&orderBy=newest_to_oldest&query=) for more information. We appreciate your support.

[2020-05-28 19:02] #360 closed

[2020-05-28 19:03] CooperCooperCooper commented on #362
Hi @roll-no-1 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-28 19:03] #362 closed

[2020-05-28 19:09] HarshitKesar opened #376 "106. Construct Binary Tree from Inorder and Postorder Traversal (PROBLEM)"
My Solution :-
[code]

[code]
Problem:-  When I run this input manually (using RunCode on leetcode) it works fine and shows ACCEPTED.
but when I submit this code it shows RunTime Error. Please resolve this issue. Thanks.

[2020-05-28 19:13] CooperCooperCooper commented on #370
Hi @nefigtut ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-28 19:14] HarshitKesar commented on #376
This is my code link please check this out: -

https://leetcode.com/submissions/detail/345951121/

[2020-05-28 19:23] CooperCooperCooper commented on #371
Hi @siyuan1992 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-28 19:28] CooperCooperCooper commented on #372
Hi @crimsonalucard ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-28 19:31] CooperCooperCooper commented on #373
Hi @bissahoo ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-28 19:33] CooperCooperCooper commented on #375
Hi @leet212 ,
Thank you for reaching out to us. This similarity issue between problem 846 and 1296 was already reported by another user in task #371 . We appreciate your support.

[2020-05-28 19:33] #375 closed

[2020-05-28 19:42] CooperCooperCooper commented on #376
Hi @HarshitKesar ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-28 20:02] gptSanyam commented on #318
Hi @CooperCooperCooper,
Actually there is one more such question which is equally difficult (literally the same code as the other two):
**144. Binary Tree Preorder Traversal (Medium)**
To be honest, I think all three of these should be Medium, but that will be your call.

Below is the code for this:
[code]

[2020-05-28 20:57] rakeshswarankar opened #377 "1197. Minimum Knight Moves"
**What kind of the bug**
- [ 1197] problem
- [ ] solution
- [Java ] language

**Describe the bug**
One test case pass when I run using custom test case but giving TLE error when I submitting the solution.

**what language is your code written in**
Java

<img width="1280" alt="Screen Shot 2020-05-28 at 4 48 06 PM" src="https://user-images.githubusercontent.com/12644234/83192461-90879580-a103-11ea-9

[2020-05-28 21:47] dpritam1986 opened #378 "Wrong test case output for 108. Convert Sorted Array to Binary Search Tree"
[0,1,2,3,4,5]  this input with below code generates  -  output as Binary search tree -     [3,2,5,1,null,4]
Let code console giving me Wrong Answer ..

However  if I compile this output with leetcode problem  - 98. Validate Binary Search Tree    this is passing the test  it indicates that      [3,2,5,1,null, 4]     is correct BINARY SEARCH TREE
Leetcode need to correct on  this input -  [0,1,2,3,4

[2020-05-28 22:19] us899 commented on #322
Is there any way for me to contribute to leetcode directly and maybe solve some of these basic bugs?

[2020-05-28 22:25] bozhang7 opened #379 "Wrong test case result"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
A clear and concise description of what the bug is.
I ran my code in my local IDE and it gave me the right answer, however, when I ran my code on leetcode website, it gave me a different result(wrong answer).

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected beha

[2020-05-28 22:35] leet212 commented on #352
Hello @CooperCooperCooper. Thank you for the update. Sure I will reach out to the channel.

[2020-05-28 23:03] moheed opened #380 "clone-graph problem: c-language Node definition not proper"
**What kind of the bug**
- [ +] problem
- [ ] solution
- [ C] language

**Describe the bug**
A clear and concise description of what the bug is.
https://leetcode.com/problems/clone-graph/submissions/
For this problem, when you go for C-solution, the definition of Node is not proper.

**what language is your code written in**
C

**Expected behavior**

There are no  correct way to store all the neig

[2020-05-29 08:31] koushikII opened #381 "run time error in official python solution"
**What kind of the bug**
- [ ] problem
- [yes] solution
- [] language

**Describe the bug**
https://leetcode.com/problems/regions-cut-by-slashes/solution/
the official solution given in this problem in python is giving run time error!

**what language is your code written in**
Python

**The code you submit/run**
[code]

[2020-05-29 13:13] HarshitKesar commented on #376
Hii,
Have you got my problem ???

Am attaching the screenshot of my problem please check this also !!!

![leetProblem](https://user-images.githubusercontent.com/43781453/83263344-0eb76b00-a1dc-11ea-9bb8-d6536dd1bed9.jpg)

[2020-05-29 14:16] Gitu11 opened #382 "Missing Test cases result in incorrect solution to be accepted"
**What kind of the bug**
- [ ] problem
- [*] solution
- [ ] language

**Describe the bug**
Missing test cases cause the incorrect solution to be accepted.

**what language is your code written in**
Python3

**The code you submit/run**
[code]

**Expected behaviour**
Below test case proves the solution incorrect.

"bacddcxyab"
2

2)
**Screenshots**
If applicable, add screenshots to help explain your

[2020-05-29 20:57] abhishekans21 opened #383 "Weak test cases for 787. Cheapest Flights Within K Stops"
**What kind of the bug**
- [x] problem
- [x] solution

**Describe the bug**
The question asks us to find minimum cost to reach the destination from source, with using at max K edges. The current test cases fail to catch a wrong solution.

**what language is your code written in**
C++

**The code you submit/run**
[code]
**Current Behavior**
Incorrect solution was accepted

**Expected behavior**
The

[2020-05-29 21:13] agarusa opened #384 "598. Range Addition II (ambiguous problem statement)"
**What kind of the bug**
ambiguous problem statement .

**Describe the bug**
Problem states: "Given an m * n matrix M..."
There no statement if m in number of rows or columns. Thought usually matrix is said to have n rows and m columns, in this statement its opposite.

Function description in C++:
int maxCount(int m, int n, vector<vector<int>>& ops) {...}

Testcase that shows it:
92
2
[[70,1],[37,

[2020-05-29 22:02] nishantc1527 opened #385 "Solution That Doesn't Work Gets Accepted In House Robber No. 198"
**What kind of the bug**
- [x] problem
- [x] solution

**Describe the bug**
A solution that shouldn't get accepted due to a flaw in the code get's accepted. When entering the custom test case in the "run code" section, it says it was wrong.

**what language is your code written in**
Python3

**The code you submit/run**
[code]

**Expected behavior**
When I press "submit," it should give "Wrong Answ

[2020-05-29 22:42] CooperCooperCooper commented on #376
Hi @HarshitKesar ,
Thank you for your time. The error is caused by the mishandle of variable of idx in your code. Please update your code accordingly. We appreciate your support.

[2020-05-29 22:42] #376 closed

[2020-05-29 22:44] CooperCooperCooper commented on #373
Hi @bissahoo ,
Thank you for your time. Please review the problem notes "Constraints" section where it specifies 0 <= n <= 8. We appreciate your support.

[2020-05-29 22:44] #373 closed

[2020-05-29 22:47] CooperCooperCooper commented on #372
Hi @crimsonalucard ,
Thank you for your time. During "Run Code", it runs 1 test case at a time; during "Submit", it runs all test cases at once. Therefore, your code might get accepted during "Run Code" but still get rejected by "Submit". This indicates that the code's time complexity needs to be further optimized.

[2020-05-29 22:47] #372 closed

[2020-05-29 22:48] CooperCooperCooper commented on #371
Hi @siyuan1992 ,
Thank you for your time. We've added notes on both problems to indicate their similarity. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-29 22:48] #371 closed

[2020-05-29 22:49] CooperCooperCooper commented on #370
Hi @nefigtut ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-29 22:49] #370 closed

[2020-05-29 22:51] CooperCooperCooper commented on #367
Hi @SeyhmusGuler ,
Thank you for your time. The third point of the[ problem description](https://leetcode.com/problems/generate-random-point-in-a-circle/), "a point on the circumference of the circle is considered to be in the circle" should clarify the doubt. We appreciate your support.

[2020-05-29 22:51] #367 closed

[2020-05-29 22:51] CooperCooperCooper commented on #369
Hi @nefigtut ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-29 22:51] #369 closed

[2020-05-29 23:28] crimsonalucard commented on #372
That's an inaccurate, each test case should be timed on it's own merit not all test cases. Additionally the complexity of this code is the same as the tabular version. It's dynamic programming either way. Please have the engineer examine the algorithm, it's only slow because of python.

[2020-05-30 00:38] CooperCooperCooper commented on #377
Hi @rakeshswarankar ,
Thank you for reaching out to us. Getting Accepted for "Run Code" but TLE for "Submit" is normal behavior for code that needs further time optimization. When you click on "Run Code", your code only runs on 1 test case, whereas when you click on "Submit", your code runs on all test cases. I hope this helps. We appreciate your support.

[2020-05-30 00:38] #377 closed

[2020-05-30 00:39] CooperCooperCooper commented on #378
Hi @dpritam1986 ,
Thank you for reaching out to us. To help us take a deeper look into this issue, please share your code here with us.

[2020-05-30 00:40] CooperCooperCooper commented on #379
Hi @bozhang7 ,
Thank you for reaching out to us. The reasons and solutions for different "outputs" from "Run Code" and "Submit" are well documented in [this support article](https://support.leetcode.com/hc/en-us/articles/360011834174-I-encountered-Wrong-Answer-Runtime-Error-for-a-specific-test-case-When-I-test-my-code-using-this-test-case-it-produced-the-correct-output-Why-). Please check it out.

[2020-05-30 00:40] #379 closed

[2020-05-30 00:45] CooperCooperCooper commented on #380
Hi @moheed ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-30 00:51] CooperCooperCooper commented on #381
Hi @koushikII ,
Thank you for reaching out to us. I've tested the Python solution and got "Accepted" for both "Run Code" and "Submit". Please try and see if you're still getting Runtime Error from this solution. We appreciate your support.
<img width="1433" alt="Screen Shot 2020-05-29 at 5 50 08 PM" src="https://user-images.githubusercontent.com/59751300/83315450-e8420180-a1d4-11ea-98b6-23575f4f1c

[2020-05-30 00:51] #381 closed

[2020-05-30 00:53] dpritam1986 commented on #378
Hi Please find code below .

output from this code when compiled thru  # 98. Validate Binary Search
Tree   it
passed

class Solution {
    public TreeNode sortedArrayToBST(int[] nums) {

        TreeNode root=null;

        if(nums.length <= 0) return root;

        if(nums.length > 0){

            int low =0;
            int high = nums.length-1;
             int mid = low+(high-low)/2;

[2020-05-30 00:53] CooperCooperCooper commented on #382
Hi @Gitu11 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-30 00:56] CooperCooperCooper commented on #383
Hi @abhishekans21 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-30 00:58] CooperCooperCooper commented on #384
Hi @agarusa ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-30 01:00] CooperCooperCooper commented on #385
Hi @nishantc1527 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-05-30 11:04] sagarchand9 commented on #325
Yes

[2020-05-30 14:21] tyl569 commented on #186
能不能确认修复之后再close

[2020-05-30 15:33] leet212 opened #386 "1461. Check If a String Contains All Binary Codes of Size K"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Ambiguous problem statement

**Expected behavior**
Given a binary string s and an integer k.

Return True if any binary code of length k is a substring of s. Otherwise, return False.

This is the problem statement.

The title says all but description says any. The examples are correct assuming all is intende

[2020-05-30 17:44] ss005 opened #387 "Weak test cases for [1460. Make Two Arrays Equal by Reversing Sub-arrays]"
#### Your LeetCode username
ss005

#### Category of the bug
- [x] Question/Test-case

#### Description of the bug

There are not enough test cases to verify the correctness of the code.

#### Code you used for Submit/Run operation

[code]

#### Language used for code

Java

#### Actual behavior
Above code passes all the existing test cases.

#### Expected behavior

**Below test cases should fail:*

[2020-05-30 17:55] leet212 opened #388 "1460. Make Two Arrays Equal by Reversing Sub-arrays"
#### Category of the bug
- [x] Question
- [ ] Solution
- [ ] Language

#### Description of the bug
Incorrect solution gets accepted

#### Code you used for Submit/Run operation
[code]

#### Language used for code
Python

#### Expected behavior
Should fail this test case

[1,2,3,4,1]
[2,4,1,3,3]

[2020-05-30 18:05] vikrantpc commented on #350
class Solution {
    public int isPrefixOfWord(String sentence, String searchWord) {
        boolean search = true;
        for (int i=0, j =0, wordCount = 1; i<sentence.length(); i++) {
            if (search) {
                if (searchWord.charAt(j) == sentence.charAt(i)) {
                    if (++j==searchWord.length()) return wordCount;
                } else search = false;
            }

[2020-05-30 18:07] alexandrtovmach opened #389 "88. Merge Sorted Array hardcoded wrong output"
#### Your LeetCode username
alexandrtovmach

#### Category of the bug
- [ ] Question
- [x] Solution
- [ ] Language

#### Description of the bug
Testcase returns hardcoded value

1. Open https://leetcode.com/problems/merge-sorted-array/
2. Select "JavaScript"
3. Click "Run Code" (with or without code changes)

Expected result: Wrong answer with returned value from function in Output
Actual result:

[2020-05-30 21:31] rdev02 opened #390 "1137. Height Checker test output wrong."
#### Your LeetCode username
vnomad

#### Category of the bug
- [ ] Question
- [X] Solution
- [ ] Language

#### Description of the bug
Example answer is incorrect:
[code]
however minimal amount of swaps is actually 2:
[code]

#### Code you used for Submit/Run operation

[code]

#### Language used for code
java

#### Expected behavior
test answer is should be 2.

#### Screenshots

#### Additional c

[2020-05-30 23:10] minwoo33park opened #391 "Wrong example explanation for Database 607. Sales Person"
#### Your LeetCode username

minwoo33park

#### Category of the bug
- [x] Question
- [ ] Solution
- [ ] Language

#### Description of the bug

The explanation of the example says that 'John' and 'Alex' have sales to company 'RED'. However, both the `orders` table in the example and the testcase suggest that 'John' and 'Pam' are the ones that have sales to company 'RED'

#### Screenshots

![Screen

[2020-05-31 00:04] aattarde opened #392 "A test case is leading to TLE"
#### Your LeetCode username
aattarde

#### Category of the bug
- [ ] Question : 560. Subarray Sum Equals K
- [ ] Solution :  fix time limit for test case 81
- [ ] Language : C++

#### Description of the bug

A test case 81 is leading to time limit exceeded, where as exact same implementation in Java is being accepted just fine. please find attached screenshots for both submissions.

#### Code you

[2020-05-31 01:47] bozhang7 opened #393 "Wrong test case result"
#### Your LeetCode username

bbx719

#### Category of the bug
- [ ] Question
- [x] Solution
- [ ] Language

#### Description of the bug

Test case "(*()" should be an invalid parenthesis string, however, the expected output from the judge system is "true".

#### Code you used for Submit/Run operation

[code]

#### Language used for code

Java

#### Expected behavior

the right answer should be fal

[2020-05-31 04:18] xu932 opened #394 "1465. Feedback on test cases"
#### Your LeetCode username
xu932

#### Category of the bug
- [x] Question
- [ ] Solution
- [ ] Language

#### Description of the bug
One suggestion: please just do not use test case that will cause numeric overflow. Reasons:
1. It is unfair subject to languages. For example, c++ user might get runtime error due to overflow when they submit the problem without taking care of large value multiplied

[2020-05-31 05:01] #393 closed

[2020-05-31 05:59] leet212 opened #395 "1460. Make Two Arrays Equal by Reversing Sub-arrays"
#### Category of the bug
- [x] Question
- [ ] Solution
- [ ] Language

#### Description of the bug
Incorrect solution gets accepted

#### Code you used for Submit/Run operation
[code]

#### Language used for code
Python

#### Expected behavior
Should fail this test case

[1,2,3]
[2,2,2]

[2020-05-31 06:09] desdae commented on #392
Performance of the "same" operations in different languages can vary. O(1) time complexity does not mean instant.
For example, size() method of a vector in C++ is slower than just accessing a local variable.
Thus, you can optimize the suboptimal O(n^2) C++ solution to get accepted without reducing the time complexity:
[code]

[2020-05-31 07:16] 0xac001d09 opened #396 "第191周周赛数据太弱"
[题解](https://leetcode-cn.com/problems/reorder-routes-to-make-all-paths-lead-to-the-city-zero/solution/javayong-setshi-xian-de-by-bei-ao-ao-yi-kou-chi-di/), 该写法能过但以下测试用例是过不去的
-----------------
3
[[1,2],[2,0]]
6
[[2,3],[3,1],[1,0],[4,0],[4,5]]
3
[[2,1],[0,2]]

[2020-05-31 07:21] bissahoo commented on #373
Thanks i can see the constraints updated now!

[2020-05-31 16:38] Priya-Raut opened #397 "703. Kth Largest Element in a Stream"
#### Your LeetCode username
priyaraut

#### Category of the bug
- [X] Question

#### Description of the bug
The problem does not explain the exact behavior of the add method.
For the given example, array [4,5,8,2], k = 3

After sorting array becomes [2,4,5,8]
after calling this method kthLargest.add(3);
the resulting array could be one of the following
1.  [3,4,5,8], after replacing the smallest e

[2020-05-31 20:51] geotransformer opened #398 "15. 3Sum"
#### Your LeetCode username

#### Category of the bug
- [ ] Question

#### Description of the bug
testing code
nums = [0, 0, 0, 0, 1, 2, -7, -4]

should return [[0, 0, 0]]

#### Code you used for Submit/Run operation

[code]

#### Language used for code
python3

#### Expected behavior

#### Screenshots

#### Additional context

[2020-05-31 20:54] #398 closed

[2020-05-31 21:06] geotransformer commented on #398
I messed up

[2020-06-01 01:05] aattarde commented on #392
@desdae - I understand that the solution is O(n^2) and can be improved , however point is if O(n^2) solution is acceptable in Java then it should be acceptable in C++ . Otherwise update the posted solution to reflect right information - informing that O(n^2) is not acceptable.

The point mentioned about vector<T>::size() being instant or not does not makes sense - instant or not - it is O(1) opera

[2020-06-01 02:55] feiceh commented on #396
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-06-01 04:47] deepanshululla opened #399 "Additional Test Case for 116"
#### Your LeetCode username
deepanshu6

#### Category of the bug
- [ ] Question/Test-case

#### Description of the bug
Is the expected output of your testcases different from our judger's output?

Yes
Were wrong solutions accepted because we missed these testcases?

Yes

#### Code you used for Submit/Run operation

[code]

#### Language used for code
Python

#### Expected behavior
[code]
The outpu

[2020-06-01 06:53] Priya-Raut commented on #397
Please ignore this issue. I miss understood the meaning of kth largest element.

[2020-06-01 06:53] #397 closed

[2020-06-01 08:42] agatagruza commented on #316
Thank you @CooperCooperCooper for the info.

[2020-06-01 08:54] xiaotianrandom opened #400 "返回类型为浮点数的题目 Rust 测试结果异常"
## Bug 类型
- [ ] 题目
- [ ] 题解
- [x] 编程语言

## 描述
周赛 191 最后一题（5427），我在比赛中的提交（ID: 75083986）以及赛后同样程序再次提交（ID: 75124308），均显示在第一个样例解答错误，然而显示的程序输入与预期相同（图 1）。相同的程序提交到国际站（ID: 347462412），结果为 Accepted（图 2）。此外，我在国内站提交直接返回常数 1.0 的程序（ID: 75376468），依然返回解答错误（图 3）。

我的提交是 Rust 语言的，而该题结果类型为 f64，且允许 1e-5 范围内的误差。感觉是 Rust 测试程序哪里有问题。

## 你使用的语言
Rust

## 你提交或者运行的代码

### 图 1 及图 2 的代码
[code]

### 图 3 的代码
[code]

## 期望行为
测试结果

[2020-06-01 11:12] feiceh commented on #400
感谢参加力扣第 191 场周赛，该问题攻城狮正在修复，rust 在本场周赛最后一题的提交会 rejudge。力扣团队会努力做好未来竞赛的相关工作，感谢您的支持。

[2020-06-01 12:19] roll-no-1 opened #401 "1325. Delete Leaves With a Given Value - Incomplete constraints description or Missing test case"
#### Your LeetCode username

roll_no_1

#### Category of the bug
- [x] Question
- [x] Solution
- [ ] Language

#### Description of the bug

The constraint no. 2 states: "Each tree has at most 3000 nodes.", which roughly translates to the statement that the tree can have anywhere between 0 and 3000 nodes.

So, the following should be a valid input:
[code]
This input is an empty tree. However, I am

[2020-06-01 12:35] roll-no-1 opened #402 "1373. Maximum Sum BST in Binary Tree - Missing test case"
#### Your LeetCode username

roll_no_1

#### Category of the bug
- [ ] Question
- [x] Solution
- [ ] Language

#### Description of the bug

The code I submitted got accepted. However, it should throw a Runtime Error on the following test case:
[code]

The test case corresponds to an empty tree, and is a valid input.

#### Code you used for Submit/Run operation

[code]

#### Language used for code

[2020-06-01 17:35] TrickyCat opened #403 "1460. Make Two Arrays Equal by Reversing Sub-arrays"
#### Your LeetCode username
TrickyCat

#### Category of the bug
- [x] Question
- [x] Solution
- [ ] Language

#### Description of the bug
There are several solutions that were accepted and rated as the fastest two solutions in C# language but they are wrong.

#### Code you used for Submit/Run operation

[code]

#### Language used for code
C#

#### Expected behavior
For  the given input arrays
[5,

[2020-06-01 22:10] CooperCooperCooper commented on #250
Hi @
Thank you for your time. We've fixed the time complexity. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-06-01 22:10] #250 closed

[2020-06-01 22:15] CooperCooperCooper commented on #322
Hi @us899 ,
Thank you for your time. We've used your feedback to update the solution. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

If you're interested in working for LeetCode, please check out the positions we have listed on our [job board](https://leetcode.com/jobs/). We

[2020-06-01 22:15] #322 closed

[2020-06-01 22:16] CooperCooperCooper commented on #348
Hi @wilmerkrisp ,
Thank you for your time. We've used your feedback to fix the image and it should be available now. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-06-01 22:16] #348 closed

[2020-06-01 22:17] CooperCooperCooper commented on #380
Hi @moheed ,
Thank you for your time. Due to our technical design decision, we will be keeping the code definition the same for now. We appreciate your support!

[2020-06-01 22:17] #380 closed

[2020-06-01 22:18] CooperCooperCooper commented on #354
Hi @leet212 ,
Thank you for your time. We've used your feedback to update the approach. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-06-01 22:18] #354 closed

[2020-06-01 22:19] CooperCooperCooper commented on #382
Hi @Gitu11 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-06-01 22:19] #382 closed

[2020-06-01 22:24] CooperCooperCooper commented on #383
Hi @abhishekans21 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-06-01 22:24] #383 closed

[2020-06-01 22:26] koushikII commented on #381
sorry ..but i am still getting the same error.
Koushik Ghos

On Sat, May 30, 2020 at 6:21 AM CooperCooperCooper <notifications@github.com>
wrote:

[2020-06-01 22:41] CooperCooperCooper commented on #385
Hi @nishantc1527 ,
Thank you for your time. From the statement "Given a list of non-negative integers", it indicates the provided test case in this issue is invalid. We appreciate your support.

[2020-06-01 22:41] #385 closed

[2020-06-01 22:47] CooperCooperCooper commented on #384
Hi @agarusa ,
Thank you for your time. Due to our design decision, we will be keeping this description for now. However, we will keep your feedback in mind when we update the description standard in the future for all related problems. We appreciate your support.

[2020-06-01 22:47] #384 closed

[2020-06-01 23:00] CooperCooperCooper commented on #386
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-01 23:01] CooperCooperCooper commented on #387
Hi @ss005 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-01 23:02] CooperCooperCooper commented on #388
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-01 23:06] CooperCooperCooper commented on #389
Hi @alexandrtovmach ,
Thank you for reaching out to us. Can you please verify the empty code definition is the code submission you would like to share with us for this investigation?

[2020-06-01 23:10] CooperCooperCooper commented on #390
Hi @rdev02 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-01 23:13] CooperCooperCooper commented on #391
Hi @minwoo33park ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-01 23:22] CooperCooperCooper commented on #394
Hi @xu932 ,
Thank you for reaching out to us. I've relayed your feedback to our team to consider. We appreciate your time and support.

[2020-06-01 23:24] CooperCooperCooper commented on #395
Hi @leet212 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-01 23:25] alexandrtovmach commented on #389
@CooperCooperCooper Yep, that's reproducible code sample, and can be used for investigation

[2020-06-01 23:26] CooperCooperCooper commented on #399
Hi @deepanshululla ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-01 23:28] CooperCooperCooper commented on #401
Hi @roll-no-1 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-01 23:40] CooperCooperCooper commented on #402
Hi @roll-no-1 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-01 23:50] evgeni-nabokov opened #404 "1438. Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit: Clarification needed"
#### Your LeetCode username
evgeni-nabokov

#### Category of the bug
- [*] Question

#### Description of the bug
The state: _In case there is no subarray satisfying the given condition return 0._
I see the only case to return 0 is when `nums` is empty or null. If `nums` has 1 element a least, the answer is always > 0. So I find the state above confusing, because it speaks on subarray of an empty a

[2020-06-02 00:03] CooperCooperCooper commented on #403
Hi @TrickyCat ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-02 06:02] feiceh commented on #400
已修复，竞赛已重判。

[2020-06-02 06:02] #400 closed

[2020-06-02 06:10] feiceh commented on #374
你好，该题目是没有问题的，在样例里面有写这种情况。

[2020-06-02 06:10] #374 closed

[2020-06-02 06:28] moheed commented on #380
HI CooperCooperCoooper,

Are you saying the c-node definition is correct for atleast one design choice, while implementing a solution in C?
Thank you.
Moheed

[2020-06-02 06:56] abhishekans21 commented on #383
Hi @CooperCooperCooper,
Glad I could help.
I've dropped a mail with the required info to "support@leetcode.com"

[2020-06-02 09:01] sekhar179 opened #405 "419. Battleships in a Board - Missing test case"
#### Your LeetCode username

sekhar179

#### Category of the bug
- [ *] Question
- [ ] Solution
- [ ] Language

#### Description of the bug

Wrong solution accepted due to lack of proper test cases

#### Code you used for Submit/Run operation

[code]

#### Language used for code

C++

#### Expected behavior

The solution should fail with the below test case (2nd test case mentioned in the problem

[2020-06-02 09:44] occidere opened #406 "235. Lowest Common Ancestor of a Binary Search Tree - Golang template is weird"
#### Your LeetCode username

occidere

#### Category of the bug
- [ ] Question
- [ ] Solution
- [x] Language

#### Description of the bug

The default template of Golang is something weird.
[code]
Weird points
1. Elements of TreeNode struct definition in comments
    - Type of `Left`, `Right` are defined as `*ListNode`
    - It should be changed to `*TreeNode`

~~2. Arguments of `lowestCommonAnces

[2020-06-02 11:55] paragpachpute opened #407 "Test case contribution for 523. Continuous Subarray Sum"
#### Your LeetCode username

#### Category of the bug
- [-] Question
- [ ] Solution
- [ ] Language

#### Description of the bug
Test case contribution, I found a few interesting test cases which, if not already present, should be added into the test pack. Online Judge is returning correct output, it is just that if we don't have a similar test case in the test pack then we should add it.

#### Cod

[2020-06-02 18:00] palashgdev opened #408 "bug in June Leet Code Challenge"
#### Your LeetCode username
palashgdev

#### Category of the bug
- [x] Question
- [ ] Solution
- [ ] Language

#### Description of the bug

in the https://leetcode.com/problems/delete-node-in-a-linked-list/ second parameter is undefined in JS

#### Language used for code

Javascript

#### Expected behavior

there should be value

#### Screenshots

<img width="1058" alt="Screenshot 2020-06-02 at 11

[2020-06-02 19:57] aattarde commented on #365
@CooperCooperCooper  - By today EOD (PDT) I will update you with requested information, particularly - I need to revisit the list of all solved question in "take-3" session.

[2020-06-02 22:35] betoleal opened #409 "bug on 53. Maximum Subarray"
#### Your LeetCode username

betojulio

#### Category of the bug
- [ ] Question
- [* ] Solution
- [ ] Language

#### Description of the bug

When running my code with custom a test case, I believe the expected result is wrong.
#### Code you used for Submit/Run operation

[code]

#### Language used for code

python3

#### Expected behavior
 I believe that the expected result from the input `[]` sho

[2020-06-03 02:06] nivance commented on #374
样例是下面这样的，前面没有非数字

[code]

[2020-06-03 03:30] feiceh commented on #396
fixed

[2020-06-03 03:30] #396 closed

[2020-06-03 03:32] CooperCooperCooper commented on #391
Hi @minwoo33park ,
Thank you for your time. We've used your feedback to update the problem. Your LeetCode account has received 100 LeetCoins as the reward for this feedback. We appreciate your support!

[2020-06-03 03:32] #391 closed

[2020-06-03 03:38] CooperCooperCooper commented on #388
Hi @leet212 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-06-03 03:38] #388 closed

[2020-06-03 04:00] CooperCooperCooper commented on #404
Hi @evgeni-nabokov ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-03 04:04] CooperCooperCooper commented on #405
Hi @sekhar179 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-03 04:42] CooperCooperCooper commented on #407
Hi @paragpachpute ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-03 07:35] roll-no-1 commented on #409
Maybe this input is invalid according to description of the problem statement:
Given an integer array nums, find the contiguous subarray **(containing at least one number)** which has the largest sum and return its sum.

[2020-06-03 20:33] dheeraj2645 opened #410 "Test case contribution for 1208. Get Equal Substrings Within Budget"
Note - Any content mention below in `

#### Additional context

[2020-06-03 21:12] KamiFightingSpirit opened #411 "Poorly Worded Question - 1221. Split a String in Balanced Strings"
#### Your LeetCode username

DeHuff

#### Category of the bug
- [ ] Question
- [ ] Solution
- [ X ] Language

#### Description of the bug

Given the definition of balanced string :  "Balanced strings are those who have equal quantity of 'L' and 'R' characters."
The user is asked : "Return the maximum amount of splitted balanced strings."

Example 4 provides:
Input: s = "RLRRRLLRLL"
Output: 2

Howe

[2020-06-03 22:13] CooperCooperCooper commented on #402
Hi @roll-no-1 ,
Thank you for your time. We've used your feedback to update the problem. Your LeetCode account has received 100 LeetCoins as the reward for this feedback. We appreciate your support!

[2020-06-03 22:13] #402 closed

[2020-06-03 22:14] CooperCooperCooper commented on #404
Hi @evgeni-nabokov ,
Thank you for your time. We've used your feedback to update the problem. Your LeetCode account has received 100 LeetCoins as the reward for this feedback. We appreciate your support!

[2020-06-03 22:14] #404 closed

[2020-06-03 22:15] CooperCooperCooper commented on #401
Hi @roll-no-1 ,
Thank you for your time. We've used your feedback to update the problem. Your LeetCode account has received 100 LeetCoins as the reward for this feedback. We appreciate your support!

[2020-06-03 22:15] #401 closed

[2020-06-03 22:19] CooperCooperCooper commented on #386
Hi @leet212 ,
Thank you for your time! Upon reviewing this issue, we found out that we've fixed the issue immediately after contest and prior to this GitHub issue being filed. Therefore there is no reward for this issue. Please try again :)

[2020-06-03 22:19] #386 closed

[2020-06-03 22:27] CooperCooperCooper commented on #399
Hi @deepanshululla ,
Thank you for your time. We tested your code in multiple ways (including changing the code definitions), but all of those runs got Runtime Error. Can you please share a viable submission link from when you got the code accepted, and provide more information to support your feedback, so we can take a better look at the issue?

[2020-06-03 22:29] CooperCooperCooper commented on #394
Hi @xu932 ,
Thank you for your time. We always try to make problems as simple as possible but sometimes we can't avoid using big integers, so on those test cases, we use modulo.

[2020-06-03 22:29] #394 closed

[2020-06-03 22:30] CooperCooperCooper commented on #395
Hi @leet212 ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-06-03 22:30] #395 closed

[2020-06-03 22:41] CooperCooperCooper commented on #392
Hi @aattarde ,
Thank you for your time. Since the expected solution is linear and the given codes are quadratic solutions, even if in java the quadratic passes with tightly this behavior is expected. Therefore, please revise your code accordingly. We appreciate your support.

[2020-06-03 22:41] #392 closed

[2020-06-03 22:58] CooperCooperCooper commented on #390
Hi @rdev02 ,
Thank you for your time. Upon a thorough review of your code and the problem, we found your code to be wrong because we are not performing swap operations for this problem.

Additionally, please make sure you're putting the correct problem number for the title. This problem is "1051. Height Checker", where as problem number "1137" is for "N-th Tribonacci Number". We appreciate your su

[2020-06-03 22:58] #390 closed

[2020-06-03 22:59] CooperCooperCooper commented on #387
Hi @ss005 ,
Thank you for reaching out to us. The contributed test case is invalid because your code gets "Wrong Answer" from this test case.

[2020-06-03 22:59] #387 closed

[2020-06-03 23:00] CooperCooperCooper commented on #406
Hi @occidere ,
Thank you for your time. We've used your feedback to update the problem. Your LeetCode account has received 100 LeetCoins as the reward for this feedback. We appreciate your support!

[2020-06-03 23:00] #406 closed

[2020-06-03 23:18] CooperCooperCooper commented on #407
Hi @paragpachpute ,
Thank you for your time. Upon reviewing this problem and these test cases, we've decided to keep this problem as is because these test cases with the given code don't show unexpected behavior. We appreciate your support.

[2020-06-03 23:18] #407 closed

[2020-06-03 23:26] CooperCooperCooper commented on #403
Hi @TrickyCat ,
Thank you for your time. Upon reviewing this issue, we found that this issue was already fixed by immediately after the contest before this Github issue was filed. We appreciate your support.

[2020-06-03 23:26] #403 closed

[2020-06-03 23:31] CooperCooperCooper commented on #409
Hi @betoleal ,
Thank you for reaching out to us. The problem description states, "find the contiguous subarray (**containing at least one number**) which has the largest sum and return its sum." Hence the "Run Time" result looks weird when the input is "[]". Please update your input accordingly.

Hat tip to @roll-no-1 for the feedback.

[2020-06-03 23:31] #409 closed

[2020-06-03 23:37] CooperCooperCooper commented on #410
Hi @dheeraj2645 ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-03 23:40] CooperCooperCooper commented on #411
Hi @KamiFightingSpirit ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-03 23:45] deepanshululla commented on #399
Sure here it is
https://leetcode.com/submissions/detail/347426208/

[2020-06-04 03:12] qwazimoda opened #412 "178. Rank Scores is incorrect after introduction rank() function to MySQL"
#### Your LeetCode username
dyurchyk

#### Category of the bug
- [x ] Question
- [ x] Solution
- [ ] Language

#### Description of the bug

In the question, it is asked to provide results with Score and Rank headers. But there is rank() function in MySQL 8, which makes the question impossible to solve due to syntax error (Rank alias can't be used). Also, it breaks expected results, they are blank

[2020-06-04 07:59] feiceh commented on #374
感谢反馈，该题目示例已更新，感谢您对力扣的支持。

[2020-06-04 13:42] leet212 commented on #386
Hello @CooperCooperCooper

I am skeptical about the accuracy of the statement. As I filed the issue well before the contest even ended it could not have been fixed prior to the issue being filed.

Apart from that it was good to see the mistake being identified and fixed. Thank you for your response.

[2020-06-04 13:57] leet212 opened #413 "1461. Check If a String Contains All Binary Codes of Size K"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Problem statement

**Expected behavior**
[code]

This is the problem statement after the mistake mentioned in #386 was fixed but looks like it was done hastily.

This is incorrect. Codes should no longer be referred to as 'is'.

They 'are' plural. Not 'is' plural. It can be fixed by either

[code]

or

[code

[2020-06-04 18:12] CooperCooperCooper commented on #410
Hi @dheeraj2645 ,
Thank you for your time. We've used your feedback to update the problem. Your LeetCode account has received 100 LeetCoins as the reward for this feedback. We appreciate your support!

[2020-06-04 18:12] #410 closed

[2020-06-04 19:40] CooperCooperCooper commented on #345
Hi @KevinColemanInc ,
Thank you for your feedback, I've shared it with our team to take a deeper look into the issue.

[2020-06-04 20:10] CooperCooperCooper commented on #372
Thank you @crimsonalucard , I've shared your feedback with our team to consider.

[2020-06-04 20:13] CooperCooperCooper commented on #378
Hi @dpritam1986 ,
Thank you for your code. In the code comment, it mentions that "output from this code when compiled thru  # 98. Validate Binary Search
Tree   it
passed"

Can you please clarify if this code and this issue was for Problem 108. Convert Sorted Array to Binary Search Tree or Problem 98. Validate Binary Search Tree?

[2020-06-04 20:15] CooperCooperCooper commented on #325
Hi @sagarchand9 ,
Thank you for your answer. Perhaps you did not edit the code editor + you only put in the test case in the console, and then ran the test case?

[2020-06-04 20:17] CooperCooperCooper commented on #350
Hi @vikrantpc ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-04 20:19] CooperCooperCooper commented on #381
Thank you @koushikII for your answer. Can you please provide your code, its language, and a screenshot of the error (like the screenshot I've attached in the previous message) here with us?

[2020-06-04 20:20] CooperCooperCooper commented on #389
Hi @alexandrtovmach ,
Thank you for your answer. I've relayed this issue to our team to investigate.

[2020-06-04 20:24] CooperCooperCooper commented on #380
Thank you @moheed for your feedback. By design decision, we meant it's best suited for our current design standards across the entire LeetCode problem & solution system. Although we're currently not changing it, it's possible that we will update it in the future :)

[2020-06-04 20:25] CooperCooperCooper commented on #365
Hi @aattarde ,
Please tag me here when you've found the problem number and title. I will close this issue for now. Thank you!

[2020-06-04 20:41] dpritam1986 commented on #378
98 - generates BST .

108  -  validate BST

What I am asking is   -
A)    I created BST thru  98  BST tree output is  - [3,2,5,1,null,4]   for
this output  LEETCODE test case saying wrong answer that means this is  not
BST.
B)  Ok now same output  -  [3,2,5,1,null,4] when I run thru  - 108 which is
(validate BST program )  - it gives me accepted /correct answer in leetcode.

buddy I have attached

[2020-06-04 21:29] CooperCooperCooper commented on #399
Thank you @deepanshululla . I've filed the link to our team for the investigation.

[2020-06-04 21:36] CooperCooperCooper commented on #386
Hi @leet212 ,
My apologies for the mistake. What I meant was that our engineers caught and fixed the mistake by themselves before we could notify them of the issue. Therefore, this issue would be valid but we cannot offer you reward for this one. I am sorry for the confusion and thank you for your time and support.

[2020-06-04 21:39] CooperCooperCooper commented on #378
Thank you @dpritam1986  for the details. I've relayed them to our team to investigate.

[2020-06-04 21:47] leet212 commented on #386
Hello @CooperCooperCooper ,
No need to apologize. It was me who did not get what you meant to say. Thank you for your response.

[2020-06-04 21:49] CooperCooperCooper commented on #232
Hi @ritusingh208 ,
Since you have not responded to this ticket for a while, I will close this ticket for now.

[2020-06-04 21:49] #232 closed

[2020-06-04 21:51] #235 closed

[2020-06-04 21:52] CooperCooperCooper commented on #256
Hi @r2roesk ,
Since you have not responded to this ticket for a while, I will close it for now. If you have more information to add to your message, please tag me in a new comment. Thank you.

[2020-06-04 21:52] #256 closed

[2020-06-04 21:54] CooperCooperCooper commented on #263
Hi @VarunTvlka ,
Since we have not heard from you for a while, I will close this ticket for now. If you have more information to add to this issue, please tag me in a new comment. Thank you.

[2020-06-04 21:54] #263 closed

[2020-06-04 21:57] CooperCooperCooper commented on #290
Hi @dpjha84 ,
Thank you again for reaching out to us previously! Since we have not heard from you for a while, I will close this ticket for now. If you have more information to add to this issue, please tag me in a new comment. Thank you.

[2020-06-04 21:57] #290 closed

[2020-06-04 21:58] CooperCooperCooper commented on #289
Hi @AnthonyMikh ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-06-04 21:58] #289 closed

[2020-06-04 22:00] CooperCooperCooper commented on #298
Hi @albertplus007 ,
Thank you for your time. Since there is no additional code contrasting these given test cases, we will not be adding these test cases. If you have the code, please share it in the new comment and tag me on it. I will share them with our team.

[2020-06-04 22:00] #298 closed

[2020-06-04 22:02] CooperCooperCooper commented on #300
Hi @pritesh-chauhan ,

Thank you again for reaching out to us previously! Since we have not heard from you for a while, I will close this ticket for now. If you have more information to add to this issue, please tag me in a new comment. Thank you.

[2020-06-04 22:02] #300 closed

[2020-06-04 22:05] CooperCooperCooper commented on #303
Hi @Jun711 ,
Thank you for your time. Constraints and statement limit the scope of the problem (on this case the input), having said that ¨¨¨¨[judgeNum, judgeNum]¨¨¨¨¨ is an invalid test case.

[2020-06-04 22:05] #303 closed

[2020-06-04 22:06] CooperCooperCooper commented on #307
Hi @enigmatikme  ,
Thank you again for reaching out to us previously! Since we have not heard from you for a while, I will close this ticket for now. If you have more information to add to this issue, please tag me in a new comment. Thank you.

[2020-06-04 22:06] #307 closed

[2020-06-04 22:09] CooperCooperCooper commented on #342
Hi @ayan-b ,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-06-04 22:09] #342 closed

[2020-06-04 22:11] CooperCooperCooper commented on #347
Hi @aSquare14 ,
Thank you for reaching out to us! I've filed this feature request for our team to consider.

In the future, please file feature requests to our main support channel support@leetcode.com, because this channel is reserved for content issues. We appreciate your support.

[2020-06-04 22:11] #347 closed

[2020-06-04 22:12] CooperCooperCooper commented on #353
Hi @leet212 ,
Thank you for reaching out to us (and apologies for the lack of response). I've already relayed this issue to our team to investigate.

[2020-06-04 22:19] CooperCooperCooper commented on #359
Hi @sekhar179 ,
Thank you for your time. Please attach a concise test case since the provided information is incomplete. We will add the test case when you provide us with a correct contribution.

[2020-06-04 22:19] #364 closed

[2020-06-04 22:21] CooperCooperCooper commented on #412
Hi @qwazimoda ,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-06-05 00:41] shaurya10000 opened #414 "Testcase missing"
For https://leetcode.com/problems/find-first-and-last-position-of-element-in-sorted-array/
test case is missing for:
[2147483647, 2147483647]
2147483647
basically for largest 32 bit integer.

[2020-06-05 00:58] yunjianyang opened #415 "OJ gives the wrong result for problem 85"
#### Your LeetCode username

Bregman

#### Category of the bug
- [ ] Question
- [x] Solution
- [ ] Language

#### Description of the bug

for this test case, [["0", "0", "0", "1", "1", "1", "1", "0"],["0", "0", "0", "1", "1", "1", "1", "1"],["0", "0", "1", "1", "1", "1", "1", "1"],["0", "1", "1", "1", "1", "1", "1", "1"],["1", "1", "1", "1", "1", "1", "1", "1"]]

the max rectange should have area

[2020-06-05 01:01] #415 closed

[2020-06-05 02:44] sekhar179 commented on #359
Please find below the test case.
Input: [100000]
Expected Output: 1

[2020-06-05 05:26] palashgdev commented on #408
@CooperCooperCooper any update on this one?

[2020-06-05 20:33] nevet opened #416 "494. Target Sum test cases missing and Golang runtime bug"
#### Your LeetCode username
nevetshd

#### Category of the bug
- [ ] Question
- [x] Solution
- [ ] Language

#### Description of the bug
TL;DR: there are 2 bugs in this question:
1. overflow case is missing, and standard code can't run for overflow case;
2. Golang runtime probably has some bugs, the output produced by code (run the same test case in the console) is not the same as the one output d

[2020-06-05 20:43] Genetical opened #417 "Longest palindromic substring only passes if it is the first longest substring."
#### Your LeetCode username

#### Category of the bug
- [ ] Question
- [x] Solution
- [ ] Language

#### Description of the bug

The requirements for leetcode.com/problems/longest-palindromic-substring are to find the longest palindromic substring however only actually acceps the first longest palindromic substr. For example, for "babad", "bab" is tied longest substr but fails as it expects "bab".

[2020-06-05 21:02] #417 closed

[2020-06-05 21:03] Genetical commented on #417
Or at least if I wasnt an idiot because this doesn't work.

[2020-06-05 22:00] nevet opened #418 "Golang runtime doesn't support global map with struct type key well"
#### Your LeetCode username
nevetshd

#### Category of the bug
- [ ] Question
- [ ] Solution
- [x] Language

#### Description of the bug

Golang runtime doesn't support global map with struct type key well. The code will fail the submission while success in console (custom test) with exactly the same test case. I have tried 2 problems using a global map with struct type key, both of them had the s

[2020-06-05 22:00] nevet commented on #416
for the Golang runtime problem, i found it's a common case: https://github.com/LeetCode-Feedback/LeetCode-Feedback/issues/418

[2020-06-05 23:38] aattarde commented on #365
@CooperCooperCooper  - Here are the requested details.
Problem # 209. Minimum Size Subarray Sum
Used programming language : C++

Existing issue: here is the code that I used

` int maxSubArrayLen(vector<int>& nums, int k) {
        if(nums.empty()) {
            return 0;
        }
        int ret = numeric_limits<int>::min();
           int sum =0;
        for(int i=0,j=0; i<nums.size(); ++i){

[2020-06-06 09:19] chimmybirdy opened #419 "Missing testcase for problem 1342"
#### Your LeetCode username

bhchen604

#### Category of the bug

- [x] Question
- [ ] Solution
- [ ] Language

#### Description of the bug

I got "Accepted" for my submission but the result of my program is different from the expected one for this testcase.

The testcase:

- Input: num = 0
- Output (expected): 0
- Output (the result of my code): -1

#### Code you used for Submit/Run operation

[c

[2020-06-06 17:59] cowtony opened #420 "Missing testcase in problem 516"
#### Your LeetCode username
cowtony

#### Category of the bug
- [ ] Question: 516
- [ ] Solution: DP
- [ ] Language: c++

#### Description of the bug
The empty string is not considered.

#### Code you used for Submit/Run operation

[code]

#### Language used for code
C++

#### Expected behavior
Run time error if I set test case to `""`.
but the code is accepted.

#### Screenshots

![image](https:/

[2020-06-06 23:02] vinsonlee opened #421 "142. Linked List Cycle II input and output can be None."
#### Your LeetCode username

vlee

#### Category of the bug
- [x] Question
- [ ] Solution
- [ ] Language

#### Description of the bug

Both the input and output can be ListNode or None.

#### Code you used for Submit/Run operation

[code]

#### Language used for code

Python 3

#### Expected behavior

[code]

#### Screenshots

#### Additional context

[2020-06-07 04:26] leet212 opened #422 "1473. Paint House III"
#### Your LeetCode username
habaj

#### Category of the bug
- [x] Question
- [ ] Solution
- [ ] Language

#### Description of the bug
Weak test cases get incorrect solution accepted

#### Code you used for Submit/Run operation

[code]

#### Language used for code
Java

#### Expected behavior
Fails for the test case

[code]

The return value is too small in the code but looks like test cases also u

[2020-06-07 10:52] sagarchand9 commented on #325
yes. That is correct

[2020-06-07 20:21] leet212 opened #423 "379. Design Phone Directory"
#### Your LeetCode username
habaj

#### Category of the bug
- [x] Question
- [ ] Solution
- [ ] Language

#### Description of the bug
Missing constraints

#### Code you used for Submit/Run operation

[code]

#### Language used for code
Python

#### Expected behavior
The solution is accepted but fails for the test case

[code]

An accepted solution should pass all test cases within the constraints.

[2020-06-07 20:26] leet212 opened #424 "1228. Missing Number In Arithmetic Progression"
#### Your LeetCode username
habaj

#### Category of the bug
- [x] Question
- [ ] Solution
- [ ] Language

#### Description of the bug
Missing test cases

#### Code you used for Submit/Run operation

[code]

#### Language used for code
Python

#### Expected behavior
Fails for the test case

[code]

[2020-06-07 20:28] Kartik97 opened #425 "Wrong Expected Output"
#### Your LeetCode username

jainkartik203

#### Category of the bug
- [..] Question
- [ ] Solution
- [ ] Language

#### Description of the bug

Wrong Expected output

#### Code you used for Submit/Run operation

[code]

#### Language used for code
C++

#### Expected behavior

Input-> k=1,n=10
Expected Output-> [[10]]
Actual Output -> [ ]

Expected Output is wrong since is this case the output sho

[2020-06-07 20:31] leet212 opened #426 "266. Palindrome Permutation"
#### Your LeetCode username
habaj

#### Category of the bug
- [ ] Question
- [x] Solution
- [ ] Language

#### Description of the bug
Approach 5 Using Set has incorrect analysis

#### Code you used for Submit/Run operation

[code]

#### Language used for code
Java

#### Expected behavior
Space complexity : O(n). The set can grow upto a maximum size of n in case of all distinct elements.

Distinct