[2020-03-03 08:50] cc189 opened #1 "[Bug] broken linkedin account link"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [x] user experience

**Describe the bug**
- `https://leetcode.com/your_username/` profile page
- missing `href` attribute in `<a>` tag for linkedin account

**Expected behavior**
`<a>` tag with `href` attribute

**Screenshots**
<img width="1108" alt="p1" src="https://user-images.githubusercontent.com/39324273/75758190-87e01880-5ce8-11ea-8015-

[2020-03-03 15:46] zptpower1 opened #2 "测试用例问题"
** Bug 类型**
- [买卖股票的最佳时机 II ] https://leetcode-cn.com/explore/interview/card/top-interview-questions-easy/1/array/22/
- [8]

**描述**
题目描述不清晰，测试用例不符合常理
既然题目为买卖股票的最佳时机，那么购买价格应该只有正数，而不是自然数

**你提交或者运行的代码**
[code]

**期望行为**
测试用例中不应该出现0

**屏幕截图**
![image](https://user-images.githubusercontent.com/385911/75792053-65adcf80-5da8-11ea-9cb0-c2a82a679b47.png)

**额外的上下文**
添加额外的上下文信息

[2020-03-04 02:05] Miloas commented on #2
股票价格为什么为0是不合理的？

[2020-03-04 02:05] #2 closed

[2020-03-04 02:32] CooperCooperCooper commented on #1
Hi @cc189! Thank you for sharing this issue with us. This is a well-known technical issue that we're currently working on. If you would like to report any other technical issues, please don't hesitate to file them here: https://support.leetcode.com/hc/en-us/community/topics.

We appreciate your time and support :)

[2020-03-04 02:32] #1 closed

[2020-03-04 04:25] CooperCooperCooper opened #3 "1226 Dining Philosopher Question Doesn't Make Sense"
Hi,

I think the definition of the Dining Philosophers questions is vague. The question says the philosophers should not starve. This statement should be more accurate. What does starve mean? Not eating for how many rounds?

My solution makes all philosophers eat at a pretty regular interval (see printed output for 60) but the judge says the result is wrong. I am confused...

Second, my solution h

[2020-03-04 04:28] CooperCooperCooper opened #4 "Duplicate questions 476 and 1009"
problem 476: https://leetcode.com/problems/number-complement/

problem 1009: https://leetcode.com/problems/complement-of-base-10-integer/

discussion thread that says 1009 and 476 are the same: https://leetcode.com/problems/complement-of-base-10-integer/discuss/?currentPage=1&orderBy=most_relevant&query=same

[2020-03-04 04:30] CooperCooperCooper opened #5 "Duplicate problems: 530 and 783"
783: https://leetcode.com/problems/minimum-distance-between-bst-nodes/

530: https://leetcode.com/problems/minimum-absolute-difference-in-bst/

post about their similarity found from 783 discuss section: https://leetcode.com/problems/minimum-distance-between-bst-nodes/discuss/118531/Come-on-guys-it-is-obviously-the-same-as-Problems-530.-Minimum-Absolute-Difference-in-BST

[2020-03-04 04:31] CooperCooperCooper opened #6 "53. Maximum Subarray"
"On Maximum Subarray: "If you have figured out the O(n) solution, try coding another solution using the divide and conquer approach, which is more subtle." I believe this should say "O(n^2) solution" "

Problem: https://leetcode.com/problems/maximum-subarray/

[2020-03-04 05:03] LionNatsu opened #7 "1226. 哲学家进餐 C++ 测评环境不正确"
** Bug 类型**
- [x] 题目
- [ ] 题解

**描述**
哪怕是空白示例代码也无法通过编译
[code]

**你提交或者运行的代码**
[code]

**期望行为**
WA

[2020-03-04 05:28] feiceh commented on #7
感谢反馈，此问题已转给技术团队会尽快确认的～

[2020-03-04 06:21] HE-Xinyu commented on #7
部分修复。现在其他语言均正常工作，C++ 需要在代码中加上 `include <unistd.h>` 即可。

我们会继续优化，以后就不需要手动引入头文件了。

[2020-03-04 06:42] HE-Xinyu commented on #7
已修复。不需要引入头文件了。

[2020-03-04 06:49] #7 closed

[2020-03-04 07:09] SleepyBag opened #8 "1013 题答案有误"
** Bug 类型**
- [x] 题目
- [ ] 题解

**描述**
标准答案有误，对于输入 [1, -1, 1, -1]，答案应该为 false，但是标准程序给出的答案是 true，测试也没有考虑到这一情况。

[2020-03-04 07:33] feiceh commented on #8
感谢反馈，此问题已转给技术团队会尽快确认的～

[2020-03-04 09:06] SimonLliu opened #9 "994. 腐烂的橘子的编译器有问题？"
** Bug 类型**
- [x] 题目
- [ ] 题解

**描述**
994.腐烂的橘子。报错数组越界，可就二三十行代码，不存在数组越界问题啊。怀疑编译器存在问题。

**你提交或者运行的代码**
[code]

**期望行为**
应该正确运行

**屏幕截图**
AddressSanitizer:DEADLYSIGNAL
=================================================================
==29==ERROR: AddressSanitizer: stack-overflow on address 0x7ffdcf738ad0 (pc 0x7fdc71c08c62 bp 0x7ffdcf739320 sp 0x7ffdcf738ac0 T0)
    #0 0x7fdc71c08c61 in operator new

[2020-03-04 09:21] #9 closed

[2020-03-04 09:46] LionNatsu commented on #3
I ran into the same issue in LCCN too.
For your information:
[code]

With testcase "60", the error message goes:
[code]

[2020-03-04 10:49] BZAghalarov opened #10 "UI + Google+"
Hi,
In the articla part of the questions seem social media links.
Among them you can find "Google+" link but Google has stooped this product please remove this icon.
It is not working already.
![Google+](https://user-images.githubusercontent.com/17585937/75872171-26729380-5e27-11ea-96dc-9cafb7893929.jpg)

[2020-03-04 12:46] Litmmp opened #11 "27. 移除元素 示例预期结果错误"
** Bug 类型**
- [ ] 题目
- [x] 题解

**描述**
将示例2作为测试用例，在页面执行代码，预期结果和题设不一致，是个错误的结果

**你提交或者运行的代码**
[code]

**屏幕截图**
<img width="1278" alt="error" src="https://user-images.githubusercontent.com/12251480/75880311-fe4f5880-5e57-11ea-8d80-6f23afddd62a.png">

[2020-03-04 14:11] idealism-xxm commented on #11
示例 2:

示例内已经说明了五个元素的顺序不限制，即只要排序后的数组相同就行

[2020-03-04 21:07] yuetaoZ opened #12 "Problem 783 test case missing case root == null"
**What kind of the bug**
solution test case

**Describe the bug**
Problem 783 test case missing case: root == null

**The code you submit/run**
// Leetcode.783

class Solution {
    Integer res = Integer.MAX_VALUE;
    Integer prev = null;
    public int minDiffInBST(TreeNode root) {
        if (root.left != null) minDiffInBST(root.left);
        if (prev != null) res = Math.min(res, root.val - pr

[2020-03-04 21:27] CooperCooperCooper commented on #10
Hi @BZAghalarov!
Thank you for reaching out to us! The technical issue you pointed out is related to the add-ons of our site, so please file it here: https://support.leetcode.com/hc/en-us.
We appreciate your time and support. Please feel free to let us know if you have any other questions.

[2020-03-04 21:31] CooperCooperCooper commented on #12
Hi @yuetaoZ,
Thank you for sharing this issue with us! I've filed it for our engineers to investigate.

[2020-03-05 00:03] zerotrac commented on #12
Please note that `The size of the BST will be between 2 and 100`. Thus the root cannot have a `null` value.

[2020-03-05 01:19] feiceh commented on #11
感谢反馈，此问题已转给技术团队会尽快确认的～

[2020-03-05 02:47] #11 closed

[2020-03-05 06:28] kagan94 commented on #6
Nope, title is correct.
Brute force solution would take O(n^2) time.
Here is the solution example with O(n) time:
[code]

[2020-03-05 13:57] lixiang2017 opened #13 "[Bug] problem 344 Runtime Error"
**What kind of the bug**
- [ ] problem
- [x] solution

**Describe the bug**
I copy the Solution from here.
https://leetcode.com/problems/reverse-string/solution/
but I got the RuntimeError.

**The code you submit/run**
[code]

**Expected behavior**
Success

**Screenshots**
![image](https://user-images.githubusercontent.com/25242627/75988007-dfba9180-5f2b-11ea-8d45-ca0b577126e7.png)

[2020-03-05 19:13] CooperCooperCooper commented on #12
Hi @yuetaoZ and @zerotrac,
Thank you for your time and support! It's correct that because the size of the BST is at least 2, the empty BST would not a valid test case.

[2020-03-05 19:13] #12 closed

[2020-03-05 19:15] CooperCooperCooper commented on #6
Hi @kagan94,
Thank you for your time and support! Your feedback is correct.

[2020-03-05 19:15] #6 closed

[2020-03-05 22:18] CooperCooperCooper commented on #13
Hi @lixiang2017,
Thank you for raising this issue to our attention. I've filed it to our content team to investigate.

[2020-03-06 03:29] CooperCooperCooper commented on #4
Problem descriptions now have notes about them being duplicates.

[2020-03-06 03:29] #4 closed

[2020-03-06 03:30] CooperCooperCooper commented on #5
Problem descriptions are now noted about them being duplicate problems.

[2020-03-06 03:30] #5 closed

[2020-03-06 03:47] CooperCooperCooper commented on #13
Hi @lixiang2017,
We're happy to share with you that our engineers have fixed the issue. Please feel free to try out all of the available solutions from the solution tabs! Thank you again for your time and support :)

[2020-03-06 03:47] #13 closed

[2020-03-06 06:53] nekopara-orz opened #14 "62. Unique Paths提供数据"
** Bug 类型**
- [x] 题目
- [ ] 题解

**描述**
对于一些程序本应该无法通过某些数据但是能通过

**代码**
[code]

**期望行为**
增加数据
Input:
16
16

Output:
155117520

[2020-03-06 07:43] happiness19 opened #15 "78. subsets space complexity analysis is incorrect"
**What kind of the bug**
- [ ] problem
- [ x] solution

**Describe the bug**
Space complexity is shown as O(2^n) but really should be O(n*2^n)

**Expected behavior**
Space complexity should be O(n*2^n) since we need to output every subset (2^n of them) each of which has size at most n. A more comprehensive expression would be \sum_{k=0}^{n}{(n\choose k)\times k}

[2020-03-06 10:30] feiceh commented on #14
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-03-06 16:28] mgrove-wwu opened #16 "Two Sum - BufferOverflow occurring?"
**What kind of the bug**
- [x] problem
- [ ] solution

**Describe the bug**
The bug seems to be a buffer overflow...

I attached a screenshot for u guys. Should include all important info.

**The code you submit/run**
[code]

**Expected behavior**
Should accept my submitted solution.

**Screenshots**
Screenshot attached

**Additional context**
I dont know that much about computers :p
![Anmerkung 2

[2020-03-06 17:50] CooperCooperCooper commented on #15
Hi @happiness19,
Thanks for reaching out! I've filed this to our team to investigate.

[2020-03-06 18:13] CooperCooperCooper commented on #16
Hi @mgrove-wwu,

Address sanitizer errors mean that during C/C++ runtime it caught invalid memory access in the program and this most commonly caused by an out of bounds array index access.

To give you some inspiration on overcoming this error, please check out this post: https://leetcode.com/problems/two-sum/discuss/449565/Easy-to-understand-C%2B%2B-Soution-0ms-beats-100.

Hope this helps! We ap

[2020-03-06 18:13] #16 closed

[2020-03-07 01:55] SpaIns opened #17 "Unclear directions for 675. Cut Off Trees for Golf Event"
**What kind of the bug**
- [X] problem
- [ ] solution

**Describe the bug**
Not a bug, but rather a description issue. There is no note in the problem as to what is a valid direction of travel; most matrix/graph problems will denote if you can only move up/down/left/right, or if you can move diagonal directions.  This problem does not, but expects you to only move Up/Down/Left/Right, as diagonal m

[2020-03-07 07:35] #10 closed

[2020-03-07 10:37] Shiro-umi opened #18 "3月7日置顶题[队列最大值] 单独运行测试用例通过但是提交同样的用例会越界"
** Bug 类型**
- [x] 题目
- [ ] 题解

**描述**
3月7日置顶题[队列最大值]
赋值问题测试用例单独运行可以通过，提交时候问题测试用例报错下标越界

**你提交或者运行的代码**
[code]

**期望行为**
希望能解释一下这种情况为什么会出现，以及解决方案

**屏幕截图**
<img width="712" alt="1111" src="https://user-images.githubusercontent.com/55919941/76141793-f3403680-60aa-11ea-9d6e-85eb1a3c8514.png">
<img width="654" alt="2222" src="https://user-images.githubusercontent.com/55919941/76141795-f63b2700-60aa-11

[2020-03-07 12:17] idealism-xxm commented on #18
使用了类变量 `index`，且每次使用时没有进行初始化。
可以看看官方说明：[为什么某些测试用例下，执行代码返回结果正确，但提交解答却出错了](https://support.leetcode-cn.com/hc/kb/article/1194344/)

[2020-03-07 14:51] mgrove-wwu commented on #16
Hi @CooperCooperCooper,
Thank you for the fast feedback! Appreciate the help.

Sincerely, Max

[2020-03-07 14:53] ZvezdocheTag opened #19 "1304. Find N Unique Integers Sum up to Zero: Wrong Test Cases"
**What kind of the bug**
- [x] problem
- [ ] solution

**Describe the bug**
I suppose problem with current test cases, when in my output inside array last index ended with positive number test is fail, but corresponds to the expected final output.

**The code you submit/run**
[code]

**Expected behavior**
Test cases should be passed with current solution.

**Screenshots**
<img width="1433" alt="Sc

[2020-03-07 18:45] Lav12122 opened #20 "submission error - problem 20"
**What kind of the bug**
Submission error- Please refer screenshots in comment

**Describe the bug**
Problem 20 - valid parantheses submission error:
Bug 1. Running fine for test case when given manually but shows wrong result on submission
Bug 2. Shows accepted where it should not accept.

Test case 1. - "{[]}"  for Bug 1.
Test case 2. - "{" for Bug 2.
[code]

**Expected behavior**
A clear and co

[2020-03-07 18:59] Lav12122 commented on #20
![IMG_20200308_000638](https://user-images.githubusercontent.com/61917214/76150714-5333de80-60a5-11ea-8297-c6ac2235ffe6.jpg)

[2020-03-07 22:47] MadhanVibeeshanan opened #21 "Issue with Diameter of Binary Tree"
**What kind of the bug**
- [x] Diameter of binary tree

**Describe the bug**
I was trying to solve the problem Diameter of binary tree https://leetcode.com/problems/diameter-of-binary-tree. I submitted the solution but for one test case, I'm getting the wrong answer. When I see tree visualization, it looks like my solution is correct but the expected output is different.

**The code you submit/run

[2020-03-08 03:23] idealism-xxm commented on #21
The last sentence explains that the path **may not** include the root.
So the longest path is [-1, 0, 6, 9, -9, -7, 6, 9, -2] whose length is 8.

[2020-03-08 04:02] wilmol opened #22 "Can't submit for problem 116"
**What kind of the bug**
- [x] problem
- [ ] solution

**Describe the bug**
When I submit for problem 116 (https://leetcode.com/problems/populating-next-right-pointers-in-each-node/), get the message "An unknown error occurred. Please try again later, or contact us if this problem persists.".

**The code you submit/run**
[code]

**Expected behavior**
Lets me submit my code.

**Screenshots**
![2020

[2020-03-08 05:20] kaiwensun opened #23 "1013 judger is wrong"
**What kind of the bug**
- [ ] problem
- [x] solution

**Describe the bug**
With the input `[1, -1, 1, -1]`, the standard OJ returns answer `True`. But the correct answer obviously should be `False`.

**The code you submit/run**
[code]

**Expected behavior**
* The expected output for input `[1, -1, 1, -1]` should be `False`.
* The testcase should be added.

**Screenshots**
N/A

**Additional contex

[2020-03-08 05:35] VikramDave opened #24 "Wrong testcase for https://leetcode.com/problems/palindrome-partitioning-iii/"
**What kind of the bug**
- [ ] problem
- [x] solution

**Describe the bug**
I feel the Testcase is wrong for https://leetcode.com/problems/palindrome-partitioning-iii/. I dont understand why its expecting 2 when we need to change 3 chars.

Input
"tcymekt"
4
stdout
[ 'tc', 'ym', 'ek', 't' ]
Output
3
Expected
2

**Expected behavior**
should be 3 but your solution expects 2

**Solution**
Expected sho

[2020-03-08 05:42] AVNV2201 opened #25 "Submission Problem"
I submitted my solution and got Accepted status during Contest.
Problem No. 1376

After I got Accepted on submitted , T moved to the next problem.
But after the contest was over, when I saw my ranking, there it was not showing my submission.
What this happened ?
Never happened before !!!!

When I saw all my submissions, it was given Internal error.
What is this ?
What should I do now?

My solution

[2020-03-08 07:00] grawlixes commented on #25
I don't know if this is related, but I believe there's an issue with the solution checker for this problem in LeetCode's backend. Right now I'm trying to run a function that simply returns 0 on all input, but I'm getting TLE for some of the sample cases.

[2020-03-08 14:03] shikejie opened #26 "142题中文站函数声明有问题"
** Bug 类型**
- [ √] 题目
- [ ] 题解

**描述**
描述你遇到的 bug
142题中文站golang版函数声明有问题

**你提交或者运行的代码**
[code]

[2020-03-09 01:53] #18 closed

[2020-03-09 01:58] feiceh commented on #26
感谢反馈，此问题已转给技术团队会尽快确认的～

[2020-03-09 03:55] Miloas commented on #14
我们不会添加 16 16 的 testcase， 因为 LeetCode 暂时不支持 64 位整型，需要用户自己 handle overflow 的情况

[2020-03-09 04:11] nekopara-orz commented on #14
你是认真的么，我这个哪里超过INT32了。题库那么多要处理溢出的题，而我这个用例没有溢出都不行了？

[2020-03-09 04:17] nekopara-orz commented on #14
![image](https://user-images.githubusercontent.com/28264029/76182435-e2550980-61ff-11ea-8322-72c458186a30.png)
你看看这组数据溢出了么，我这里是要让一些不合理的程序不能通过。

[2020-03-09 04:30] Miloas commented on #14
你想用 16 16 让下面的代码溢出，我在怀疑你能不能听懂人话

[2020-03-09 04:33] nekopara-orz commented on #14
你们那么多卡数据的题，我这个卡数据就不行了？

[2020-03-09 04:36] Miloas commented on #14
我们肯定是想让测试样例更加 strong，但是不是你想加我们就加了。你看到的是卡掉了一个代码，我们看到的是一坨验证器好不好改。

[2020-03-09 04:37] Miloas commented on #14
我们肯定是想让测试样例更加 strong，但是不是你想加我们就加了。你看到的是卡掉了一个代码，我们看到的问题更多，我们有专门的团队评估。

[2020-03-09 04:46] nekopara-orz opened #27 "面试题 10.01. 合并排序的数组题目描述不正确，有歧义"
** Bug 类型**
- [x] 题目
- [ ] 题解

**描述**
这道题题目描述的有歧义，如果说是有足够空间那么数组A的大小将会是大于或等于 m + n，如果数组大小大于大于 m + n 那么得到的结果应该怎样算对？
比如如下用例
A = [1,2,3,0,0,0,0], m = 3
B = [2,5,6], n = 3
对于此用例怎样的结果才是正确的。 是[1,2,2,3,5,6]对，还是[1,2,2,3,5,6,0] 算对。还是前6位对了就算对。

**你提交或者运行的代码**
[code]

**期望行为**
有两种解决方式
1.更改题目描述为，数组A大小恰好为 m + n //个人推荐
2.代码中增对尾部多余数据的处理。

[2020-03-09 04:53] feiceh commented on #27
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-03-09 05:06] CooperCooperCooper commented on #3
Hi @LionNatsu,
Great news! We've fixed the problem statement. Your solution will not experience unexpected behaviors again.
We appreciate your time and support. If you have any other questions for this problem, please don't hesitate to use the issue template to notify us.

[2020-03-09 05:06] #3 closed

[2020-03-09 05:22] CooperCooperCooper commented on #20
Hi @Lav12122,

Thank you for reaching out to us! The output mismatch is caused by "Run Code" and "Submit" running differently. When you click on "Run Code", it runs your code on only 1 test case; and when you click on "Submit", it runs your code on all of the test cases for this problem (i.e. for "Valid Parentheses", it runs all 76 test cases at once).

When you look at the different outcomes of "

[2020-03-09 05:22] #20 closed

[2020-03-09 05:30] Lav12122 commented on #20
But, as you can see from the attached screenshot, both run test case and
submission test cases are same where mismatch is happening.

On Mon, 9 Mar 2020 at 05:22, CooperCooperCooper <notifications@github.com>
wrote:

[2020-03-09 05:32] CooperCooperCooper commented on #21
Hi @MadhanVibeeshanan,

Thank you for reaching out to us! We've tested your solution. The test case you pointed out has output as "7" and expected output as "8" for both "Run Code" and "Submit". Please make sure you scroll down for all of "Run Code" results because sometimes the expected output might be lower than usual. Please check out [this code](https://leetcode.com/problems/diameter-of-binary

[2020-03-09 05:32] #21 closed

[2020-03-09 05:37] CooperCooperCooper commented on #22
Hi @wilmol,

Thank you for reaching out to us! We were unable to reproduce the "Unknown Error" on our end because your code was successfully accepted on our end for both "Run Code" and "Submit". But I've notified our engineers to keep a closer eye to this issue. And if this issue reoccurs on your end, please don't hesitate to reopen this Github issue and let us know. We appreciate your time and su

[2020-03-09 05:37] #22 closed

[2020-03-09 05:44] CooperCooperCooper commented on #24
Hi @VikramDave,

Thank you for reaching out to us. To help us assess this issue, can you please share your code with us on this issue?

[2020-03-09 05:48] Miloas commented on #14
抱歉兄弟，早上和我处了十三年的男朋友跟我分手了，看见你三个反问就原地爆炸了，理解一下。是我第一次回复你的时候没有描述清楚，我会 reopen 这个 issue，尝试和题目团队再沟通一下。另外非常感谢你提供testcase，如果你愿意的话可以提供你在中站的用户id，如果testcase合并，会给你奖励一些LeetCoin。再次感谢

[2020-03-09 05:53] wilmol commented on #22
@CooperCooperCooper I got it working by changing my code to:
[code]
And submitting.
And then resubmitting the original code.

[2020-03-09 06:22] feiceh commented on #26
该问题已修复！

[2020-03-09 06:23] #26 closed

[2020-03-09 07:39] nekopara-orz commented on #14
好吧互相理解，我其实在leetcode上刷题就是图开心。因为以前也参加些比赛，突然甚么都不干了也有些放不下，偶尔写写题看看评论也想顺便做做贡献。谢谢你能回复我。
我的账号是13092973652

[2020-03-09 08:46] feiceh commented on #27
您好，题面已增加 A.length == n + m，后续我们会不断努力提升，给大家带来更好的学习社区！

[2020-03-09 08:47] #27 closed

[2020-03-09 21:35] pjcfifa opened #28 "PHP - binary-tree-zigzag-level-order-traversal"
**What kind of the bug**
- [x] problem
- [ ] solution

**Describe the bug**
Line 7: PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Serializer::serializeArray() must be of the type array, null given, called in /leetcode/precompiled/serializer.php on line 79 and defined in serializer.php
Stack trace:
#0 serializer.php: Serializer->serializeArray(NULL, 'list<integer>')
#1 solution.php: Se

[2020-03-09 22:06] pranaleedoijad opened #29 "Not able to run the code Time Limit Exceeded"
**What kind of the bug**
solution

**Describe the bug**
Not able to run the code say Time Limit Exceeded.

3Sum :'
public class Solution {
    public IList<IList<int>> ThreeSum(int[] nums) {
        int[] numb = {-1,0,1,2,-1,-4};
        Array.Sort(numb);
        IList<IList<int>> solution = new List<IList<int>>();
        for(int i = 0; i < numb.Length-2; i++)
        {
            int sum = -(nu

[2020-03-09 22:47] firfir commented on #29
Same here. It simply says "Timeout" in the Run Code Result section.

[2020-03-09 22:58] Lav12122 opened #30 "No submission was happening at IST 4:26 am 10 March 2020"
![Screenshot from 2020-03-10 04-25-32](https://user-images.githubusercontent.com/61917214/76264298-643c4580-6287-11ea-9240-003a1e841d29.png)
**What kind of the bug**
Compiler not working at all - Refer screenshot

**Describe the bug**
Submission was not working at all. Displaying time out error.
The same code which was submitted earlier was not able to be submitted.

**The code you submit/run**
[c

[2020-03-09 23:14] pgupta6 commented on #30
Same here
<img width="1680" alt="Screen Shot 2020-03-09 at 4 14 24 PM" src="https://user-images.githubusercontent.com/7296247/76265174-15f45b80-6221-11ea-822a-7730d6462bb9.png">

[2020-03-09 23:26] pranaleedoijad commented on #29
Now its not running even an easy solution looks like something wrong with their site

[2020-03-09 23:48] CooperCooperCooper commented on #30
Hi @Lav12122 and @pgupta6,

Thank you for your time. Our engineers have been alerted for this issue and have fixed it just now. We've tested and confirmed that "Run Code" and "Submit" are running normally now.

We appreciate your support and understanding.

[2020-03-09 23:48] #30 closed

[2020-03-09 23:49] CooperCooperCooper commented on #29
Hi @pranaleedoijad and @firfir,

Thank you for your time. Our engineers have been alerted for this issue and have fixed it just now. We've tested and confirmed that "Run Code" and "Submit" are running normally now.

We appreciate your support and understanding. If you spot any other irregular site activities, please don't hesitate to let us know.

[2020-03-09 23:49] #29 closed

[2020-03-10 00:10] pranaleedoijad commented on #29
I am still facing that issue
<img width="793" alt="Screen Shot 2020-03-09 at 5 07 35 PM" src="https://user-images.githubusercontent.com/50884900/76267695-d6ca0880-6228-11ea-870c-bf1424ba3d23.png">

[2020-03-10 03:39] feiceh commented on #14
@nekopara-orz 非常感谢您对力扣的社区贡献，实在抱歉，因题目涉及到全球，经题目团队综合评估反馈，该用例无法添加。非常感谢您这样的积极用户对力扣网站的支持，祝您生活愉快。ˆ＾‿＾

[2020-03-10 03:40] #14 closed

[2020-03-10 05:28] CooperCooperCooper commented on #19
Hi @ZvezdocheTag,
Thank you for your patience. The problem statement asks to return **unique integers**; but on the screenshot, the number "5" was returned twice. Please review the statement again and revise your code accordingly. We appreciate your support.

[2020-03-10 05:28] #19 closed

[2020-03-10 05:37] happy15 opened #31 "1095山脉数组的测试引擎找不到MoutainArray接口的声明"
如题，直接编译错误：

Line 11: error: cannot find symbol

    public int findInMountainArray(int target, MountainArray mountainArr) {

                                               ^

  symbol:   class MountainArray

  location: class Solution

Line 10: error: incompatible types: int[] cannot be converted to int [in __Driver__.java]

      int ret = new Solution().findInMountainArray(param_1, param_2);

[2020-03-10 07:06] Lav12122 commented on #20
Thanks.
Any specific reason for why Leetcode is designed this way?

On Mon, 9 Mar 2020, 11:00 Lav Kumar, <lavkmr96@gmail.com> wrote:

[2020-03-10 07:18] feiceh commented on #31
感谢反馈，此问题已转给题目运营团队会尽快确认的~

[2020-03-10 08:28] xiesunny opened #32 "Always get TLE for #1376 for specific test case"
**What kind of the bug**
- [ ] problem
- [v] solution
- [ ] language

**Describe the bug**
For problem #1376. Time Needed to Inform All Employees, I always got TLE when I run my Python3 code with specific test case from example 5 of the problem. Even I changed my code to one single line 'return 1076', it still gives TLE.
Trying with different PC and different browsers does not help.

Test case is:

[2020-03-10 08:36] feiceh commented on #8
非常感谢您的反馈，该问题已于第一时间进行了修复，力扣会定期更新，保障稳定和体验优化。

[2020-03-10 08:36] #8 closed

[2020-03-10 08:37] feiceh commented on #31
非常感谢您的反馈，该问题已于第一时间进行了修复，力扣会定期更新，保障稳定和体验优化。

[2020-03-10 08:37] #31 closed

[2020-03-10 08:49] ZvezdocheTag commented on #19
Hi, thanks for your answer but, `5 !== -5`, as I know.

[2020-03-10 17:25] CooperCooperCooper commented on #15
Hi @happiness19,
Thank you for reporting this issue, it's now fixed!

[2020-03-10 17:25] #15 closed

[2020-03-10 17:32] CooperCooperCooper commented on #32
Hi @xiesunny,
Thank you for raising this issue to our attention! To help us assess this issue, can you please clear your browser cache, cookies, and extensions, and check if the TLE still persists after completing those actions?

[2020-03-10 18:07] jainilvachhani opened #33 "Solution submission problem for Find All Anagrams problem"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
 I am facing a problem with Find All Anagrams problem. When I use run code feature for the test case ("cbaebabacd" "abc") I am getting correct output ([0,6]). However, when I submit my code, it shows WA for the same input.

**The code you submit/run**
[code]

**Expected behavior**
I should be getting AC or W

[2020-03-10 20:46] akashshirale14 opened #34 "My solution are not present"
**What kind of the bug**
- [ ] problem
- [ *] solution
- [ ] language

**Describe the bug**
The solutions are absent from my solved.The problem has a green tick which means I solved the problem but when I open the problem, the solution is not present.It just shows an empty function(programming) like its a new problem remaining to be solved.

**The code you submit/run**
[code]

**Expected behavior*

[2020-03-10 22:08] CooperCooperCooper commented on #34
Hi @akashshirale14,
Thank you for reaching out to us! This issue seems to technical-related (the missing solution is potentially related to editor, sessions, or account). Please file this issue to our technical support channel and include your account username in order for us to further assess this issue. We appreciate your time and support.

[2020-03-10 22:08] #34 closed

[2020-03-10 22:19] CooperCooperCooper commented on #25
Hi @AVNV2201,
Thank you for raising these issues to our attention! I am so sorry about your inconvenience. Our engineers have been notified of the "Internal Error" from during the contest, and they are working on resolving the issue.

[2020-03-10 22:21] CooperCooperCooper commented on #25
Hi @grawlixes,
Thank you for raising the TLE issue. Are you still experiencing TLE for the problem you were working on? If so, can you please more about the problem by filling out a separate issue template with more details, so we can better assess this issue? We appreciate your support and help.

[2020-03-11 01:48] hairman123 opened #35 "407 接雨水 II 测试用例不符合题目要求"
**Bug 类型**
- [√] 题目
- [ ] 题解
- [ ] 编程语言

**题目描述**
**题目：407 接雨水 II**
给定一个 m x n 的矩阵，其中的值均为 **正整数** ，代表二维高度图每个单元的高度，请计算图中形状最多能接多少体积的雨水。
m 和 n 都是小于110的整数。每一个单位的高度都 **大于 0** 且小于 20000。

### BUG:
描述中说所有值为 **正整数**。但是提交代码后出现了 **包含 0 的测试用例**。
[[9,9,9,9,9,9,8,9,9,9,9],[9,0,0,0,0,0,1,0,0,0,9],[9,0,0,0,0,0,0,0,0,0,9],[9,0,0,0,0,0,0,0,0,0,9],[9,9,9,9,9,9,9,9,9,9,9]]

截图上传不了，可以看一下题目 407 是否有上述测试用例。

[2020-03-11 01:52] xiesunny commented on #32
Hi @CooperCooperCooper
Yes. I tried with 3 different PC and different browsers (chrome, edge, firefox) with all cache/cookie cleaned and extensions disabled. The TLE result is still there when using 'Run Code', but it gives right result for 'Playground Debug'.
Today I tried again for all example test case from the question, with clean installed firefox browser in Windows Sandbox.

Example 1, resul

[2020-03-11 02:01] CooperCooperCooper commented on #32
Hi @xiesunny,

Awesome! Thank you so much for sharing these clarifications with us. I've relayed them to our engineers to investigate.

[2020-03-11 02:30] feiceh commented on #35
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-03-11 06:04] Rennbon opened #36 "全局变量问题"
** Bug 类型**
- [ 689] 题目
- [ 三个无重叠子数组的最大和] 题解
- [ go ] 编程语言

**描述**
描述你遇到的 bug

**你提交或者运行的代码**
[code]

**期望行为**
描述你期望的结果

**屏幕截图**
添加屏幕截图辅助我们帮你定位问题
![image](https://user-images.githubusercontent.com/16408504/76387160-3e0ac880-63a1-11ea-9fbb-3b83600db41c.png)

**额外的上下文**
添加额外的上下文信息

[2020-03-11 07:18] feiceh commented on #36
你好，推荐阅读：https://support.leetcode-cn.com/hc/kb/article/1194344/。

[2020-03-11 07:18] #36 closed

[2020-03-11 10:53] 21david opened #37 "207. Course Schedule missing a test case"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
My code was accepted by LeetCode. I entered a test case that broke my code (output is different than expected output). This means that an important test case is missing when a solution is submitted.

**The code you submit/run**
[code]

**Expected behavior**
The code should not actually be accepted, as there

[2020-03-11 16:19] liuliqiang opened #38 "二进制中1的个数测试用例异常"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**

https://leetcode-cn.com/problems/er-jin-zhi-zhong-1de-ge-shu-lcof/

这道题目的输入似乎有问题，尝试运行的输入和提示的不一致。

**你提交或者运行的代码**
[code]

**期望行为**
描述你期望的结果

**屏幕截图**

![image](https://user-images.githubusercontent.com/9395418/76439197-ff076200-63f6-11ea-90bb-ddb513d9533f.png)

**额外的上下文**
添加额外的上下文信息

[2020-03-11 17:48] CooperCooperCooper commented on #37
Hi @21david,
Thank you for raising this issue to our attention. I've relayed this issue to our team to investigate.

[2020-03-11 22:03] CooperCooperCooper commented on #17
Hi @SpaIns,
Thank you for reaching out to us! We've updated the problem statement with more explanation to increase clarity. If you have any other feedback on this problem, please don't hesitate to let us know. We appreciate your support.

[2020-03-11 22:03] #17 closed

[2020-03-12 03:45] feiceh commented on #38
您好，该问题已修复，请稍后刷新网页再试试，感谢您对力扣的支持～

[2020-03-12 03:45] #38 closed

[2020-03-12 03:57] CooperCooperCooper commented on #37
Hi @21david,
Great news! We've fixed the issue and added some more test cases for this problem base on your feedback.

We appreciate your time and support. If you have any other questions regarding this problem, please don't hesitate to let us know here.

[2020-03-12 03:57] #37 closed

[2020-03-12 10:46] huxiaoxu2019 opened #39 "OJ 超时"
** Bug 类型**
- [X] 题目https://leetcode.com/problems/time-needed-to-inform-all-employees/
- [ ] 题解
- [ ] 编程语言

**描述**
https://leetcode.com/problems/time-needed-to-inform-all-employees/
题目的Run Code功能，会超时。比如第三个输入例子。

[code]
**你提交或者运行的代码**
[code]

**期望行为**
Accepted

**屏幕截图**
添加屏幕截图辅助我们帮你定位问题

**额外的上下文**
问题来自于：leetcode.com

[2020-03-12 19:45] CooperCooperCooper commented on #23
Hi @kaiwensun,
Thank you for raising this issue to our attention. We've fixed this issue and updated the problem with the new solutions and test cases.

[2020-03-12 19:57] CooperCooperCooper commented on #33
Hi @jainilvachhani,
Thank you for your patience. We've found and tested your C++ submission for this problem. In the screenshot you've shared with us, you can see for the same test case, the outputs for "Run Code" and "Submit" are different. This output mismatch is caused by "Run Code" and "Submit" running differently.

When you click on "Run Code", it runs your code on only 1 test case; and when

[2020-03-12 19:57] #33 closed

[2020-03-12 20:29] CooperCooperCooper commented on #25
Hi @AVNV2201,
Good news! We've identified the issue for "Internal Error" and have since rejudged the affected submissions properly. Because we're working on recalculating the contest results still, you may notice some inconsistencies or otherwise outdated rankings in the meantime. There will be more updates for this contest on our General Discuss Section. Here's our current update: https://leetcod

[2020-03-12 20:29] #25 closed

[2020-03-12 20:38] CooperCooperCooper commented on #28
Hi @pjcfifa,
Thank you for reaching out to us. Please return a second array type to prevent this error from appearing.

[2020-03-12 20:38] #28 closed

[2020-03-12 20:43] CooperCooperCooper commented on #24
Hi @VikramDave,
Thank you again for reaching out to us previously. Since you have not responded to this ticket for a while, hopefully, the issue has been resolved for you on your end. But if this issue still persists, please re-open this issue and share more details with us.

[2020-03-12 23:49] VikramDave commented on #24
/**
 * @param {string} s
 * @param {number} k
 * @return {number}
 */
var palindromePartition = function(s, k) {
    let numberOfCharNeedToBeChanged = 0;
    //break the string into K parts
    let chunks = chunkedArray(s, k);

    for(let i = 0; i < chunks.length; i++ ) {
            // Check if each chopped string is a Palindrome and find the number of changes needed
            numberOfCharNeed

[2020-03-13 04:11] feiceh commented on #35
很抱歉暂时无法重现「截图上传不了」这个情况，为了更精准快速的定位，还请尽可能详细地描述问题，“无法上传截图“具体是有什么现象呢？最好是换个浏览器添加一下截图哦。

[2020-03-13 04:32] hairman123 commented on #35
【截图上传不了】是指的 GITHUB 上传不了截图，我没有办法在 issue 里添加截图。
即使没有截图，**下面的信息可以帮助准确定位问题**：
1. 题号 407 接雨水II 题目要求 测试用例中的数字 都是 **大于0** 的
2. 我提交了代码 发现其中有一个测试用例为 [[9,9,9,9,9,9,8,9,9,9,9],[9,0,0,0,0,0,1,0,0,0,9],[9,0,0,0,0,0,0,0,0,0,9],[9,0,0,0,0,0,0,0,0,0,9],[9,9,9,9,9,9,9,9,9,9,9]] **包含 0**
3. 请查看一下
1）**题目 407 是否要求测试用例里面的值都是 大于0 的**
2）**题目 407 是否有判题用例 [[9,9,9,9,9,9,8,9,9,9,9],[9,0,0,0,0,0,1,0,0,0,9],[9,0,0,0,0,0,0,0,0

[2020-03-13 04:40] hairman123 commented on #35
在题目 407 下面提交下面的代码，可以发现在测试用例 [[9,9,9,9,9,9,8,9,9,9,9],[9,0,0,0,0,0,1,0,0,0,9],[9,0,0,0,0,0,0,0,0,0,9],[9,0,0,0,0,0,0,0,0,0,9],[9,9,9,9,9,9,9,9,9,9,9]] 上出错。
但该 测试用例 **包含 0**， 不符合题目要求，题目要求所有值都 大于 0。
[code]

[2020-03-13 04:48] feiceh commented on #35
收到了感谢反馈，上面就是说需要详细地描述问题，把信息提供完整才能有助于快速验证和精准的定位哟～

[2020-03-13 08:48] armeria-program opened #40 "面试题 10.03. 搜索旋转数组 需要增加测试用例"
** Bug 类型**
- [*] 题目
- [x] 题解
- [ ] 编程语言

**描述**
在面试题 10.03. 搜索旋转数组中，

https://leetcode-cn.com/problems/search-rotate-array-lcci/solution/er-fen-fa-by-armeria-program/

经@Lwt提醒，需要增加一种测试用例：[5,5,5,1,2,3,4,5] 5，即目标值在左右两边都出现的情况。

我之前的程序可以通过官方的所有测试用例，但是过不去这个测试用例。

**你使用的语言**
C++，Java，Python3

**你提交或者运行的代码**
以下是旧代码，可以通过目前的官方测试，但是过不去[5,5,5,1,2,3,4,5] 5
[code]

以下是新代码：
[code]

**期望行为**
增加测试用例

**屏幕截图**
添加

[2020-03-13 08:57] feiceh commented on #40
感谢您对力扣的题目贡献，会转给题目运营团队审核的。

[2020-03-13 09:02] feiceh commented on #40
已添加～

[2020-03-13 09:02] #40 closed

[2020-03-13 11:20] ullt opened #41 "题号1430 在golang环境下提交bug（已实操确定）:《面试题 08.06. 汉诺塔问题》"
** Bug 类型**
- [ ] 题目
- [x] 题解
- [x] 编程语言

**描述**
提交代码，执行测试用例时，无法通过，且实际本地运行无误，代码无误

**原因猜测**
leetcode 提交代码，执行测试用例时：校验的是 形参C 所指向的实参地址值，而go语言的切片使用 append 时存在“自动扩容”情况，因而执行代码是会生成新的切片，元切片值未产生变化（测试代码：“代码附录-1”，执行截图：“屏幕截图”）

**你使用的语言**
Golang

**你提交或者运行的代码**
[code]

**期望行为**
修改测试用例验证行为，代码正常提交

**屏幕截图**
图片为我进行append模拟，查看切片地址
![image](https://user-images.githubusercontent.com/27320317/76616507-19f4e600-655f-

[2020-03-13 11:34] feiceh commented on #41
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-03-13 14:08] brandonywl opened #42 "Wrong answer given empty string in Word Search"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Empty sentence should be an answer in a word search. Instead, the answer comes out to be False.

**what language is your code written in**
Python 3

**The code you submit/run**
[code]

**Expected behavior**
A null set is a subset of all sets.

Hence, an empty sentence should always be able to be found on the

[2020-03-13 18:06] CooperCooperCooper commented on #42
Hi @brandonywl,
Thank you for reaching out to us. I've filed this issue to our team to investigate.

[2020-03-13 20:59] CooperCooperCooper commented on #42
Hi @brandonywl,
Thank you for your time. We've fixed the issue by updating the problem with test cases and more. If you have any other questions, please feel free to let us know. We appreciate your support.

[2020-03-13 20:59] #42 closed

[2020-03-13 22:47] CooperCooperCooper commented on #24
Hi @VikramDave,
Thank you for sharing the details with us! I've relayed this issue to our team to investigate

[2020-03-14 00:59] CooperCooperCooper commented on #24
Hi @VikramDave,

Thank you for your patience. Please use the Dynamic Programming approach to solve this problem. The counter-example should be ["t","c","ymek","t"] change ym to ke with 2 operations. To give you more insight on this issue, please check out this [post]( https://leetcode.com/problems/palindrome-partitioning-iii/discuss/502600/javascript-dp-solution-beats-93.75).

We appreciate your t

[2020-03-14 00:59] #24 closed

[2020-03-14 01:20] CooperCooperCooper commented on #32
Hi @xiesunny,
Good news! We've fixed the TLE issue. Please test your code again and let us know if you have any other questions. We appreciate your time and support.

[2020-03-14 01:20] #32 closed

[2020-03-14 14:19] xiesunny commented on #32
Hi @CooperCooperCooper ,
Yes, it is fixed. My code passed all test cases now. Thanks.

[2020-03-15 04:36] kaiwensun commented on #23
I verified the issue was not fixed when I opened this issue.
If you fixed the test case based on my test case contribution https://leetcode.com/contribute/14546, why is the contribution rejected?

[2020-03-16 00:05] CooperCooperCooper commented on #23
Hi @kaiwensun,
Thank you for reaching out to us. The expected output for test case [1, -1, 1, -1] has been updated to "False", which matches the output of your code, hence it's rejected.

The contribution is rejected because the test case was already included in this problem; the issue stemmed from the other parts of this problem. Our contribution platform is for contributing problems and test cas

[2020-03-16 00:05] #23 closed

[2020-03-16 11:56] feiceh commented on #35
非常感谢您的反馈，该问题已于第一时间进行了修复，力扣会定期更新，保障稳定和体验优化。

[2020-03-16 11:57] #35 closed

[2020-03-16 11:59] feiceh commented on #39
感谢您的反馈，该问题已修复，力扣会定期更新，保障稳定和体验优化。

[2020-03-16 12:00] #39 closed

[2020-03-17 03:11] feiceh commented on #41
亲，该问题已修复，请您稍后再做尝试，感谢您对力扣的支持～

[2020-03-17 03:11] #41 closed

[2020-03-17 11:58] stormsunshine opened #43 "第269题需要增加测试用例"
** Bug 类型**
- [X] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
第269题缺少测试用例，例如以下测试用例：["abc","ab"]，应该输出为空字符串，但是如果提交的代码对于这个测试用例输出不正确，也可能通过现有的全部测试用例。

**你使用的语言**
Java

**你提交或者运行的代码**
[code]

**期望行为**
提交的代码需要考虑到该测试用例，如果该测试用例输出错误，不应该通过。

**屏幕截图**
无

**额外的上下文**
无

[2020-03-17 13:57] feiceh commented on #43
感谢您对力扣的题目贡献，会转给题目运营团队审核的。

[2020-03-18 01:35] omretterry opened #44 "#703用例提交不通过疑问，求助"
** #703数据流中的第K大元素**
![image](https://user-images.githubusercontent.com/32243578/76916350-241a3a00-68fb-11ea-8720-5dc4af956381.png)
在`探索`模块中的`探索二叉树`模块中的703题，此测试用例无法通过
初始为`[0]`，添加 `-1` 之后为 `[-1, 0]`。此逻辑第2大为 0，但是期望为 -1，求助

[2020-03-18 02:33] #44 closed

[2020-03-18 02:33] omretterry commented on #44
明白了，是理解的问题

[2020-03-18 07:07] lindapescatore opened #45 "Typos: names of arrays changed"
https://leetcode.com/articles/trapping-rain-water/
Approach 2: Dynamic Programming

**What kind of the bug**
- [ ] problem
In the algorithm section, the names of the arrays were switched from steps 1 and 2 to the last bullet point.

- [ ] solution
Change step 4 to match previous steps.
max_left -> left_max
max_right -> right_max
- [ ] language
English

**Describe the bug**
The names of the arrays

[2020-03-18 07:51] vitkarpov opened #46 "665. Non-decreasing Array"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**

There's a typo in the description. It says:

I believe either the range should be `0 <= i < n - 1` or `array[i - 1] <= array[i]`. Thanks.

[2020-03-18 10:38] m-Just opened #47 "[UI] Tree visualizer"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Unable to use the tree visualizer in Problem 116 & 117.

**Expected behavior**
There should be a tree visualizer toggle in the console panel.
![image](https://user-images.githubusercontent.com/11477925/76951837-3f129b80-6947-11ea-90f0-8adbcffc6cea.png)

[2020-03-18 11:59] darwinnacionales opened #48 "Hide Personal Details"
**What kind of the bug**
- [X] problem
- [ ] solution
- [ ] language

**Describe the bug**
If I Google myself, I can see my LeetCode profile (it shows all my personal details).
Everyone can see how often people do LeetCode.
Please add an option to make a profile private.

**what language is your code written in**
N/A

**Expected behavior**
An option to make profile private.

[2020-03-18 13:01] CooperCooperCooper commented on #45
Hi @lindapescatore,
Thank you for raising this issue to our attention! I've filed it to our team to investigate.

[2020-03-18 16:18] NightMachinary opened #49 "Problem 188 judge has a bug"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
The judge reports a runtime error without specifying what error has happened, and in fact, there should have been no errors:
![image](https://user-images.githubusercontent.com/36224762/76982162-be589d00-6950-11ea-86bc-028d184b3d59.png)

**what language is your code written in**
Rust

**The code you submit/ru

[2020-03-18 17:08] CooperCooperCooper commented on #46
Hi @vitkarpov,
Thank you for raising this issue to our attention. I've relayed it to our team to consider.

[2020-03-18 17:10] CooperCooperCooper commented on #47
Hi @m-Just,
Thank you for raising this issue to our attention. Since this is an UI issue, please file it to our technical support channel here: https://support.leetcode.com/hc/en-us. We appreciate your time and support.

[2020-03-18 17:10] #47 closed

[2020-03-18 17:13] CooperCooperCooper commented on #48
Hi @darwinnacionales,
Thank you for raising this issue to our attention! We've received a lot of requests for a feature that will turn the profile private, and we've planned it on our future roadmap. If you have any other site/ UI-related suggestion, please share them with us on the technical support channel here: https://support.leetcode.com/hc/en-us. We appreciate your support and understanding.

[2020-03-18 17:13] #48 closed

[2020-03-18 17:14] CooperCooperCooper commented on #49
Hi @NightMachinary,
Thank you for raising this issue to our attention! I've relayed it to our engineers to investigate.

[2020-03-18 20:56] CooperCooperCooper commented on #46
Hi @vitkarpov,
Thank you for your time. We've updated the problem description according to your feedback.

[2020-03-18 20:56] #46 closed

[2020-03-18 22:36] CooperCooperCooper commented on #45
Hi @lindapescatore,
Base on your timely feedback, we've updated all the references of variables in this article to make them consistent; in detail, we're keeping the names of "left_max" and "right_max".

We've also taken the chance to review this article to make sure the other parts are good to go. If you have any other questions, please don't hesitate to let us know. We appreciate your support.

[2020-03-18 22:36] #45 closed

[2020-03-19 02:50] alasher opened #50 "Vim editing mode Ctrl-D keybind incorrect"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [ ] language
- [x] platform (other)

**Describe the bug**
When you press CTRL-D, on Vim the default action is to scroll downward, as described in the vim documentation [here](http://vimdoc.sourceforge.net/htmldoc/scroll.html). Instead it deletes the current line, which I assume is a popular keybind from a different IDE. Note that CTRL-U to sc

[2020-03-19 04:17] SkandaB opened #51 "Issue with "Run Code" and "Submission""
## Resolution found

The return type was changed sometime within the last 6 months, but is **NOT** mentioned anywhere on the question.
Please mention it clearly.

-----

**What kind of the bug**
- [x] problem
- [ ] solution
- [x] language

**Describe the bug**
https://leetcode.com/problems/sort-an-array/
Cannot execute test case _locally_ or via _submission_
Did someone change the driver code on t

[2020-03-19 07:31] feiceh commented on #43
done

[2020-03-19 07:31] #43 closed

[2020-03-19 07:44] alexalghisi opened #52 "Filtering unlocked"
**What kind of the bug**
- [ ] filters

Filters bug.
**Describe the bug**
A clear and concise description of what the bug is.
I would like to be able to filter the problems by the locked field.

**what language is your code written in**
N/A

**Expected behavior**
Until I purchase a premium subscription I would like to be able to sort the problems by the acceptance rate ( I can ) and unlocked ons o

[2020-03-19 16:02] CooperCooperCooper commented on #50
Hi @alasher,
Thank you for reaching out to us. Please file this platform ticket to our support team for this kind of issue here: https://support.leetcode.com/hc/en-us. We appreciate your support and understanding.

[2020-03-19 16:02] #50 closed

[2020-03-19 16:09] CooperCooperCooper commented on #49
Hi @NightMachinary,
Thank you for your time. Our engineers took a thorough look at the issue and found the error to stem from your code allocated too much memory. Please try to further optimize this code.
We appreciate your support and understanding. If you have any other questions, please don't hesitate to let us know.

[2020-03-19 16:09] #49 closed

[2020-03-19 16:23] CooperCooperCooper commented on #51
Hi @SkandaB,
Thank you for raising this issue to our attention! I've relayed this issue to our team to investigate.

[2020-03-19 16:25] CooperCooperCooper commented on #52
Hi @alexalghisi,
Thank you for reaching out to us! For feature suggestions, please share your ideas with our support team here: https://support.leetcode.com/hc/en-us. We appreciate your support and understanding.

[2020-03-19 16:25] #52 closed

[2020-03-19 16:29] NightMachinary commented on #49
@CooperCooperCooper Thanks! I think the site should have a specific “out of memory” error so that people know what causes the problem. The other leetcode style sites I’ve used do tell you if you’re out of time or memory.

[2020-03-19 18:21] caoxingdong opened #53 "Problem: rotated-digits, wrong description"
**What kind of the bug**

- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
https://leetcode.com/problems/rotated-digits/

I think there are something wrong in the description.

"2 and 5 rotate to each other" While actually, after rotating 180 degree, 2 is still 2, and 5 is still 5.

[2020-03-19 22:50] CooperCooperCooper commented on #51
Hi @SkandaB,
Thank you for your time! We've fixed this issue and your code is now successfully accepted.

[2020-03-19 22:50] #51 closed

[2020-03-19 22:53] CooperCooperCooper commented on #53
Hi @caoxingdong,
Thank you for raising this issue to our attention. I've relayed it to our team to consider.

[2020-03-19 23:44] SkandaB commented on #51
Thanks!
I can see the change too.

[2020-03-20 11:03] armeria-program opened #54 "621. 任务调度器 需要增加测试用例"
** Bug 类型**
- [ ] 题目
- [x] 题解
- [ ] 编程语言

**描述**

621. 任务调度器

https://leetcode-cn.com/problems/task-scheduler/

需要增加测试用例，类似于：

["A","A","A","A","A","A","B","C","D","E","F","G"]
1

以及

["A","B","C","D","A","B","V"]
3
（来自英文leetcode）

**你使用的语言**
C++，Python3

**你提交或者运行的代码**
错误代码：可以通过现在的测试，但不能通过上面的测试用例
[code]

正确代码：可以通过现在的测试， 也能通过上面的测试用例
[code]
**期望行为**
增加测试用例

**屏幕截图**
添加屏幕截图辅助我们帮你定位问题

**额外的上下文**
英文l

[2020-03-20 11:06] feiceh commented on #54
感谢您对力扣的题目贡献，会转给题目运营团队审核的。

[2020-03-20 11:09] armeria-program commented on #54
不客气。

[2020-03-20 11:10] armeria-program commented on #54
也谢谢您。

[2020-03-20 11:12] armeria-program commented on #54
https://leetcode-cn.com/problems/task-scheduler/solution/tan-xin-fa-guan-zhu-ren-wu-shu-zui-duo-de-ren-wu-b/

我的题解。

[2020-03-20 11:31] armeria-program opened #55 "621. Task Scheduler missing a test case"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**

621. Task Scheduler

https://leetcode.com/problems/task-scheduler/

missing a test case like:

["A","A","A","A","A","A","B","C","D","E","F","G"]
1

**what language is your code written in**
C++，Java，Python3

**The code you submit/run**

wrong code which can pass tests currently but can't pass the test case

[2020-03-20 11:42] emli opened #56 "Link is broken"
![image](https://user-images.githubusercontent.com/5517490/77160699-21be0880-6ad2-11ea-8926-abc36ce741fb.png)

https://leetcode.com/problems/longest-palindromic-substring/solution/

[2020-03-20 11:44] hairman123 opened #57 "1、题目 502 IPO 的官方题解错误，请 @力扣官方题解 重新为该题目写题解 2、期望增加测试用例"
**Bug 类型**
- [ ] 题目
- [x] 题解
- [ ] 编程语言

**描述**
题目 [502.IPO](https://leetcode-cn.com/problems/ipo/) 的[官方题解](https://leetcode-cn.com/problems/ipo/solution/ipo-by-leetcode/) 有错误，容易误导人。
题目链接：https://leetcode-cn.com/problems/ipo/
官方题解链接：https://leetcode-cn.com/problems/ipo/solution/ipo-by-leetcode/

**错误详细说明**：
1、题目 502 的官方题解的解法一的时间复杂度为 **O(Nlog(N))** ，而不是 O(kNlog(N))。
2、官方题解的 **解法二 不如 解法一**，其时间复杂度 O(

[2020-03-20 11:46] hairman123 commented on #57
刚才没写完就按下回车按钮，没写完就提交了

[2020-03-20 14:32] CooperCooperCooper commented on #53
Hi @caoxingdong,
Thank you for your time. We've updated the description for "2" and "5" to better showcase the mirrored scenario.

[2020-03-20 14:32] #53 closed

[2020-03-20 14:46] CooperCooperCooper commented on #55
Hi @armeria-program,
Thank you for reaching out to us. I've relayed this information to our team to investigate.

[2020-03-20 14:49] CooperCooperCooper commented on #56
Hi @emli,
Thank you for reaching out to us. Since this is not a content-issue, please share this issue with our support team here: https://support.leetcode.com/hc/en-us. We appreciate your support.

[2020-03-20 14:49] #56 closed

[2020-03-20 14:55] CooperCooperCooper commented on #49
Hi @NightMachinary,
Good point! I've relayed your suggestion to our team to consider. But since this is outside of the content-issue scope, we will close this ticket. If you're curious about the investigation progress, please reach out to our support team here: https://support.leetcode.com/hc/en-us. We appreciate your support and understand.

[2020-03-21 00:00] CooperCooperCooper commented on #55
Hi @armeria-program,
Thanks to your timely feedback, we've now added several test cases to this problem (including the one you've mentioned). Please try out the problem again.

[2020-03-21 00:00] #55 closed

[2020-03-21 02:42] armeria-program commented on #55
Thanks a lot for your work!

By try the problem again with your new test cases, I found my previous solution was also wrong. It can't pass the test case:

["A","B","C","D","A","B","V"]
3

the correct code should be:

class Solution {
public:
    int leastInterval(vector<char>& tasks, int n) {
        int tasksSize = tasks.size();
        int charNum = 26;
        vector<int> cnt(charNum, 0);

[2020-03-21 05:06] tagarwal opened #58 "Wrong test case format for golang for https://leetcode.com/problems/maximal-square/"
---
name: Bug report (English)
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**What kind of the bug**
- [ ] problem
- [ ] solution
- [*] language

**Describe the bug**
A clear and concise description of what the bug is.
The input for the problem https://leetcode.com/problems/maximal-square/
is a two dimensional byte array. But the test inputs are strings. In go

[2020-03-21 06:44] Niklaus-LY opened #59 "21题官方题解不严谨"
** Bug 类型**
- [√ ] 题目
- [√ ] 题解
- [ ] 编程语言

**描述**
描述你遇到的 bug
第21题，题目只是要求合并两个有序链表，但官方题解和优秀题解都是默认为两个升序的链表来处理，这里我认为是不严谨的，因为如果是一个降序链表一个升序链表的话，处理方式要更复杂一些。

**你使用的语言**
C++

**期望行为**
希望官方能够修改一下题目，或者修改一下题解。

**屏幕截图**
添加屏幕截图辅助我们帮你定位问题
![image](https://user-images.githubusercontent.com/40531971/77221186-5be6e300-6b82-11ea-91ed-d36577a0601e.png)

**额外的上下文**
添加额外的上下文信息

[2020-03-21 07:09] naco-siren opened #60 "846. Hand of Straights. Best submission incorrect"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
This submission is incorrect.
E.g. [2,4,6], W=3

**what language is your code written in**
C++

**The code he/she submited**
[code]

**Expected behavior**
The example test case should fail.

**Screenshots**
<img width="1333" alt="image" src="https://user-images.githubusercontent.com/8222638/77221593-34533480

[2020-03-21 10:29] AzimovS opened #61 "872. Leaf-Similar Trees missing a test case"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
My code was accepted by LeetCode. I entered a test case that broke my code (output is different than expected output). This means that an important test case is missing when a solution is submitted.

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
The

[2020-03-21 11:33] m-Just opened #62 "169. Majority Element missing a test case"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
My erroneous code is accepted. The missed test case I found is `[2,2,3,3,3,3,2]`.

**what language is your code written in**
Python3

**The code you submit/run**
[code]

**Expected behavior**
The above solution should not be accepted because it gives a wrong answer when input is `[2,2,3,3,3,3,2]`.

[2020-03-21 18:41] wyorkovich opened #63 "Error in backend code on problem 13"
In problem 13: Roman to Integer, there is a problem regarding the backend Java code in the main method that nullifies any submission. The error reads

[code]

[2020-03-22 03:29] emli opened #64 "Bug in ranklist on last contest"
![image](https://user-images.githubusercontent.com/5517490/77241661-92267000-6c1f-11ea-9434-cef9176879ed.png)

[2020-03-22 13:26] martinschneider opened #65 "1391. Check if There is a Valid Path in a Grid is missing a test case"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
I submitted a [simple solution](https://leetcode.com/submissions/detail/314844327/) for problem 1391.

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
This should not be accepted as a correct answer.

For example, it fails the following simple test ca

[2020-03-22 14:19] humwawe opened #66 "924. Minimize Malware Spread 测试用例不全面"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
924. Minimize Malware Spread 尽量减少恶意软件的传播
[https://leetcode-cn.com/problems/minimize-malware-spread/](https://leetcode-cn.com/problems/minimize-malware-spread/)

**你使用的语言**
JAVA

**你提交或者运行的代码**
[code]
上面代码可以通过测试，但无法通过如下测试用例：
[[1,1,0],[1,1,0],[0,0,1]]
[0,1,2]

**期望行为**
增加测试用例

[2020-03-23 02:02] bissahoo opened #67 "Simplify Path broken link in content"
**Broken link in the cotent**
- [x] problem

**Describe the bug**
Hyperlink  (Absolute path vs relative path in Linux/Unix points) to URL(https://www.linuxnix.com/abslute-path-vs-relative-path-in-linuxunix/) which gives database connection error.

**Screenshots**
Please see the attached screenshot for details:

![leet_code_broken_link](https://user-images.githubusercontent.com/39652914/77272912-55

[2020-03-23 05:27] Airsaid opened #68 "使用 Kotlin 语言中的 Pair 对象并调用 first、second 会编译出错"
**Bug 类型**
- [ ] 题目
- [ ] 题解
- [x] 编程语言

**描述**
当使用 Kotlin 语言中的 Pair 对象，然后正常调用其 first 或 second 时会编译出错。

**你使用的语言**
Kotlin

**你提交或者运行的代码**
[code]

**期望行为**
正常运行。

**屏幕截图**
<img width="871" alt="Jietu20200321-230411@2x" src="https://user-images.githubusercontent.com/15967150/77284477-beb6b680-6d09-11ea-9b38-9ee0adce14e5.png">

**额外的上下文**

[2020-03-23 05:49] feiceh commented on #59
done

[2020-03-23 05:49] #59 closed

[2020-03-23 05:50] feiceh commented on #54
fixed

[2020-03-23 05:51] #54 closed

[2020-03-23 05:56] feiceh commented on #68
能否向我们提供一下 题号？把信息提供完整有助于攻城狮快速验证和精准的定位哟～

[2020-03-23 06:33] cowhorse opened #69 "#239 sliding-window-maximum bad test case"
**What kind of the bug**
- [*] problem
- [ ] solution
- [ ] language

**Describe the bug**
Problem description has such note
Note:
You may assume k is always valid, 1 ≤ k ≤ input array's size for non-empty array.

However there is a test case nums=[] k=0 there

**what language is your code written in**
Java

**The code you submit/run**
[code]

[2020-03-23 09:27] Airsaid commented on #68
我觉得这是一个通用的问题，而不是限制在某题。我在多个题中尝试这样写都会编译失败，例如：
- https://leetcode-cn.com/problems/rotting-oranges/
- https://leetcode-cn.com/problems/water-and-jug-problem/

[2020-03-23 09:42] feiceh commented on #68
感谢反馈，此问题已转给技术团队会尽快确认的～

[2020-03-23 15:16] CooperCooperCooper commented on #58
Hi @tagarwal,
Thank you for reaching out to us. I've filed this issue to our team to investigate.

[2020-03-23 15:20] CooperCooperCooper commented on #60
Hi @naco-siren,
Thank you for reaching out. I've filed this issue to our team to investigate.

[2020-03-23 15:27] CooperCooperCooper commented on #61
Hi @AzimovS,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-03-23 15:36] CooperCooperCooper commented on #62
Hi @m-Just,
Thank you for reaching out. I've relayed this issue to our team to investigate.

[2020-03-23 15:37] CooperCooperCooper commented on #63
Hi @wyorkovich,
Thank you for reaching out to us. To help us assess this issue, please share your submission in your post.

[2020-03-23 15:39] CooperCooperCooper commented on #64
Hi @emli,
Thank you for reaching out to us. Since your issue is related to the contests, please share them with us in this support channel: https://support.leetcode.com/hc/en-us. We appreciate your time and support.

[2020-03-23 15:39] #64 closed

[2020-03-23 15:43] CooperCooperCooper commented on #65
Hi @martinschneider,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-03-23 15:43] wyorkovich commented on #63
It's a terrible solution because I've basically forgotten everything I'd learned in my degree, but at least it works. Or it should, anyway.
`class Solution {
    public int romanToInt(String s) throws Exception {
		int num = 0;
		char[] numerals = s.toLowerCase().toCharArray();

		for(int i = 0; i < numerals.length; i++) {
			char current = numerals[i];
			char next = numerals[i + 1];

			if(curre

[2020-03-23 15:44] CooperCooperCooper commented on #67
Hi @bissahoo,
Thank you for reaching out to us! Since this issue is related to some other parts of our system, please share this issue with our other support channel here: https://support.leetcode.com/hc/en-us. We appreciate your time and support.

[2020-03-23 15:46] CooperCooperCooper commented on #69
Hi @cowhorse,
Thank you for reaching out to us! I've relayed this information to our team to investigate.

[2020-03-23 18:35] CooperCooperCooper commented on #67
Hi @bissahoo,
My apologies. You're correct that this is a content issue. I've relayed it to our team to fix.

[2020-03-23 22:45] CooperCooperCooper commented on #60
Hi @naco-siren,
Thank you for your time. Base on your timely feedback, we've added some more test cases on this problem. Please try them out! We appreciate your time and support.

[2020-03-23 22:45] #60 closed

[2020-03-23 22:46] CooperCooperCooper commented on #61
Hi @AzimovS,
Thanks to your timely feedback, we've added some more test cases to this problem. Please try them out! We appreciate your support.

[2020-03-23 22:46] #61 closed

[2020-03-24 00:06] CooperCooperCooper commented on #62
Hi @m-Just,
Thanks to your timely feedback, we've added the missing test case accordingly. Please try the problem out :)

[2020-03-24 00:06] #62 closed

[2020-03-24 00:08] CooperCooperCooper commented on #69
Hi @cowhorse,
Thanks to your timely feedback, we've updated the test cases and description for this problem. Please check it out :)

[2020-03-24 00:08] #69 closed

[2020-03-24 00:13] CooperCooperCooper commented on #63
Hi @wyorkovich,
Thank you for the clarification. I've relayed this issue to our team to investigate.

[2020-03-24 03:43] caoxingdong opened #70 "Test-case out of constraint"
**What kind of the bug**

- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
https://leetcode.com/problems/bus-routes/

Problem 815. Bus Routes

The second constraint is 1 <= routes[i].length <= 500, while I met a testcase beyond this constraint

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Snipaste_2020-03-23_21-41-15](https://user-images.githubuse

[2020-03-24 16:17] chethanrao opened #71 "https://leetcode.com/problems/longest-happy-prefix/"
**What kind of the bug**
- [ ] longest happy prefix (https://leetcode.com/problems/longest-happy-prefix/)
- [ ] The code is below
- [ ] Java,Python 3

**Describe the bug**
For the longest happy prefix problem brute force solution works in python 3 and not in java.
As this a contest problem it affected the rankings.

**what language is your code written in**
Java,Python 3

**The code you submit/run

[2020-03-24 17:46] CooperCooperCooper commented on #71
Hi @chethanrao,
Thank you for reaching out to us. I've relayed this issue to our engineers to investigate.

[2020-03-24 17:47] CooperCooperCooper commented on #70
Hi @caoxingdong,
Thank you for reaching out to us. I've relayed this issue to our engineers to investigate.

[2020-03-24 17:50] CooperCooperCooper commented on #58
Hi @tagarwal,
Thank you for your time. We found the issue to be caused by the incorrect input format of the test case, so please update the format accordingly. We appreciate your support.

[2020-03-24 17:50] #58 closed

[2020-03-24 17:55] CooperCooperCooper commented on #65
Hi @martinschneider,
Thank you for your time. Thanks to your timely feedback, we've updated the problem by adding several test cases, including the one you've contributed. Please send us a message to the main support channel with some form of proof to claim your test case contribution reward: https://support.leetcode.com/hc/en-us. We appreciate your support.

[2020-03-24 17:55] #65 closed

[2020-03-24 18:48] jstephenj14 opened #72 "Problem 153 Time Exceeded for Solution"
For the problem link below:

https://leetcode.com/problems/find-minimum-in-rotated-sorted-array/submissions/

The test case [3,4,5,1,2] results in a Time Limit Exceeds with my code (reproduced below) when it results in the correct solution of 1 when I run it locally on my computer. Can someone look into this?

import math

def findMin( nums):
    """
    :type nums: List[int]
    :rtype: int
    "

[2020-03-24 21:49] CooperCooperCooper commented on #72
Hi @jstephenj14,
Thank you for reaching out to us. To help us assess the issue quickly, can you please fill in the language your solution is in?

[2020-03-25 00:10] CooperCooperCooper commented on #70
Hi @caoxingdong,
Thank you for your time. We've updated the test case constraint. Please try it now :)

[2020-03-25 00:10] #70 closed

[2020-03-25 00:20] CooperCooperCooper commented on #71
Hi @chethanrao,
Thank you for your time. String comparison in Python 3 is really fast, which is the reason why the Python 3 code works but not the Java code.

[2020-03-25 00:20] #71 closed

[2020-03-25 00:23] CooperCooperCooper commented on #63
Hi @wyorkovich,
Thank you for your time. On line 7, "char next = numerals[i + 1]" is getting out of bounds. Please check out the Java solutions in the problem discuss section for inspiration: https://leetcode.com/problems/roman-to-integer/discuss?currentPage=1&orderBy=most_votes&query=java.

[2020-03-25 00:23] #63 closed

[2020-03-25 01:54] Airsaid opened #73 "892 测试用例预期结果错误"
**Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
在 892 题目中：https://leetcode-cn.com/problems/surface-area-of-3d-shapes/comments/

当在控制台中手动添加测试用例：[[1,3]]，然后执行代码，预期结果显示是 6，但是正确的结果应该是 18。

直接提交可以正常 AC。

**你使用的语言**
Kotlin

**你提交或者运行的代码**
[code]

**期望行为**
返回正确的预期结果。

**屏幕截图**

**额外的上下文**

[2020-03-25 12:09] Airsaid commented on #73
抱歉，题意理解错误，是 n*n 的矩阵而不是矩形，因此不存在 [[1,3]] 这样的测试用例。

[2020-03-25 12:09] #73 closed

[2020-03-25 17:53] caoxingdong opened #74 "Help Center and then Sign Out"
**What kind of the bug**

- [x] other

**Describe the bug**
I clicked the **Help Center** at the page bottom, and it asked me to sign out.

![Snipaste_2020-03-25_11-51-20](https://user-images.githubusercontent.com/32877011/77569043-32360080-6e8f-11ea-91f6-435f12418d0d.png)
![Snipaste_2020-03-25_11-51-29](https://user-images.githubusercontent.com/32877011/77569053-36621e00-6e8f-11ea-8ef1-89e48ab112

[2020-03-26 06:42] lih627 opened #75 "Problem 1246, 预期输出结果出问题"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
题目 1246, 看评论发现的问题:
对于测试数据 [1, 4, 1, 1, 2, 3, 2, 1]
预期输出结果显示是 3
应该是 2, 即 [1, 4, 1], [1, 2, 3, 2, 1]

[2020-03-26 07:52] feiceh commented on #75
感谢反馈，此问题已转给技术团队会尽快确认的～

[2020-03-26 18:25] CooperCooperCooper commented on #74
Hi @caoxingdong,
Thank you for reaching out to us. Please share this issue with our team to our support channel here: https://support.leetcode.com/hc/en-us. We appreciate your support.

[2020-03-26 18:25] #74 closed

[2020-03-26 18:27] CooperCooperCooper commented on #72
Hi @jstephenj14,
Thank you for your time. Your code is getting TLE because it sets the bound incorrectly. Please fix it accordingly. We appreciate your support.

[2020-03-26 18:27] #72 closed

[2020-03-26 21:37] barryeisenhart opened #76 "Unable to submit solution for problem #420 (Strong Password Checker)"
**What kind of the bug**
- [X] problem
- [ ] solution
- [ ] language

**Describe the bug**
When I try to submit my solution for problem 420 (https://leetcode.com/problems/strong-password-checker/), Leetcode reports Wrong Answer, telling me that for input "aaaabbaaabbaaa123456A", 4 was the output when 3 was expected. Yet, when I run the same input in Leetcode's own console, it reports that 3 was th

[2020-03-27 03:44] my87432122 opened #77 "今日的打卡题 914.卡牌分组 执行用时分布图表中执行时间为4ms的代码出现问题"
** Bug 类型**
- [ ] 题目
- [x] 题解
- [ ] 编程语言

**描述**
描述你遇到的 bug
**今日的打卡题 914.卡牌分组 执行用时分布图表中执行时间为4ms的代码是错误的**
样例：[1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,4,4] （四种数字出现次数为6,9,6,8)
输出：True
正确答案：False
**你使用的语言**
C++

**你提交或者运行的代码**
[code]

**期望行为**
样例：[1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,4,4] （四种数字出现次数为6,9,6,8)
输出：True
正确答案：False

**屏幕截图**
emmm 没搞懂咋用markdown添加图片，图片详见-力扣支持中心#

[2020-03-27 03:48] feiceh commented on #77
感谢反馈，此问题已转给技术团队会尽快确认的～

[2020-03-27 05:40] CooperCooperCooper commented on #76
Hi @barryeisenhart,
Thank you for reaching out to us. The difference in your "Outputs" between "Run Code" and "Submit" despite of the same "input" and "Expected" is a well-known issue that we have documented in this article: [I encountered Wrong Answer/Runtime Error for a specific test case. When I test my code using this test case, it produced the correct output. Why?](https://support.leetcode.co

[2020-03-27 05:40] #76 closed

[2020-03-27 06:20] feiceh commented on #75
fixed

[2020-03-27 06:21] feiceh commented on #68
fixed

[2020-03-27 06:22] #68 closed

[2020-03-27 06:25] feiceh commented on #77
您好，这个是用户的代码，平台暂时无法处理。

[2020-03-27 06:25] #77 closed

[2020-03-27 07:02] VonSdite opened #78 "1145. 二叉树着色游戏 C语言 第54个用例有误"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
描述你遇到的 bug
1145. 二叉树着色游戏 C语言 第54个用例有误. 该用例不是一颗二叉树
![image](https://user-images.githubusercontent.com/25704948/77730548-f7250000-703b-11ea-9924-dc1f2f3190a8.png)

**你使用的语言**
C++

**你提交或者运行的代码**
[code]

**期望行为**
描述你期望的结果

**屏幕截图**
添加屏幕截图辅助我们帮你定位问题

**额外的上下文**
添加额外的上下文信息

[2020-03-27 07:09] #78 closed

[2020-03-27 08:06] VonSdite opened #79 "831. 隐藏个人信息 中文题目描述不准确"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
描述你遇到的 bug
831. 隐藏个人信息 中文题目描述不准确，html代码直接显示在题目中了，影响读题。

**你使用的语言**
C++

**你提交或者运行的代码**
[code]

**期望行为**
描述你期望的结果

**屏幕截图**
添加屏幕截图辅助我们帮你定位问题

**额外的上下文**
添加额外的上下文信息

[2020-03-27 08:48] feiceh commented on #79
感谢您的反馈，出现的 html 代码已经处理了，力扣会定期更新，保障稳定和体验优化。

[2020-03-27 08:48] #79 closed

[2020-03-27 08:49] JialuGong opened #80 "测试用例测试通过，提交执行错误问题"
** Bug 类型**
- [ ] 题目
- [x] 题解
- [ ] 编程语言

**描述**
在解答[题目](https://leetcode-cn.com/problems/x-of-a-kind-in-a-deck-of-cards/)时，出现测试用例跑通，但提交后出现执行错误的问题。（对最后`最后执行的输入`已做测试，可以返回正确答案。）
**你使用的语言**
Rust

**你提交或者运行的代码**
[code]

**期望行为**
描述你期望的结果

**屏幕截图**
![avatar](https://s1.ax1x.com/2020/03/27/GPgYPH.png)
**额外的上下文**
测试用例截图
![avatar](https://s1.ax1x.com/2020/03/27/GPgooF.png)

[2020-03-27 08:57] feiceh commented on #80
感谢反馈，此问题已转给技术团队会尽快确认的～

[2020-03-27 11:38] JialuGong commented on #80
找到问题了，代码存在一些问题，但是为什么测试用例能跑通，感觉很迷。我再去看一看，感谢(●ˇ∀ˇ●)

[2020-03-27 15:25] MAO1112 commented on #66
留一下言，感觉像codeforces那样，用户可以提交测试用例互相Hack就很好，还可以把一些面向测试用例编程的淘汰掉

[2020-03-27 18:50] xianshuli opened #81 "269. Alien Dictionary, test case ["abc","ab"] is invalid"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [x ] language

**Describe the bug**
The problem mentioned note:

You may assume that if a is a prefix of b, then a must appear before b in the given dictionary.

Then why "ab" appears after "abc" for this case? This should be an invalid test case and should be removed.

Thanks

[2020-03-27 21:57] CooperCooperCooper commented on #81
Hi @xianshuli,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-03-27 22:17] CooperCooperCooper commented on #67
Hi @bissahoo,
Thank you for your time! Since the issue from the link was out of our scope, we've removed the link and updated the description. Please check it out :)

[2020-03-27 22:17] #67 closed

[2020-03-28 03:02] bissahoo commented on #67
Perfect. Thanks mate!

[2020-03-28 09:03] garimasingh128 opened #82 "Solution Bug- Solution missing"
**What kind of the bug**
- [ ] problem
- [.] solution
- [ ] language

**Describe the bug**
1074. Number of Submatrices That Sum to Target
Solution missing for above problem.

**what language is your code written in**
C++

[2020-03-28 21:11] liuauto commented on #81
Not sure if I understand. But the note said: If the order is invalid, return an empty string. So this test case should just return ""?

[2020-03-28 21:34] xianshuli commented on #81
It seems the admin modified the description of the problem. Previously there is no such statement "If the order is invalid, return an empty string.". It was "You may assume that if a is a prefix of b, then a must appear before b in the given dictionary." instead.

[2020-03-29 08:59] SpaIns opened #83 "1060 Missing Element in Sorted Array Solution Time Complexity is Incorrect"
**What kind of the bug**
- [ ] problem
- [X] solution
- [ ] language

**Describe the bug**
The given time complexity for both solutions provides O(1) as an answer in a given scenario, but that's not how time complexity analysis works.  The big O time complexity for the given algorithms are O(N) and O(logN) always, you cannot add a caveat and say 'in this specific case it's constant time!'  This sh

[2020-03-29 12:10] SamZhangQingChuan opened #84 "5371 数据过水"
**Bug 类型**

- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**

https://leetcode-cn.com/problems/find-all-good-strings/ 这道题数据过弱。

很多没有考虑s1比s2字典序大的代码也通过了。
提供一组数据
[code]

**期望行为**

应该输出 `0`。

[2020-03-29 12:59] CJMobileApps commented on #81
I see many people in the leetcode comment section complaining about this test case. I believe the problem description should be more clear or this test case should be removed. It is very confusing.

[2020-03-30 03:19] feiceh commented on #84
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-03-30 07:39] feiceh commented on #66
您好，该问题已修复，请稍后刷新网页再试试。我们会不断努力优化和提升我们的产品，给大家带来最佳的用户体验。

[2020-03-30 07:40] #66 closed

[2020-03-30 07:40] feiceh commented on #75
您好，该问题已修复，请稍后刷新网页再试试。

[2020-03-30 07:41] #75 closed

[2020-03-30 07:42] #80 closed

[2020-03-30 08:11] WanghuiRs opened #85 "剑指offer 面试题33. 测试用例不全"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
描述你遇到的 bug
测试用例不全，在只递归判断左子树是否满足，不判断右子树也可以通过。
比如这个[1,2,5,10,6,9,4,3]只递归左子树会出错。
**你使用的语言**
C++

**你提交或者运行的代码**
[code]

**期望行为**
描述你期望的结果

**屏幕截图**
添加屏幕截图辅助我们帮你定位问题

**额外的上下文**
添加额外的上下文信息

[2020-03-30 08:40] bagira-it opened #86 "777. Swap Adjacent in LR String - Missing test case"
**What kind of the bug**
- [ ] problem
- [X] solution
- [ ] language

**Describe the bug**
Missing testcase.
My solution is accepted but it should not. Because it fails this simple test:
"RXX"
"RXL"

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
Solution should not be accepted.

[2020-03-30 08:45] feiceh commented on #85
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-03-30 20:03] CooperCooperCooper commented on #81
Hi @xianshuli,
Thank you for your time and support! The test case ["abc","ab"] is valid, so we've updated the problem statement. Please check out [the problem](https://leetcode.com/problems/alien-dictionary/) now and let us know if you have any other questions :)

[2020-03-30 20:03] #81 closed

[2020-03-30 21:21] CooperCooperCooper commented on #86
Hi @bagira-it,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-03-30 23:12] CooperCooperCooper commented on #82
Hi @garimasingh128,
Thank you for reaching out to us! I've relayed this issue to our team and request to prioritize adding solution to this problem as soon as possible. We appreciate your time and support. If you have any other requests, please don't hesitate to let us know.

[2020-03-30 23:12] #82 closed

[2020-03-31 04:19] CooperCooperCooper commented on #86
Hi @bagira-it,
Thank you for your time! Base on your feedback, we've added more test cases to this problem. We appreciate your support! Please reach out to us on the technical support channel to claim your reward!

[2020-03-31 04:19] #86 closed

[2020-03-31 04:23] CooperCooperCooper commented on #83
Hi @SpaIns,
Thank you for reaching out to us! I've relayed your issue to our team to investigate.

[2020-03-31 04:25] feiceh commented on #85
done

[2020-03-31 04:26] #85 closed

[2020-03-31 06:43] foxtrot9 opened #87 "727. Problem "Minimum Window Subsequence" Suboptimal solution allowed"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
This problem allows suboptimal solution of time complexity O(S*S*T) pass.

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
The problem should not allow solution of time complexity O(S*S*T) to pass.
It should allow solution with time complexity less or

[2020-03-31 09:07] LeoSirius opened #88 "578. Get Highest Answer Rate Question。问题描述不清楚"
** Bug 类型**
- [ 1] 题目

**描述**
描述你遇到的 bug

https://leetcode-cn.com/problems/get-highest-answer-rate-question/

这道题的描述，连answer rate是什么都没说清楚，就让求answer rate。

[2020-03-31 09:42] feiceh commented on #88
下面的提示里面有关于回答率最高的定义，从描述中可以看出什么是回答率。

[2020-03-31 09:43] #88 closed

[2020-03-31 17:15] CooperCooperCooper commented on #87
Hi @foxtrot9,
Thank you for reaching out to us! I've relayed this feedback to our team to investigate.

[2020-03-31 17:45] PrateekAdhikaree opened #89 "Run Code and Submission outputs do not match - Python3"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Running a solution shows a test as passed but submitting the solution shows a different output for the same test case.

**what language is your code written in**
Python3

**The code you submit/run**
[code]

**Expected behavior**
The submission should be accepted.

**Screenshots**
![Screen Shot 2020-03-31 at

[2020-03-31 21:58] garimasingh128 opened #90 "Solution for the given problem missing. Problem no: 47. Permutations II"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Solution for the given problem missing. Problem no: 47. Permutations II
URL: https://leetcode.com/problems/permutations-ii/

**what language is your code written in**
C++

[2020-03-31 22:37] CooperCooperCooper commented on #89
Hi @PrateekAdhikaree,
Thank you for reaching out to us! The difference in "Output" from "Run Code" and "Wrong Answer" is likely due to the static variable. We've documented this issue and its various solutions thoroughly in this "[I encountered Wrong Answer/Runtime Error for a specific test case](https://support.leetcode.com/hc/en-us/articles/360011834174-I-encountered-Wrong-Answer-Runtime-Error-f

[2020-03-31 22:37] #89 closed

[2020-04-01 00:11] zhule0601 opened #91 "关于不能对题目点踩的问题"
** Bug 类型**
- [ 6 ] 题目

**描述**
题目只能点赞，不能点踩

**你使用的语言**
C++

**你提交或者运行的代码**

**期望行为**
对每一道题都应该开发式的交给用户去评分，只能点赞的话，不能让用户直观的避坑。

**屏幕截图**
中文网站：
![image](https://user-images.githubusercontent.com/23112609/78086379-56925f80-73f0-11ea-96d5-476d9ceb9723.png)

英文网站：
![image](https://user-images.githubusercontent.com/23112609/78086345-395d9100-73f0-11ea-9e3f-d06df300e310.png)

[2020-04-01 00:16] CooperCooperCooper commented on #90
Hi @garimasingh128,
Thank you for reaching out to us! I've relayed this issue to our team and request to prioritize adding solution to this problem as soon as possible. We appreciate your time and support. If you have any other requests, please don't hesitate to let us know.

[2020-04-01 00:16] #90 closed

[2020-04-01 03:24] feiceh commented on #91
非常感谢您的反馈，我们会在后期的版本中不断优化和提升我们的产品，给大家带来最佳的用户体验。Github 仓库主要用于收集大家在本站学习过程中遇到的题目和题解 BUG，使用中有其他的建议您可提交工单（https://support.leetcode-cn.com/hc/request/new/） 反馈处理喔～

[2020-04-01 03:24] #91 closed

[2020-04-01 04:37] CooperCooperCooper commented on #87
Hi @foxtrot9,
Thank you for your time. We took a thorough look at the information provided and decided the problem will not be updated for now. We appreciate your support. If you have any additional feedback you would like to share with us, please don't hesitate to comment here.

[2020-04-01 04:37] #87 closed

[2020-04-01 05:51] tt-leader opened #92 "983 Minimum Cost For Tickets Test case #33"
The output of this test case is 10, but I think the right answer is 11. Can anyone explain the way to get 10? Thanks in advance.
[code]

[2020-04-01 06:51] #92 closed

[2020-04-01 06:57] tt-leader commented on #92
Buy a 7-pass for  16 17 19 21 22, and buy six 1-pass for 4 5 9 11 14 24.
These will cost 10 dollars.

[2020-04-01 08:59] feiceh commented on #84
done

[2020-04-01 08:59] #84 closed

[2020-04-01 09:41] SamZhangQingChuan commented on #84
贡献测试用例有 100 积分，请打到我的账户：https://leetcode-cn.com/u/qingchuanzhang-microsoft/，谢谢。

[2020-04-01 10:03] LucienZhang opened #93 "题目描述错误"
https://leetcode-cn.com/problems/maximum-nesting-depth-of-two-valid-parentheses-strings/

1111.有效括号的嵌套深度

**Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
题目描述中的提示`1 <= text.size <= 10000`是一个错误提示，text没有定义，且输入长度等于1时为非法输入。

[2020-04-01 15:56] SamZhangQingChuan opened #94 "Evident Cheating in Biweekly 22"
**What kind of the bug**
- [x] staff

**Describe the bug**

In the [Biweekly 22](https://leetcode.com/contest/biweekly-contest-22/ranking/), it is crystal clear that one of `#7 please_AC` and `#12 han3000` plagiarized the other's code for q4.

I've reported multiple times to the staff at LC-CN and yet there hasn't been any action taken.  If this kind of behavior is allowed and the codes are not de

[2020-04-01 17:28] CooperCooperCooper commented on #83
Hi @SpaIns,
Thank you for the timely feedback! The article is now updated.

[2020-04-01 17:28] #83 closed

[2020-04-02 00:07] basicbang0x opened #95 "Leetcode's Scala Binary Tree Representation is extremely bad"
I am trying to use Scala for my programming language of choice for interviews because it has nice primitives, such as type safety and pattern matching, that offers coders the tools to build elegant and bug-free code, which is what the industry is looking for. I see LeetCode as a platform to help coders hone their skills and help them land very lucrative software engineering jobs. In order to land

[2020-04-02 00:19] SpaIns commented on #83
It may be worth adding a note to the top of the solution article along these lines:

"NOTE: The time complexity in this article has been adjusted as of 4-1-2020"

In order to reduce confusion when new readers see the old comments lambasting the complexity analysis.

[2020-04-02 02:55] feiceh commented on #93
1 < seq.size <= 10000 已更新。

[2020-04-02 02:55] #93 closed

[2020-04-02 03:01] hairman123 commented on #57
请问这个 issue 为什么快 15 天了都还没有处理？

[2020-04-02 03:16] SkandaB opened #96 "Possible missing test case"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Possible missing test case
Problem: https://leetcode.com/problems/add-binary/

Test case missing:
[code]

**what language is your code written in**
Java

**The code you submit/run**
The correct solution, which passes all test cases and also the new test case mentioned above.
[code]

However, I had a bug in m

[2020-04-02 03:52] feiceh commented on #57
done

[2020-04-02 05:23] feiceh commented on #94
你好，Github 仓库只用于反馈大家在本站学习过程中遇到的题目和题解问题，请知晓。

[2020-04-02 05:23] #94 closed

[2020-04-02 06:19] SamZhangQingChuan commented on #94
好的，我会每周发一次直到有人管这事

[2020-04-02 14:10] imlgw opened #97 "290. 单词规律 & 205. 同构字符串 测试用例不全"
**Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
测试用例太少，map判断value是否存在的时候都不用containsValue，直接和前一个字符比较就可以过
290 和 205都有这个问题
**你使用的语言**
Java

**你提交或者运行的代码**
_290 AC的错误代码_
[code]
_205 AC的错误代码_
[code]

**期望行为**
290添加 "abc"  “dog cat dog” 类似的case
205添加 "abc"  "cgc" 类似的case

**屏幕截图**
![QQ截图20200402220553.png](https://i.loli.net/2020/04/02/hSAH1kgnbCayLIP.png)

**额外的上下文**

[2020-04-02 16:01] xmcgcg opened #98 "776. 拆分二叉搜索树 翻译错误"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
翻译错误（参考下方截图）：
1. 【示例1】中的【注意根结点】五个字不需要加粗（英文原版没有）。
2. 【注意】部分第1点语言表达可以改进：一是【个数】与【个】重复，只需要保留一个；二是【不得超过】语气有误，不宜描述题目自身输入限制。
3. 【注意】部分第2点最后拼音输入错误导致没有转换为汉字。

**期望行为**
1. 取消【注意根结点】加粗。
2. 改为【二叉搜索树节点个数不超过 50】或者【二叉搜索树节点不超过 50 个】。
3. 将最后的英文字母修正为【都不相同】。

**屏幕截图**
![776](https://user-images.githubusercontent.com/11268373/78270347-4a67e880-753d-11ea-91ce-c3b0f31216

[2020-04-02 17:58] CooperCooperCooper commented on #95
Hi @basicbang0x,
Thank you for reaching out to us! I've relayed your feedback to our team to consider.

[2020-04-02 18:07] CooperCooperCooper commented on #96
Hi @SkandaB,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-03 03:01] feiceh commented on #97
感谢反馈，此问题已转给题目团队会尽快确认的～

[2020-04-03 03:06] feiceh commented on #98
done

[2020-04-03 03:06] #98 closed

[2020-04-03 06:04] mmalu opened #99 "A simpler solution for 202. Happy Number"
https://leetcode.com/problems/happy-number/discuss/560379/A-novel-solution-(O(1)-Space)-The-series-eventually-loops-through-a-single-digit

[2020-04-03 06:25] hairman123 commented on #94
支持 @SamZhangQingChuan ，这就是 LeetCode 中国区的工作人员的态度，
我反馈题目 502 IPO 的 [官方题解](https://leetcode-cn.com/problems/ipo/solution/ipo-by-leetcode/) 错误，他们10天 都不处理，就关闭了 [issue](https://github.com/LeetCode-Feedback/LeetCode-Feedback/issues/57)
而且他们还删除了我在题解下面的评论
刚刚我在 https://leetcode-cn.com/circle/discuss/kSYiVL/ 下面评论反馈这个题解有问题，但是评论又被他们删除了
到现在这篇辣眼睛的题解还挂着“官方”的标签

[2020-04-03 06:43] feiceh commented on #57
非常抱歉给您带来不便了，因为题目题解涉及到全球，题目运营团队也会按照紧要程度安排更新，因期间同步有误造成的问题我们深表歉意，这边已催促相关部门会尽快处理的。非常感谢您这样的积极用户对力扣网站的支持。如果愿意的话，可以提供一下中文社区的力扣 ID，等更新后会奖励一些 LeetCoin 给您，祝您生活愉快～

[2020-04-03 07:01] hairman123 commented on #57
其实我理解工作人员维护网站事务繁忙，可能处理不过来，也很感谢有 LeetCode 这样一个能够提高自己的平台。

**如果一开始就说明情况 “因为题目题解涉及到全球，题目运营团队也会按照紧要程度安排更新，这边已催促相关部门会尽快处理的。” ，而不是直接关闭 issue 了事，也不会让反馈的人感到失望。**

**LeetCode 受到欢迎的关键不是因为其功能有多强大、界面有多华丽，而是 LeetCode 平台上有丰富的、优质的内容。** 如果有些内容有错误，尤其时”官方发布“的内容有错误，发现错误的人会怀疑 LeetCode 上的内容质量，而没有发现错误的人可能会被这些错误的解答误导。所以希望 LeetCode 平台能够在发布新内容时，加强内容和翻译的审核，尽量减少发布内容的错误。

[2020-04-03 07:30] feiceh commented on #57
非常感谢您这样的积极用户对力扣网站的支持，我们会不断努力优化和提升我们的产品，给大家带来最佳的用户体验。当前题解已经更新成功，您可提供一下中文社区的力扣 ID，我们奖励一些 LeetCoin 给您，祝您生活愉快～

[2020-04-03 07:47] hairman123 commented on #57
ID：https://leetcode-cn.com/u/newhar/
另外，希望工作人员在有空闲时间时完整地浏览一下文章，它还有几个逻辑上的错误：
1）"时间复杂度为 O(Nlog(N)) 对于这道题目来说不是最佳的。" 这句话是不正确的（难道方法二 O(Nk) 比 O(Nlog(N)) 更优？）；
2）方法二 **不是** 由方法一优化而来。相反，由方法二可以优化到方法一。

[2020-04-03 08:45] feiceh commented on #57
好的，此问题已转给题目运营团队会再次确认的～感谢您的支持与反馈，优化内容质量一贯是力扣不遗余力的努力方向，我们会不断努力提升，给大家带来更好的学习社区！积分奉上，稍后可以点击「积分」查看详情，再次感谢您对力扣一贯的支持。

[2020-04-03 08:46] #57 closed

[2020-04-03 14:13] zhuwy opened #100 "322 零钱兑换 控制台执行正确，提交却报错"
** Bug 类型**
- [ ] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
描述你遇到的 bug

**你使用的语言**
javascript

**你提交或者运行的代码**
[code]

**屏幕截图**
![image](https://user-images.githubusercontent.com/6229332/78232505-efb39a00-7506-11ea-8575-d9c4c751e5d0.png)

[2020-04-03 15:24] lih627 opened #101 "1396. 设计地铁系统 建议增加测试用例"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [x] 编程语言

**描述**
错误的Python代码提交显示通过了, 需要增加测试用例.

**你使用的语言**
Python3

**你提交或者运行的代码**
以下代码有问题: 但是提交显示通过
[code]

**期望行为**
希望增加测试用例, 同一个ID多次使用相同路线
例如:
[code]
Python代码输出:
[code]
正确答案
[code]

[2020-04-03 21:48] rankinchristopher opened #102 "30 Day Challenge - Unhappy Number"
**What kind of the bug**
- [x ] problem
- [ ] solution
- [ ] language

**Describe the bug**
I've been taking part in the 30 Day Challenge.
I believe there is am issue with the Week 1 problem set 2 "Happy number" problem set

The challenge states that non happy number should result in an endless loop.
My code does this but python will throw a runtime exception on detecting an endless loop.
Because

[2020-04-04 00:34] feiceh commented on #100
你好，建议再仔细调试一下代码，希望这篇内容对你有帮助：https://leetcode.kf5.com/hc/kb/article/1194344/。后续刷题学习中遇到困难，可通过阅读「题解」解决做题中的一些困惑，找找思路哦。

[2020-04-04 00:34] #100 closed

[2020-04-04 00:37] feiceh commented on #101
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-04-04 02:09] mengzhaoyi0216 opened #103 "删除排序数组中的重复项,超出时间限制"
** 超出时间限制**
- [ ] 题目
- [ ] 题解
- [ ] java

**描述**
26. 删除排序数组中的重复项，
给定一个排序数组，你需要在 原地 删除重复出现的元素，使得每个元素只出现一次，返回移除后数组的新长度。
不要使用额外的数组空间，你必须在 原地 修改输入数组 并在使用 O(1) 额外空间的条件下完成。
来源：力扣（LeetCode）
链接：https://leetcode-cn.com/problems/remove-duplicates-from-sorted-array
著作权归领扣网络所有。商业转载请联系官方授权，非商业转载请注明出处。

我觉得我写对了，自己运行和执行代码测试都通过了，提交就说超出时间限制。

**你使用的语言**
java

**你提交或者运行的代码**
[code]

**期望行为**
我觉得我写对了，应该是成功才对

**屏幕截图

[2020-04-04 04:11] SpaIns commented on #102
Not leetcode staff, but you interpreted the problem wrong. When finding an endless loop, you return False, not continue forever.

[2020-04-04 04:31] CooperCooperCooper commented on #95
Hi @basicbang0x,
Thank you for your time. Our team is considering your feedback. But since this issue is not within the content-issue scope, I will be closing this ticket now. Please feel free to reach out to us via the technical support channel here: https://support.leetcode.com/hc/en-us. We appreciate your support and understanding.

[2020-04-04 04:31] #95 closed

[2020-04-04 04:51] CooperCooperCooper commented on #99
Hi @mmalu,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-04 08:58] 819635822 commented on #103
超出时间限制，复杂度太高了，还是想想怎么优化吧，人家也不能拿服务器给你一直跑啊

[2020-04-04 14:39] never-fade-away opened #104 "有效的数独测试用例给的有问题"
** Bug 类型**
- [ ] 题目
#36 有效的数独
- [ ] 题解
- [ ] 编程语言

**描述**
描述你遇到的 bug
大概#470个用例
[[".",".",".",  ".","5",".", ".","1","."],
[".","4",".",  "3",".",".",  ".",".","."],《====
[".",".",".",  ".",".","3",    ".",".","1"],《====
["8",".",".",".",".",".",".","2","."],
[".",".","2",".","7",".",".",".","."],
[".","1","5",".",".",".",".",".","."],
[".",".",".",".",".","2",".",".","."],
[".","2",".","9",".",".

[2020-04-05 01:46] feiceh commented on #103
建议再仔细调试一下代码，刷题学习中遇到困难，可通过阅读「题解」解决做题中的一些困惑，看看别人的解题思路。

[2020-04-05 01:46] #103 closed

[2020-04-05 02:01] feiceh commented on #104
能否提供一下代码和「执行代码」的输出或「提交代码」的结果截图，把信息提供完整才能有助于快速验证和精准的定位哟～

[2020-04-05 07:17] xmcgcg opened #105 "460. LFU缓存 题目描述翻译不完整"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
英文描述定义了【项目的使用次数】：

这一段在中文版中没有翻译。

**期望行为**
在【进阶】部分前补充一段翻译：

[2020-04-05 11:58] 201722111112029 commented on #104
我的问题，不好意思，测试用例没错，这个题目我copy题目上输入的测试用例，结果编译一直报错，这就很扎心呢，去掉空格写成3行就行了，这可太难呢。
bool isValidgroup(int *arr, int* arrSize) {
    int i,j;
    bool flag = true;
    for (i=0; i<*arrSize; i++) {
        for (j=i+1; j<*arrSize; j++) {
            if (arr[i]==arr[j]) {
                flag=false;
                break;
            }
        }
        if (!flag) break;
        arr[i] = 0;
    }
    *arrSize = 0

[2020-04-06 00:57] sahajb opened #106 "Inconsistent description and hints"
[1406. Stone Game III](https://leetcode.com/problems/stone-game-iii/)

Description:

Assume Alice and Bob play optimally.

Return "Alice" if Alice will win, "Bob" if Bob will win or "Tie" if they end the game with the same score.

Hint:

1. The game can be mapped to minmax game. Alex tries to maximize the total score and Lee tries to minimize it.

2. Use dynamic programming to simulate the game. I

[2020-04-06 03:14] naco-siren opened #107 "Incorrect test case?"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
122. Best Time to Buy and Sell Stock II
Test case:
<img width="433" alt="image" src="https://user-images.githubusercontent.com/8222638/78519970-c77fa180-7779-11ea-95c2-c988bb44f459.png">

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
stock price: `[

[2020-04-06 03:55] naco-siren commented on #107
Damn I mistook it with the followup III

[2020-04-06 03:55] #107 closed

[2020-04-06 09:15] nankingrider opened #108 "146 LRU缓存机制 提交后显示超过限制时间, 但是测试例 18/18 都显示通过, 具体哪一个测试例超时可以给出吗?"
** Bug 类型**
- [1 ] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
146 LRU缓存机制 提交后显示超过限制时间, 但是测试例 18/18 都显示通过, 具体哪一个测试例超时可以给出吗?

**你使用的语言**
C

**你提交或者运行的代码**
[code]

**期望行为**
如果测试时有用例超时, 请给出具体的测试例以便于调试优化代码

**屏幕截图**
![image](https://user-images.githubusercontent.com/8529346/78547362-92cf2100-7831-11ea-9ab7-351665357c08.png)

**额外的上下文**
添加额外的上下文信息

[2020-04-06 10:04] nankingrider commented on #108
试了一下评论中的某一个c代码, 描述是可以跑出 188ms 的, 复制到代码又跑了一下
仍然提示  超过时间限制

所以感觉是否是后台判题程序出了问题

请核查一下谢谢

[2020-04-06 10:06] nankingrider commented on #108
哦对了

英文题目中 Set or insert the value if the key is not already present

并没有被完整翻译至中文题干, 请一并核查

[2020-04-06 10:54] nazariyv opened #109 "Group Anagrams Test Case"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
This is about [group anagrams](https://leetcode.com/problems/group-anagrams/) problem.
Test case: ["",""] is incorrect. Your output is [["",""]], but should be [[""]] because in Python3 ["",""] means length 2 list with 2 empty string elements, i.e. ["",   ""]. The input should be ['"",""'], i.e. wrap the inp

[2020-04-06 16:52] dopheide commented on #102
I had this same mis-interpretation of the instructions.  Unfortunately, my misunderstanding was reenforced by the output from running the code (which you can force my inserting an unending loop).  Your result is "Time Limit Exceeded", but down in expected answer it also says "Time Limit Exceeded", so it seems like that's what I wanted to happen.

I think this confusion could be resolved by showing

[2020-04-06 21:20] CooperCooperCooper commented on #99
Hi @mmalu,
Thank you for your suggestion! Your idea was used to improve the article.

[2020-04-06 21:20] #99 closed

[2020-04-06 21:24] CooperCooperCooper commented on #102
Hi @rankinchristopher, @SpaIns, and @dopheide,
Thank you for your feedback! The problem statement is now updated.

[2020-04-06 21:24] #102 closed

[2020-04-06 21:27] CooperCooperCooper commented on #96
Hi @SkandaB,
Thank you for your time. We've updated the problem base on your feedback and you should see the updated changes when trying this problem again.

[2020-04-06 21:27] #96 closed

[2020-04-06 21:38] CooperCooperCooper commented on #106
Hi @sahajb,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-04-06 21:39] CooperCooperCooper commented on #109
Hi @nazariyv,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-07 03:27] #104 closed

[2020-04-07 04:09] TanakaSakana opened #110 "System recognized as wrong answer, no matter it is correct #Problem 49"
**What kind of the bug**
- [x] solution

**Describe the bug**
System recognized as wrong answer, no matter it is correct #Problem 49

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
It supposed to pass the test case as though the output is the same in different order

**Screenshots**
Submission snapshot
https://leetcode.com/submissions/deta

[2020-04-07 05:33] ruichuntao opened #111 "网站bug，非某个题目bug"
- [ ] ** Bug 类型**

- [ ] 题目
- [x] 题解
- [ ] 编程语言

**描述**
使用代理，登录状态会消失，这个反馈过了，没有用。
搜索题解的时候，选择标签“java”，翻页就会消失

**你使用的语言**
java

**你提交或者运行的代码**
[code]

**期望行为**
描述你期望的结果

**屏幕截图**
添加屏幕截图辅助我们帮你定位问题

**额外的上下文**
添加额外的上下文信息

[2020-04-07 06:54] feiceh commented on #111
感谢反馈，该问题已转给相关团队后期会持续优化，给您带来的不便敬请谅解。Github 仓库只用于反馈大家在本站学习过程中遇到的题目和题解问题，请知晓～

[2020-04-07 06:54] #111 closed

[2020-04-07 06:55] tyOjasvi opened #112 "49. Group Anagrams"
**What kind of the bug**
Correct answer fails testcase
- [49.] Group Anagrams
- [ ] https://leetcode.com/playground/uAmmYtfq/live
- [ ] JAVA (English)

**Describe the bug**
The question says any order is allowed, but still my code does not pass. All the elements are the same, just the order differs from the excepted output. My answer also forms the same elements, just the order is different, which

[2020-04-07 08:22] feiceh commented on #105
已作补充～

[2020-04-07 08:22] #105 closed

[2020-04-07 08:26] feiceh commented on #108
感谢反馈，此问题已转给技术团队会尽快确认的，题目反馈问题已作补充～

[2020-04-07 08:27] feiceh commented on #108
感谢反馈，此问题已转给技术团队会尽快确认的，题目翻译问题已作补充～

[2020-04-07 12:08] bkchoi1214 opened #113 "wrong test case for connected server problem"
**What kind of the bug**
- [ ] problem
- [ x] solution
- [ ] language

**Describe the bug**

https://leetcode.com/problems/count-servers-that-communicate/
[[1,0,0,1,0],[0,0,0,0,0],[0,0,0,1,0]]

to me, they look like three isolated computers which are not connected at all. so the answer should be 0 just like the sample test case in the problem description
--

**what language is your code written in

[2020-04-07 12:10] bkchoi1214 opened #114 "wrong test case for validate binary tree nodes"
**What kind of the bug**
- [ ] problem
- [ x] solution
- [ ] language

**Describe the bug**
https://leetcode.com/problems/validate-binary-tree-nodes/

2
[-1,0]
[-1,-1]

0 index of left and right children says -1 which means the root node (0) doesn't have any children.
how is this right? I think this test case is a contradiction.

**what language is your code written in**
C++

**The code you submit

[2020-04-07 14:29] jaykishanmehta opened #115 "More description required"
**What kind of the bug**
- [ ] language

**Describe the bug**
I've seen a note "Bonus points if you could solve it both recursively and iteratively." while working on tree chapter. Based on the note I've solve the same problem twice but I didn't receive any extra point.
You can see the same on following link, Note(Link is open based on your progress)
[](https://leetcode.com/explore/learn/card/data

[2020-04-07 18:20] timmliu opened #116 "Run Code/Submit returning incorrect value for code (javascript)"
**What kind of the bug**
- [ ] problem
- [x] solution
- [x] language

**Describe the bug**
I am doing the 30-day challenge. I noticed on the Move Zeroes problem (Week 1 problem 4), both the Run Code and Submit buttons say that my answer is wrong and returns [0,1,0,3,12], but when I run the code in Chrome dev tools or any other javascript or Node repl, the return value is the correct [1,3,12,0,0].

[2020-04-07 19:48] CooperCooperCooper commented on #106
Hi @sahajb,
Thank you for your time. We've updated the problem hint accordingly.

[2020-04-07 19:48] #106 closed

[2020-04-07 19:49] CooperCooperCooper commented on #110
Hi @TanakaSakana,
Thank you for reaching out to us! I've relayed your issue to our engineers to investigate.

[2020-04-07 19:54] sahajb commented on #106
Thank you for the update @CooperCooperCooper
How do I claim the reward for this?

[2020-04-07 21:01] i-to opened #117 "Stock market - zero price in test cases"
**What kind of the bug**
- [x] problem
- [x] solution
- [ ] language

**Describe the bug**
Problem: [Best Time to Buy and Sell Stock II](https://leetcode.com/problems/best-time-to-buy-and-sell-stock-ii)

The solution below failed the following case: `[2,1,2,0,1]`.

The problem description doesn't specify any restrictions on price value. Therefore, it is reasonably to assume that the price is stric

[2020-04-07 21:06] CooperCooperCooper commented on #112
Hi @tyOjasvi,

Thank you for reaching out to us! I've filed this issue to our team to investigate.

[2020-04-07 21:09] CooperCooperCooper commented on #113
Hi @bkchoi1214,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-07 21:11] CooperCooperCooper commented on #114
Hi @bkchoi1214,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-07 21:15] CooperCooperCooper commented on #115
Hi @jaykishanmehta,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-07 21:19] CooperCooperCooper commented on #116
Hi @timmliu,
Thank you for reaching out to us. If you take a deeper look at the code definition, it states "@return {void} Do not return anything, modify nums in-place instead". Please update your code accordingly. We appreciate your time and support.

[2020-04-07 21:19] #116 closed

[2020-04-07 21:33] CooperCooperCooper commented on #117
Hi @i-to,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-07 21:37] CooperCooperCooper commented on #106
Hi @sahajb,
Thank you for your support. We currently provide rewards for problems and test case contribution only. Please check out the reward amount listed on the [Contribution platform](https://leetcode.com/contribute/) for more information. You may also check out our [Bug Bounty](https://leetcode.com/bugbounty/) for the issues eligible for rewards.

[2020-04-07 21:54] sahajb commented on #106
[This](https://imgur.com/a/waPmxW9 ) is a screenshot from [Leetcode](https://leetcode.com/store/) which directs you to feedback repo. If it is a mistake then I think it should be removed.
Thanks for the reply.

[2020-04-08 03:00] ruichuntao commented on #111
那网址bug去哪里反馈呢

[2020-04-08 03:04] feiceh commented on #108
超出时间限制，复杂度太高了，建议再仔细调试优化一下代码。显示问题相关团队后期会持续优化的，感谢您的支持。

[2020-04-08 03:05] #108 closed

[2020-04-08 03:06] feiceh commented on #97
done

[2020-04-08 03:06] #97 closed

[2020-04-08 03:12] feiceh commented on #111
感谢您对力扣网站的支持，如有其他问题，欢迎点击这里（https://support.leetcode-cn.com/hc/request/new/）提交工单反馈，谢谢。

[2020-04-08 04:22] CooperCooperCooper commented on #110
Hi @TanakaSakana,
Thank you for your time. We've taken a look at this issue and found it to be invalid. Both approaches consider that 'boo' and 'bob' are anagrams, and they are not.

[2020-04-08 04:22] #110 closed

[2020-04-08 04:23] CooperCooperCooper commented on #112
Hi @tyOjasvi,
Thank you for your time. We've taken a thorough look at this issue and found it to be invalid. Since there are two appearances of 'pup', it should return ['pup','pup'] instead of ['pup'],['pup'].

[2020-04-08 04:23] #112 closed

[2020-04-08 04:26] CooperCooperCooper commented on #117
Hi @i-to,
Thank you for your time and feedback! It's okay to have zeros as values for this problem. We've updated the problem statement.

[2020-04-08 04:26] #117 closed

[2020-04-08 04:29] CooperCooperCooper commented on #114
Hi @bkchoi1214,
Thank you for your time. We've taken a thorough look and found the issue to be invalid. On that case the root is the node 1 which has as left child the node 0

[2020-04-08 04:29] #114 closed

[2020-04-08 04:35] CooperCooperCooper commented on #113
Hi @bkchoi1214,
Thank you for your time. We've taken a thorough look at this issue. This issue is invalid. The return is an integer number, not a boolean return. Please double-check the problem again.

[2020-04-08 05:06] TanakaSakana commented on #110
Thank you for your kindly response

[2020-04-08 05:40] kumropotash opened #118 "Run Time Error for any code I run"
**What kind of the bug**
- [ ] problem
I am always seeing run-time error for the below program. It will be really helpful to tell me what is going wrong here. I don't see any issue when I run it using gcc standalone in my pc.

**Describe the bug**
See above

**what language is your code written in**
C

**The code you submit/run**
int pivotIndex(int* nums, int numsSize)
{
int i = 0;
//int index = 0

[2020-04-08 08:27] kmlrj commented on #118
@kumropotash, the for loop you are using, supposed to end at `numsSize - 1`. Look you are accessing `nums[numsSize]` which is beyond the allocated memory.

[2020-04-08 12:40] bkchoi1214 commented on #113
well it was my typo. I meant 0 instead of boolean. what I actually meant is that [[1,0,0,1,0],[0,0,0,0,0],[0,0,0,1,0]] should return 0 not 3.

[2020-04-08 12:41] bkchoi1214 commented on #113
can you please reopen this and take a look at it

[2020-04-08 12:46] bkchoi1214 opened #119 "invalid test case for connected server problem"
**What kind of the bug**
- [ *] problem
- [ ] solution
- [ ] language

**Describe the bug**
https://leetcode.com/problems/count-servers-that-communicate/
[[1,0,0,1,0],[0,0,0,0,0],[0,0,0,1,0]]

to me, they look like three isolated computers which are not connected at all. so the answer should be 0 just like the sample test case in the problem description

**what language is your code written in**
C

[2020-04-08 12:48] mmalu opened #120 "An alternate constant space solution for 994. Rotting Oranges"
https://leetcode.com/problems/rotting-oranges/discuss/569248/Alternate-approach-BFS-O(N-*-Height)-but-constant-space-easy-to-understand-and-modular-code.

[2020-04-08 12:49] mmalu commented on #120
Runtime: 2 ms, faster than 98.08% of Java online submissions for Rotting Oranges.
Memory Usage: 39.1 MB, less than 81.25% of Java online submissions for Rotting Oranges.

[2020-04-08 12:51] bkchoi1214 opened #121 "invalid test case for validate binary tree node"
**What kind of the bug**
- [ *] problem
- [ ] solution
- [ ] language

**Describe the bug**
https://leetcode.com/problems/validate-binary-tree-nodes/

2
[-1,0]
[-1,-1]

The first index of the left and right child is both -1 which means the root doesn't have any children.
how can it be a valid binary tree?

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expecte

[2020-04-08 12:52] #121 closed

[2020-04-08 16:00] desoukya opened #122 "[Binary Tree Maximum Path Sum] Individual test case passes but fails against test suite"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Problem: Binary Tree Maximum Path Sum

Individual test case passes for input `[0]` (Run Code). However, when submitting the solution, the same test case - input `[0]` - fails in the test suite.

According to the details:
7 / 93 test cases passed.

Perhaps the issue is related to the global variable not prope

[2020-04-08 17:02] mdtareque opened #123 "[P287] ExampleAnimation in Solution should be updated to remove confusion"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
In *Approach #3 Floyd's Tortoise and Hare (Cycle Detection) [Accepted]*, the example used in the animation is creating confusion to many readers (check comment section of that solution).

There are 2 parts to this solution, the first is to find the cycle and second is to find the intersection.

The example u

[2020-04-08 17:45] CooperCooperCooper commented on #118
Hi @kumropotash,

Thank you for reaching out to us. @kmlrj has a good point in the comment above. The "Runtime Error" With AddressSanitizer in the description means that during your C code runtime, it caught invalid memory access in the code. And the "Wrong Answer" is likely caused by the global/static variable in your code.

[2020-04-08 17:46] #118 closed

[2020-04-08 17:49] CooperCooperCooper commented on #119
Hi @bkchoi1214,
Since we're working with this issue on your [previous submission](https://github.com/LeetCode-Feedback/LeetCode-Feedback/issues/113), I will close this ticket now.

[2020-04-08 17:49] #119 closed

[2020-04-08 17:51] CooperCooperCooper commented on #120
Hi @mmalu,
Thank you for reaching out to us! Since this issue is within the scope of another technical support team, please redirect this issue to our Help Center here: https://support.leetcode.com/hc/en-us. We appreciate your time and support.

[2020-04-08 17:58] CooperCooperCooper commented on #122
Hi @desoukya,
Thank you for reaching out to us! The differences in output between "Run Code" and "Submit" is a popular issue, and we've document its cause and solution in this "[Wrong Answer/Runtime Error for a specific test case](https://support.leetcode.com/hc/en-us/articles/360011834174-I-encountered-Wrong-Answer-Runtime-Error-for-a-specific-test-case-When-I-test-my-code-using-this-test-case-it

[2020-04-08 17:58] #122 closed

[2020-04-08 17:59] CooperCooperCooper commented on #123
Hi @mdtareque,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-08 18:01] desoukya commented on #122
Thanks for the prompt reply @CooperCooperCooper. Seems my intuition above was correct. I'll modify the code by removing the global variable and give that a shot. Thanks again!

[2020-04-08 21:41] SkandaB commented on #96
Thanks for the update @CooperCooperCooper :)

[2020-04-09 01:58] happiness19 opened #124 "542 题解 方法二分析有误"
** Bug 类型**
- [ ] 题目
- [ x] 题解
- [ ] 编程语言

**描述**
题解中算法的第三步：“初始地，对于每个为 0 的节点距离都是 1” 不正确
应为：初始地，对于每个为 0 的节点距离都是 **0**

[2020-04-09 01:59] happiness19 commented on #124
https://leetcode-cn.com/problems/01-matrix/solution/01-ju-zhen-by-leetcode/

[2020-04-09 02:51] feiceh commented on #101
done

[2020-04-09 02:51] #101 closed

[2020-04-09 03:15] CooperCooperCooper commented on #113
Hi @bkchoi1214,
At your request, I've relayed the additional comments you shared with our team to review. The issue was not valid and [here's the explanation](https://leetcode.com/problems/count-servers-that-communicate/discuss/440426/test-case-confusion-for-100100000000010/396266) shared by another user who had the same idea before.

[2020-04-09 03:15] #113 closed

[2020-04-09 03:20] CooperCooperCooper commented on #115
Hi @jaykishanmehta,
Thank you for your time. We've updated the related note accordingly. You can see the updated on that Explore Card or [here in the problem itself](https://leetcode.com/problems/symmetric-tree/). We appreciate your support.

[2020-04-09 03:20] #115 closed

[2020-04-09 03:22] CooperCooperCooper commented on #109
Hi @nazariyv,
Thank you for your time. Please double-check the problem statement. There can be repeated strings and there can be empty strings, so the expected output is correct. We appreciate your time and support.

[2020-04-09 03:22] #109 closed

[2020-04-09 03:43] mmalu commented on #120
Hi @CooperCooperCooper - This is content-related similar to  #99 . Are you sure, this isn't the place?

[2020-04-09 05:07] CooperCooperCooper commented on #120
Hi @mmalu,
My apologies. You're correct, I've relayed this to our team to review.

[2020-04-09 07:18] chacalDefouraille opened #125 "Problem on question 108. Convert Sorted Array to Binary Search Tree"
Hi everyone,

Below is the problem I encountered, it may be a LeetCode problem or a missunderstanding about what a height balanced tree is since it's the first time I hear about this.
I filled up the required fields, thanks in advance for your help :)

**What kind of the bug**
- [ ] Problem 108. Convert Sorted Array to Binary Search Tree

**Describe the bug**
When I run the code, it says the answe

[2020-04-09 09:22] jaykishanmehta commented on #115
It got changed. Not looking good.

But will I receive any LeetCoin as a part of Contribution Missions shown on
the leetcode store https://leetcode.com/store/ ?

Please let me know the detail as well.

Thanks & Regards,
Jaykishan Mehta
- - - - - - - - - - - - - - - - - - - -
Email: jaykishanmehta1991@gmail.com
Mobile: +91-96014-04435

On Thu, 9 Apr 2020 at 08:50, CooperCooperCooper <notifications@g

[2020-04-09 12:49] hairman123 opened #126 "【严重题目漏洞】115. 不同的子序列 题目漏洞"
**Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
题目 [115.不同的子序列](https://leetcode-cn.com/problems/distinct-subsequences/) 题目描述有严重漏洞
**1、在题目描述中，没有任何关于”答案可能超过 int 的范围“ 的提示，但是出现了答案超 int 范围的测试用例（[用例链接](https://leetcode-cn.com/submissions/detail/61323966/testcase/) ）**
**2、在题目描述中，没有指出当答案超出 int 的范围后，应如何处理（如模 10^9 + 7 或 模 2^31-1）**
**3、判题程序当前的做法是，如果答案超出 int 的范围，直接将 long 转换为 int 了。这样做是不严谨的。严谨的做法应该是模 10^9 +

[2020-04-09 17:51] CooperCooperCooper commented on #125
Hi @chacalDefouraille,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-09 22:12] CooperCooperCooper commented on #125
Hi @chacalDefouraille,
Thank you for your time. Our team took a look at your code and found it still needs to work on the binary search property. I found [this post with a thorough explanation for Java code](https://leetcode.com/problems/convert-sorted-array-to-binary-search-tree/discuss/128430/Java-Solution-beats-100-Short-and-Explained) that might help with fixing the issue. Please check it out.

[2020-04-09 22:12] #125 closed

[2020-04-09 22:13] CooperCooperCooper commented on #96
Hi @SkandaB,
Anytime! If you're interested in claiming a reward for contributing a valid issue to Github, please share your username and this issue with us on the [Tech Support Channel](https://support.leetcode.com/hc/en-us).

[2020-04-09 22:17] CooperCooperCooper commented on #106
Hi @sahajb,
Apologies! You've got great eyes! We received your support ticket on Zendesk. Please respond to that ticket and we will uniformly continue with the reward over there. Thank you for your support.

[2020-04-09 22:46] sahajb commented on #106
Thank you for the update @CooperCooperCooper
I have replied to that ticket on the support channel

[2020-04-10 01:52] chacalDefouraille commented on #125
Thank you @CooperCooperCooper
I didn't know about the binary search property but I found the explanation on internet.
So my tree was only height balanced but not BST. Now I know why the answer was wrong.
Thanks for your help.

[2020-04-10 02:45] feiceh commented on #126
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-04-10 05:50] IsolatedRain opened #127 "面试题 10.03. 搜索旋转数组_测试程序好像不太对"
面试题 10.03. 搜索旋转数组: [题目链接](https://leetcode-cn.com/problems/search-rotate-array-lcci/)
使用以下测试用例的时候, 应该返回 5, 但是预期结果却为 -1
`[1,1,1,1,1,2,1,1,1]
2
`

[2020-04-10 06:08] kumropotash commented on #118
@kmlrj  thank you

[2020-04-10 07:07] feiceh commented on #127
能否提供一下代码和「执行代码」的输出或「提交代码」的结果截图，把信息提供完整才能有助于快速验证和精准的定位哟～

[2020-04-10 08:37] 375C opened #128 "445. Add Two Numbers II 编译异常"
** Bug 类型**
- [ ] 题目
- [x] 题解
- [ ] 编程语言

**描述**
提交代码测试时，总会报莫名其妙的编译错误，相同代码在gcc 5.4.0上编译无误，测试结果也正常。
即使修改测试用例，编译通过时，测试结果也与代码逻辑完全无法匹配。
测试用例：
[7,2,4,3]
[5,6,4]
错误提示：
Line 36: Char 17: runtime error: member access within null pointer of type 'struct ListNode' (solution.c)

**你使用的语言**
C

**你提交或者运行的代码**
[code]

**期望行为**
正常编译通过，如果因为某些命名冲突导致的编译异常的话，想了解下原因

[2020-04-10 09:43] feiceh commented on #128
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-04-10 09:56] feiceh commented on #128
您好，技术测试反馈 LeetCode 平台没有问题，另外这是执行出错，不是编译出错。
建议再仔细调试优化一下代码，后续刷题学习中遇到困难，可通过阅读「题解」解决做题中的一些困惑，也可至 力扣圈子（https://leetcode-cn.com/circle/discussions/questions/?orderBy=HOTTEST&query=） 进行题目交流，以获得更好的支持哟～

[2020-04-10 09:57] #128 closed

[2020-04-10 10:00] feiceh commented on #127
fixed

[2020-04-10 10:00] #127 closed

[2020-04-10 10:01] feiceh commented on #126
fixed

[2020-04-10 10:01] #126 closed

[2020-04-10 10:05] feiceh commented on #124
fixed

[2020-04-10 10:05] #124 closed

[2020-04-10 19:18] SherryXiaoyingLi opened #129 "Code submission results unmatched with sample test cases results"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
After I wrote my code and ran with the sample test case once, that test case generated a correct ouput value. However, when I next submitted the same code to run all test cases of the problem, I always got wrong answer, and the wrong answer was, regardless of the inputs of the current test case, the same as

[2020-04-10 22:33] SherryXiaoyingLi commented on #129
Sorry, as I was trying longestConsequtiveSequence of binary tree problem today, I found it still not working, and the error output does not necessarily equal to my previous sample test case output. For instance, here is a screenshot of what I was experiencing. As shown the submit section shows input [1] failed, but sample test case, with input [1] edited, gives the correct output. Can someone help

[2020-04-10 22:47] PegasisForever opened #130 "Wrong Kotlin Default Code Definition in "N-ary Tree XXX Traversal" Problems"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [x] language

**Describe the bug**
Links:
- https://leetcode.com/explore/learn/card/n-ary-tree/130/traversal/925/
- https://leetcode.com/explore/learn/card/n-ary-tree/130/traversal/926/

These questions require you to return a list of values, but the default Kotlin function return type is `Int`.

**what language is your code written in**
Kotl

[2020-04-10 23:22] evgeni-nabokov opened #131 "Incorrect Rust code definition in the 'Min Stack' problem"
**What kind of the bug**
- [*] solution

**Describe the bug**
It is impossible to submit a correct Rust solution, because the grader does not accept `Option<T>` as a result.

**What language is your code written in**
Rust

**The code you submit/run**
[code]

**Expected behavior**
Correct processing of `Option<T>`.

**Additional context**
My suggestions: https://support.leetcode.com/hc/en-us/commun

[2020-04-11 06:25] subham2107 opened #132 "Missing test cases in "Backspace String Compare" problem of leetcode 30 day challenge"
**What kind of the bug**
- [1 ] problem
MISSING TEST CASES

**Describe the bug**
I was doing the "Backspace string compare" problem which is the second problem of week 2 of the 30-day code challenge which is going on right now. My solution got accepted and then I checked with some other test cases then my code was not showing the expected output. So I want to report for missing test cases.

**what

[2020-04-11 09:49] hairman123 opened #133 "The description of [115. Distinct Subsequences] is incomplete"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
The problem [115. Distinct Subsequences] has a testcase and **the answer is greater than INT_MAX**. However, the problem description said nothing about how to deal with it.
(Some other problems use 10^9 + 7 modulo.)
Testcase: https://leetcode.com/submissions/detail/323019181/testcase/

**what language is you

[2020-04-11 10:19] kailankv opened #134 "[1399. Count Largest Group] Possibly Incorrect Test Case"
**One of the test cases for `1399. Count Largest Group` seem to be possibly incorrect**

**Describe the bug**
One test case (**Test Case 4**, `n = 24`) for the problem `1399. Count Largest Group` seems to be possibly incorrect. The expected answer that has been documented for this particular test case is possibly different from the actual answer for this test case, and hence, incorrect.

Let's wal

[2020-04-11 17:13] maxway opened #135 "#35 Default test case can't execute(C#)"
https://leetcode-cn.com/problems/fu-za-lian-biao-de-fu-zhi-lcof/

There is an error when run default test case with language C#

To fix this error either change the JSON to a JSON object (e.g. {"name":"value"}) or change the deserialized type to an array or a type that implements a collection interface (e.g. ICollection, IList) like List<T> that can be deserialized from a JSON array. JsonArrayAttr

[2020-04-11 20:07] ttbrunner opened #136 "Diameter of Binary Tree (Python3): Wrong type hint in template"
**What kind of the bug**
- [x] problem
- [x] solution
- [ ] language

**Describe the bug**
In the Python3 template for "Diameter of Binary Tree", there is an incorrect type hint. The method signature looks like this:
`def diameterOfBinaryTree(self, root: TreeNode) -> int:`

The type hint implies that `root` can never be `None` (see specification in [Python PEP 483](https://www.python.org/dev/peps/

[2020-04-12 05:13] ceynri opened #137 "面试题 16.03. 交点 测试用例不完备"
**Bug 类型**
- [ ] 题目
- [x] 题解
- [ ] 编程语言

**描述**
该题中，题目存在条件“若有多个交点（线段重叠）则返回 X 值最小的点，X 坐标相同则返回 Y 值最小的点。”但并没有对重叠线段做到很好的样例覆盖。

**使用语言**
JavaScript

**提交代码**
[code]

**期望行为**
对于个人编写的测试用例：

[code]
正确而言应该得到(0, 0)的结果，但系统返回的预期为(1, 1)

对于：

[code]

应该得到 (1, 2) 的结果，但以上代码给出 (1, 1) 的答案，仍然通过了所有测试样例。

**屏幕截图**
![错误用例1.png](https://s1.ax1x.com/2020/04/12/GLkhp4.png)

![错误用例2.png](https://s1.ax1x.com/2020/04/12/GL

[2020-04-12 11:38] ChenWanyu1207 opened #138 "最长回文子串"
** Bug 类型**
题解

题目：给定一个字符串 s，找到 s 中最长的回文子串。你可以假设 s 的最大长度为 1000。

**你使用的语言**
python

**你提交或者运行的代码**
class Solution(object):
    def longestPalindrome(self, s):
        """
        :type s: str
        :rtype: str
        """
        windows=""
        a=""
        dicts={}
        answer=[]
        for s1 in s:
            if s1 not in windows:
                windows+=s1
            else:

[2020-04-12 15:16] WSGsety opened #139 "面试题16.03.交点测试用例不完善"
** Bug 类型**
- [ 面试题16.03] 题目
- [x] 题解
- [ Java] 编程语言

**描述**
描述你遇到的 bug

**你使用的语言**
Java

**你提交或者运行的代码**
[code]

**期望行为**
在题解中看到的解法
发现在
[0,-1]
[0,1]
[-1,1]
[1,3]
这个例子的时候，没交点，但是输出[0,2]
**屏幕截图**

**额外的上下文**
 // 一条垂直于x轴的直线
这个情况会出现错误

[2020-04-12 15:52] lih627 opened #140 "LeetCode 149 直线上最多的点数官方题解Python代码报错"
** Bug 类型**
- [ ] 题目
- [x] 题解
- [x] 编程语言

**描述**
LeetCode 149 [官方题解](https://leetcode-cn.com/problems/max-points-on-a-line/solution/zhi-xian-shang-zui-duo-de-dian-shu-by-leetcode/) Python代码现在无法运行

原因是之前的输入格式为
[code]
后来更新为
[code]

**原本的代码**
[code]

**可以通过的代码**

如果套用题解需要对现在的输入数据额外加一些转换, 即从`List[int]` 转化成`point`
我测试了下, 这个是可以通过的.
[code]

[2020-04-12 18:00] PsiACE commented on #140
非常感谢您的反馈。目前我们有一部分题解正在同步更改，149 已经加入到列表中处理了，一旦完成，我们会及时更新。

[2020-04-12 18:08] PsiACE commented on #138
您好，我看了您提供的测试用例。需要注意的一点是，回文的定义为：正着读和反着读是一致的。而 "abcda" 显然不满足该定义，也许你可以尝试 "abcba" 。

[2020-04-12 21:31] pvp51 opened #141 "Incorrect Test Case for Problem 1209 ?"
**What kind of the bug**
- [ ] problem
- [X] solution
- [ ] language

**Describe the bug**
Incorrect Test Case for Problem 1209 - https://leetcode.com/problems/remove-all-adjacent-duplicates-in-string-ii/. More than 1 output is expected.

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
The output to example 3 can be "ps" or "is", instead ju

[2020-04-13 02:13] Mahdi-Hosseinali opened #142 "Wrong description and test case for problem 1010"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
The problem clearly states "pairs" and `i < j`, so [60,60] has only 1 pair where `i<j` but the expected answer is 2 which is wrong. If it is assumed that one of the conditions is relieved, then the expected answer to the following test case is wrong: `[418,204,77,278,239,457,284,263,372,279,476,416,360,18]`.

[2020-04-13 03:45] feiceh commented on #137
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-04-13 03:46] #138 closed

[2020-04-13 03:48] feiceh commented on #139
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-04-13 08:47] 375C opened #143 "每日一题，设计推特"
** Bug 类型**
- [ ] 题目
- [X] 题解
- [ ] 编程语言

**描述**
提交代码时，显示执行结果错误。使用错误时的测试用例在控制台单次执行代码，进行测试时，得到的结果又是正确的。
测试用例：
["Twitter","postTweet","postTweet","postTweet","postTweet","postTweet","postTweet","postTweet","postTweet","postTweet","postTweet","getNewsFeed","follow","getNewsFeed"]
[[],[2,5],[1,3],[1,101],[2,13],[2,10],[1,2],[2,94],[2,505],[1,333],[1,22],[2],[2,1],[2]]
提交代码反馈错误，结果为：
[null,null,null,nul

[2020-04-13 09:33] #143 closed

[2020-04-13 13:22] Zhenghao-Liu opened #144 "365.水壶问题"
**Bug 类型**
- [x] 题解

**描述**
356.水壶问题
不知道是不是增加了测试案例的原因，现在dfs bfs的做法都在最后一个案例超时了，无论是官方题解还是精选题解的代码不用数学的做法都没过

**你使用的语言**
C++

**你提交或者运行的代码**
[code]

**期望行为**
优化题解代码

**屏幕截图**
![image](https://user-images.githubusercontent.com/37463792/79123298-6d5f8b80-7dcc-11ea-95c7-9c8cd5d0bee8.png)

**额外的上下文**

[2020-04-13 16:29] zzilcc opened #145 "198:打家劫舍"
![image](https://user-images.githubusercontent.com/18416922/79138295-dfdd6500-7de6-11ea-93b1-50bc042f4d4f.png)
这道题意义不好，假设是专业的小偷？？？？？？？
还有打家劫舍2，打家劫舍3，建议删除

[2020-04-13 23:18] CooperCooperCooper commented on #120
Hi @mmalu,
Thank you for your time. The article is in our queue to be completely rewritten, your contribution is noted down and will be used. Please share your username and this GitHub issue to us on our main [Support Channel](https://support.leetcode.com/hc/en-us) to claim your content contribution reward. We appreciate your support.

[2020-04-13 23:18] #120 closed

[2020-04-13 23:23] CooperCooperCooper commented on #129
Hi @SherryXiaoyingLi,

Thank you for reaching out to us! The reasons and solutions for different "outputs" from "Run Code" and "Submit" are well documented in this [ARTICLE](https://support.leetcode.com/hc/en-us/articles/360011834174-I-encountered-Wrong-Answer-Runtime-Error-for-a-specific-test-case-When-I-test-my-code-using-this-test-case-it-produced-the-correct-output-Why-). Please check it out.

[2020-04-13 23:23] #129 closed

[2020-04-13 23:25] CooperCooperCooper commented on #130
Hi @PegasisForever,

Thank you for reaching out to us. I've relayed your feedback to our team to investigate.

[2020-04-13 23:32] CooperCooperCooper commented on #131
Hi @evgeni-nabokov,
Thank you for reaching out to us! I've relayed your feedback to our engineers to investigate.

[2020-04-13 23:43] CooperCooperCooper commented on #133
Hi @hairman123,
Thank you for reaching out to us! I've relayed your feedback to our team to investigate.

[2020-04-13 23:48] CooperCooperCooper commented on #134
Hi @kailankv,
Thank you for reaching out to us. I've relayed your feedback to our team to investigate.

[2020-04-13 23:50] CooperCooperCooper commented on #135
Hi @maxway,
Thank you for reaching out to us. To help us assess this issue, can you please share the submission code with us so we can take a deeper look?

[2020-04-13 23:58] CooperCooperCooper commented on #136
Hi @ttbrunner,
Thank you for reaching out to us! I've relayed your feedback to our team to investigate.

[2020-04-14 00:07] CooperCooperCooper commented on #141
Hi @pvp51,
Thank you for reaching out to us! I've relayed your feedback to our team to investigate.

[2020-04-14 00:09] CooperCooperCooper commented on #132
Hi @subham2107,
Thank you for your time. We've used your feedback to update the statement.

We appreciate your support. Please reach out to our [main support channel ](https://support.leetcode.com/hc/en-us) to share your username + this ticket with us to claim your LeetCoin reward for reporting this content issue!

[2020-04-14 00:09] #132 closed

[2020-04-14 00:12] CooperCooperCooper commented on #142
Hi @Mahdi-Hosseinali,
Thank you for reaching out to us! I've relayed your issue with our team to investigate.

[2020-04-14 02:39] feiceh commented on #144
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-04-14 02:41] feiceh commented on #145
感谢反馈，该问题已转给相关团队后期会持续优化，给您带来的不便敬请谅解。Github 仓库只用于反馈大家在本站学习过程中遇到的题目和题解问题，请知晓～

[2020-04-14 02:42] #145 closed

[2020-04-14 03:27] feiceh commented on #139
fixed

[2020-04-14 03:27] #139 closed

[2020-04-14 03:27] feiceh commented on #137
fixed

[2020-04-14 03:27] #137 closed

[2020-04-14 04:58] CooperCooperCooper commented on #133
Hi @hairman123,
Thank you for your time. We've used your feedback to update the statement.

We appreciate your support. Please reach out to our [main support channel](https://support.leetcode.com/hc/en-us) to share your username + this ticket with us to claim your LeetCoin reward for reporting this content issue!

[2020-04-14 04:59] CooperCooperCooper commented on #134
Hi @kailankv,
Thank you for your time. The feedback is incorrect, since 19 belongs to the group count of 10.

[2020-04-14 04:59] #134 closed

[2020-04-14 05:01] CooperCooperCooper commented on #142
Hi @Mahdi-Hosseinali,
Thank you for your time. The assumption and test case mentioned in this issue were incorrect. However, we've updated the problem statement to help users understand the problem better, so it's less confusing now.

[2020-04-14 05:01] #142 closed

[2020-04-14 05:54] feiceh commented on #140
您好，该问题当前已修复，请稍后刷新网页再试试～

[2020-04-14 05:54] #140 closed

[2020-04-14 06:35] hairman123 commented on #133
But the problem still has a testcase
[code]
and the answer is **NOT** fits on a 32-bit signed integer; It's **GREATER** than INT_MAX.

[2020-04-14 06:55] subham2107 commented on #132
how to share this?

On Tue, Apr 14, 2020 at 5:40 AM CooperCooperCooper <notifications@github.com>
wrote:

[2020-04-14 21:00] CooperCooperCooper commented on #141
Hi @pvp51 ,

Thank you for your time. Since there are 4 occurrences of 'i' and since k = 2 at the end of the process,  there can only be 4, 2 or 0 occurrences of 'i'. Your answer has 1 occurrence of 'i', therefore your code is buggy. Hope this helps!

[2020-04-14 21:00] #141 closed

[2020-04-14 21:13] CooperCooperCooper commented on #136
Hi @ttbrunner,
Thank you for your time! We really appreciate this feedback and will be using this feedback to improve the problem. We found out this change will affect more than one problem, so we will close this ticket for now and fix all of these problems at once.

We would love to share the valid content issue LeetCoin reward with your account for this contribution. Please reach out to our [mai

[2020-04-14 21:13] #136 closed

[2020-04-14 21:15] CooperCooperCooper commented on #130
Hi @PegasisForever,
Thank you for your time! We've updated the problem accordingly. We would love to share the valid content issue LeetCoin reward with your account for this contribution. Please reach out to our [main Support Channel](https://support.leetcode.com/hc/en-us) with your username and this ticket to claim the reward!

[2020-04-14 21:15] #130 closed

[2020-04-15 08:59] ttbrunner commented on #136
Cheers :)

[2020-04-15 11:14] leet212 opened #146 "127. Word Ladder missing test cases"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
The solution got accepted but it should fail as it does not cover the following testcase:

"ymain"
"oecij"
[ "ymann", "yycrj", "oecij", "ymcnj", "yzcrj", "yycij", "xecij", "yecij", "ymanj", "yzcnj", "ymain"]

**What language is your code written in**
Python

**The code you submit/run**
[code]

**Expected beh

[2020-04-15 11:40] chenxygh opened #147 "63. 不同路径 II 的一个测试用例不是很合适"
** Bug 类型**
- [+] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
`[[0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1],[0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0],[1,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,1],[0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0],[0,0,0,1,

[2020-04-15 14:01] Dhru1Tanna opened #148 "Code Execution returns a stale output even though nothing is returned from the main function"
**What kind of the bug**
- [X] problem
- [ ] solution
- [ ] language

**Describe the bug**
While doing [first problem](https://leetcode.com/explore/featured/card/recursion-i/250/principle-of-recursion/1440/) from the recursive section I found a problem that the code execution is giving me wrong answers. I tried to print the variable I am returning and the Stdout gives the answer are what is expect

[2020-04-15 15:10] maxway commented on #135
public Node CopyRandomList(Node head) {
        return new Node(0, null, null);
    }

or just

    public Node CopyRandomList(Node head) {
        return null;
    }

can reproduce this bug on my side.

[2020-04-16 00:35] CooperCooperCooper commented on #148
Hi @Dhru1Tanna,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-16 00:41] CooperCooperCooper commented on #146
Hi @leet212,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-16 02:39] feiceh commented on #147
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-04-16 03:32] feiceh commented on #135
fixed

[2020-04-16 03:32] #135 closed

[2020-04-16 03:37] feiceh commented on #144
你好，这题没什么问题。本来搜索就不是这题的最优做法，需要优化代码才能过～

[2020-04-16 03:38] #144 closed

[2020-04-16 03:40] feiceh commented on #147
你好，该题只是中间结果会溢出，当前不做改动。我们会在后续的版本不断更新优化和提升我们的产品，给大家带来最佳的用户体验。

[2020-04-16 03:40] #147 closed

[2020-04-16 04:12] AlainConnor opened #149 "面试题26. 树的子结构 LCOF"
**Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
题目：面试题26. 树的子结构
链接：https://leetcode-cn.com/problems/shu-de-zi-jie-gou-lcof/
问题：网站的测试用例不全，导致错误的代码也能通过提交。

**你使用的语言**
Python3，但该问题与语言无关

**你提交或者运行的代码**
[code]

**期望行为**
输入：
[4,2,3,4,5,6,7,8,9]
[4,8,9]
正确预期返回：true
上述代码返回：false

**额外的上下文**
上面的代码取自Python3语言运行时间最快的代码，具有非常强的误导性。
![image](https://user-images.githubusercontent.com/11713682/79413757-65296b00-7

[2020-04-16 04:21] chenxygh commented on #147
那好的， 了解了， 谢谢回复。

[2020-04-16 05:43] feiceh commented on #149
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-04-16 12:22] ChinaMJ opened #150 "622. 设计循环队列"
** Bug 类型**
- [X] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
怀疑测试用例有问题
控制台显示我的答案：[null,false,4,4,true,true,5,true,-1,false,false,false]
控制台的正确答案：[null,true,6,6,true,true,5,true,-1,false,false,false]
我在本地测试的答案：[null,true,6,6,true,true,5,true,-1,false,false,false]

**你使用的语言**
Python 3

**你提交或者运行的代码**
[code]

**期望行为**
不知道是不是那道题的判定服务器有问题

**屏幕截图**
这是判定服务器的结果：
![image](https://user-images.githubusercontent.com/412

[2020-04-16 15:03] kobe24o opened #151 "全部通过测试，显示超时"
** Bug 类型**
- [ ] 题目 面试题 17.25. 单词矩阵
- [ ] 题解
- [ ] 编程语言cpp

**描述**
https://leetcode-cn.com/submissions/detail/63442147/
全部通过测试，告诉我超时了

**你使用的语言**
C++

**你提交或者运行的代码**
[code]

**期望行为**
描述你期望的结果

**屏幕截图**
添加屏幕截图辅助我们帮你定位问题

**额外的上下文**
添加额外的上下文信息

[2020-04-16 20:58] CooperCooperCooper commented on #146
Hi @leet212,
Thank you for your time! We've used your test case contribution to improve our problem! To claim your reward for this contribution, please reach out to our [main support channel](https://support.leetcode.com/hc/en-us) with your username and this ticket. We appreciate your time and support!

[2020-04-16 20:58] #146 closed

[2020-04-16 21:01] CooperCooperCooper commented on #131
Hi @evgeni-nabokov,
Thank you for your time! We've found some viable Rust solutions in the problem discuss section. Please check out this [Rust solution with 0ms post](https://leetcode.com/problems/min-stack/discuss/345588/Rust-solution%3A-0ms) and this [One stack Rust solution post](https://leetcode.com/problems/min-stack/discuss/350778/My-Rust-solution-using-one-stack). We appreciate your time a

[2020-04-16 21:02] CooperCooperCooper commented on #148
Hi @Dhru1Tanna,
Thank you for your time. The code definition for this problem specifies that the solution should "modify s in-place" and "do not return anything". Please try them out. We appreciate your support.

[2020-04-16 21:02] #148 closed

[2020-04-16 23:06] evgeni-nabokov commented on #131
Not so fast!
Let me test those so-called "solutions". I am going to write test cases according to the syntax used in the example of the task.
1. https://leetcode.com/problems/min-stack/discuss/345588/Rust-solution%3A-0ms
**Test 1**
[code]
**Test 2**
[code]
**Test 3**
[code]

2. https://leetcode.com/problems/min-stack/discuss/350778/My-Rust-solution-using-one-stack
**Test 1**
[code]
**Test 2**
[cod

[2020-04-16 23:23] lakbham opened #152 "Happy Number challenge issue!!"
I encountered a scenario wherein my code for 'Happy Number' challenge works for all test cases when I run it providing the test cases to run the code. but when I submit the same code, does not work for test case '6'.  I tried it on other IDE's too. It works fine but on Leetcode.com '30 day challenge' the submittal  does not work for test case '6'. I have copied the code below. It says 'wrong answe

[2020-04-17 03:48] feiceh commented on #150
这题测试用例没问题，建议再仔细调试一下代码，也可以阅读「题解」区别人的思路解决做题中的一些困惑。
最后，希望这篇内容对你有帮助：https://leetcode.kf5.com/hc/kb/article/1194344/

[2020-04-17 03:48] #150 closed

[2020-04-17 03:50] feiceh commented on #151
超出时间限制，复杂度太高了，建议再仔细调试优化一下代码。

[2020-04-17 03:50] #151 closed

[2020-04-17 04:19] JinZhenlin opened #153 "[LC-253] Meeting Room II solution not able to be compiled because class not found"
**What kind of the bug**
- [X] problem
- [ ] solution
- [ ] language

**Describe the bug**
It's complaining class not found because name Interval not being resolved. However, Interval class was already defined in definition and problem statement.

**what language is your code written in**
Java 1.8

**The code you submit/run**
[code]

**Expected behavior**
The solution should pass, as I was directl

[2020-04-17 08:33] bytebeats opened #154 "1407. Top Travellers, unrelative descriptions."
Descriptions about Table Rides.

**city_id is the id of the city who bought the product "product_name"** is unrelative about this table, it should be **"user_id is the id of the user who travelled the distance "distance""**

[2020-04-17 14:14] AlainConnor opened #156 "【面试题 01.02. 判定是否互为字符重排】测试用例不全"
**Bug 类型**
- [x] 题目
- [ ] 编程语言
- [x] 题解

**描述**
测试用例不全，导致错误代码也可以通过提交

**你使用的语言**
JAVA，但问题与语言无关

**你提交或者运行的代码**
[code]

**期望行为**
输入：
"aa"
"bb"
输出：
上面的代码输出：true
正确的输出应该为：false

**额外的上下文**
该代码取自高赞题解，这两个都是错误的思路，问题在于测试用例考虑不全面
https://leetcode-cn.com/problems/check-permutation-lcci/solution/yi-huo-yun-suan-shi-jian-fu-za-du-onkong-jian-fu-z/
https://leetcode-cn.com/problems/check-permutation-lcci/soluti

[2020-04-17 15:19] feiceh commented on #156
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-04-17 18:33] CooperCooperCooper commented on #120
Hi @mmalu,
Just want to update you that the article for [994. Rotting Oranges ](https://leetcode.com/articles/rotting-oranges/)is now rewritten. Please check it out :)

[2020-04-17 18:58] AnthonyMikh opened #157 "Can't send any solution in Rust for "Number of islands" problem"
**What kind of the bug**
- [x] problem
- [ ] solution
- [x] language

**Describe the bug**
It is impossible to run nor submit any solution of "Number of islands" problem of 30-Day LeetCoding Challenge in Rust **using "old" interface**. Trying to do so triggers a compile error caused by code injected on server side.

**what language is your code written in**
Rust

**The code you submit/run**
[code]

[2020-04-17 20:28] CooperCooperCooper commented on #152
Hi @lakbham,
Thank you for reaching out to us. For test case "6", your "Run Code" and "Submit" have different outputs.

The reasons and solutions for different "outputs" from "Run Code" and "Submit" are well documented in this article: https://support.leetcode.com/hc/en-us/articles/360011834174-I-encountered-Wrong-Answer-Runtime-Error-for-a-specific-test-case-When-I-test-my-code-using-this-test-ca

[2020-04-17 20:28] #152 closed

[2020-04-17 20:30] CooperCooperCooper commented on #153
Hi @JinZhenlin,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-04-17 20:42] CooperCooperCooper commented on #154
Hi @bytebeats,
Thank you for reaching out to us! I've relayed your feedback to our team to consider.

[2020-04-17 20:51] CooperCooperCooper commented on #157
Hi @AnthonyMikh,
Thank you for reaching out to us. The code definition for "[Number of Islands](https://leetcode.com/problems/number-of-islands/)" should look like this

[code]
You may use the middle icon (see screenshot attached) on the top right of the Explore Card editor to reset the code definition and build you code on it. Here's an [AC Rust solution](https://leetcode.com/problems/number-of-i

[2020-04-17 21:04] CooperCooperCooper commented on #133
Hi @hairman123,
Thank you for your response. I've relayed the test case to our team to investigate.

[2020-04-17 21:53] CooperCooperCooper commented on #154
Hi @bytebeats,
Thank you for your patience. The problem statement has been updated according to your feedback. Please reach out to support@leetcode.com with your username and this github issue to claim your reward for contributing a valid content issue on Github!

[2020-04-17 21:53] #154 closed

[2020-04-17 22:32] jiali1 opened #158 "PostgreSQL not available for database questions"
Can we include PostgreSQL for the database questions? It is a very popular SQL language and used pretty much everywhere.

[2020-04-17 22:53] AnthonyMikh commented on #157
I am sorry, I missed a crucial detail: the problem can be reproduced reliably in "old" LeetCode intarface but doesn't happen if solution is sent via "new" LeetCode interface. This probably helps to narrow down the place where an error occurs.

[2020-04-18 07:23] mmalu commented on #120
Looks great. Cheers!

On Sat, 18 Apr 2020 at 12:03 AM, CooperCooperCooper <
notifications@github.com> wrote:

[2020-04-19 05:49] andrebautista opened #159 "Arrays 101 - Array deletions error"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
The following code comment "say we want to delete the element at index 2" is incorrect and misleading.
[code]

This code is actually deleting the element at index 1 which is in line with the text stated immediately before this code block - "here is the code to delete the element at index 1" - see screenshot

[2020-04-19 19:09] chaowan2020 opened #160 "problems 1166 design-file-system cannot understand what's the error"
**What kind of the bug**
- [x ] problem
- [ ] solution
- [ ] language

**Describe the bug**
![butreport](https://user-images.githubusercontent.com/23110933/79697192-4e8b4a00-824f-11ea-80c9-300120d0a756.PNG)

**what language is your code written in**
JavaScript
**The code you submit/run**
[code]

**Expected behavior**
it should pass

**Screenshots**
If applicable, add screenshots to help explain yo

[2020-04-20 01:15] NishadKumar opened #161 "Incorrect Day - Day 17 being shown on HomePage on 04/19"
Day 17 is being shown currently for the 30 Day challenge. I thought it was Day 19 today(04/19/20).

<img width="653" alt="Screen Shot 2020-04-19 at 8 15 31 PM" src="https://user-images.githubusercontent.com/18685836/79705222-8a87d480-827a-11ea-993c-77c4268241cc.png">

[2020-04-20 09:35] ddfire opened #162 "Permutations"
**What kind of the bug**
- [X ] problem
- [ ] solution
- [ ] language

**Describe the bug**
A clear and concise description of what the bug is.
Run code in the editor mark a solution as wrong, when submitted is accepted.
this happens event with the solution  proposed by LeetCode.
this is the link of the problematic exercice
https://leetcode.com/explore/interview/card/facebook/53/recursion-3/292

*

[2020-04-20 21:39] leet212 opened #163 "347. Top K Frequent Elements"
**What kind of the bug**
- [x] problem
- [x] solution
- [ ] language

**Describe the bug**
Given a non-empty array of integers, return the k most frequent elements.

This is the description of the problem. Neither does it mention that there are no equal frequency elements nor it does not mention what to do in case of equal frequency. It can be extrapolated from the problem that any elements can be

[2020-04-20 22:17] CooperCooperCooper commented on #153
Hi @JinZhenlin,
Thank you for your time. Input types have been changed on April 15, 2019. Please reset to the default code definition to get a new method signature. We've also updated the problem with this notice.

[2020-04-20 22:17] #153 closed

[2020-04-20 22:19] CooperCooperCooper commented on #133
Hi @hairman123,
Our team took a thorough look at the submitted information and wanted to share that the answer for the mentioned test case is 543'744'000 (note this number fits in a 32 bit signed value). We hope this helps. Thank you for your time.

[2020-04-20 22:19] #133 closed

[2020-04-20 22:46] CooperCooperCooper commented on #131
Hi @evgeni-nabokov,
Thank you for your time. We took a thorough look at the additional feedback. For this problem, we found out that the issue is caused by not by Rust but by not having the problem description updated to the current standard. We've updated the problem description since, so please check it out and see if it helps you on solving those issues.

Since your feedback helps us with impro

[2020-04-20 22:46] #131 closed

[2020-04-20 22:50] CooperCooperCooper commented on #123
Hi @mdtareque,
Thank you for the contribution, Approach3 Floyd's Tortoise and Hare is completely rewritten. Please share your username, your Github info (as a form of verification) and this issue to support@leetcode.com to receive the content issue contribution reward. If you have any questions, please don't hesitate to let me know. Thank you.

[2020-04-20 22:50] #123 closed

[2020-04-20 22:54] CooperCooperCooper commented on #158
Hi @jiali1,
Thank you for your suggestion. To help us improve your experience quickly with this suggestion, can you please share a few problems that you would like to see this implemented quickly to get things started?

[2020-04-20 22:57] CooperCooperCooper commented on #159
Hi @andrebautista,
Thank you for reaching out to us. I've filed this issue to our team to investigate.

[2020-04-20 23:01] CooperCooperCooper commented on #160
Hi @chaowan2020,
Thank you for reaching out to us. I've relayed your issue to our team to investigate.

[2020-04-20 23:03] CooperCooperCooper commented on #161
Hi @NishadKumar,
Thank you for raising this issue to our attention! This issue has been fixed. Since this Github Channel is for content issues only (you may check out what issues should be filed here by clicking on [this post](https://leetcode.com/discuss/general-discussion/526802/File-Problem-and-Solution-Content-Issues-to-Our-GitHub-Public-Feedback-Repo-Now!) ), we will be closing this ticket no

[2020-04-20 23:03] #161 closed

[2020-04-20 23:05] CooperCooperCooper commented on #162
Hi @ddfire,
Thank you for reaching out to us. To help us assess this issue, can you please share your code and the language it's written in here?

[2020-04-20 23:09] CooperCooperCooper commented on #163
Hi @leet212,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-20 23:15] CooperCooperCooper commented on #157
Hi @AnthonyMikh,
Thank you for the clarification! I've relayed this to our team to investigate. Meanwhile, please try to use te new LeetCode interface :) We appreciate your support and understanding.

[2020-04-20 23:21] jiali1 commented on #158
Absolutely, let's kick things off with problems 175-177 as these three problems seem to be the most frequently asked and are pretty representative of an candidate's DBMS knowledge.

[2020-04-20 23:37] NishadKumar commented on #161
Thanks for the response @CooperCooperCooper. My bad for using this platform.

[2020-04-20 23:44] CooperCooperCooper commented on #161
Hi @NishadKumar,
No worries! You can always file this kind of issue to our main support channel: support@leetcode.com. We look forward to seeing more of your submissions in the future :)

[2020-04-20 23:48] CooperCooperCooper commented on #158
Hi @jiali1,
Got it. I've added these three problems to the message for our engineers. Please stay tuned.

[2020-04-20 23:59] RFenolio opened #164 "(133) Clone Graph node definition"
**What kind of the bug**
- [x] problem
- [ ] solution
- [x] language

**Describe the bug**
https://leetcode.com/problems/clone-graph/
For the Python solution, the node definition provided in the comments uses a mutable data structure, a list, as the default value for the __init__ function. The makes it so all instances of the Node class that don't include a "neighbors" parameter have a reference t

[2020-04-21 00:18] evgeni-nabokov commented on #131
Yes, that constraint let Rust solutions avoid the problems I described in the issue.

[2020-04-21 03:22] jiali1 commented on #158
Thanks.

[2020-04-21 05:49] ashwini571 opened #165 "The expected answer field is showing unexpected result"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
I got runtime error for my following code for the following problem in 3rd test case to which the expected answer field was also showing runtime error. See the screenshot for clarification.
**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
The expected a

[2020-04-21 08:06] madhur4127 opened #166 "API of "Leftmost Column with at Least a One" is semantically flawed"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
`BinaryMatrix::dimensions()` method is not marked const. It causes compiler error on const objects.

**Why is this necessary**
Since the input to the question doesn't require modification so marking it const should be the right Software Engineering practice. Instead of just solving problems, users can learn

[2020-04-21 09:40] a-jumani opened #167 "Test case contribution for problem 1008"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
In problem 1008 (Construct Binary Search Tree from Preorder Traversal), implementation with a bug is passing all test cases. Test case [8, 5, 1, 7, 10, 2147483647] reveals it. Bug is the use of `preorder[i] >= stop` instead of `preorder[i] > stop` in the implementation below.

**what language is your code wr

[2020-04-21 13:25] NikitaMasand opened #168 "Incorrect Expected Output in Vertical Order Traversal of binary tree test case."
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
![image](https://user-images.githubusercontent.com/43334750/79870707-01e77080-8401-11ea-8077-170a86a9c203.png)
As shown above, the output expected in the second list in result is [3,6,7]. But when we draw the tree, the output should be [3,7,6] as we have to print the node's value from left to right if it's a

[2020-04-21 15:08] just-some-dev opened #169 "Is Haskell language support in your roadmap?"
Do you have any plans for giving Haskell support?

[2020-04-21 21:49] CooperCooperCooper commented on #163
Hi @leet212,
Thank you for your feedback! We've used it to update this problem. Please reach out to our main support channel support@leetcode.com with your LeetCode username, your Github user info and this issue as verification to claim your reward for this valid content issue contribution.

[2020-04-21 21:49] #163 closed

[2020-04-21 21:52] CooperCooperCooper commented on #160
Hi @chaowan2020,
Thank you for your time. We've taken a deeper look into this error. If expand the error on the problem description page, you would see that the error specifies there is an issue on your code Line 16,
`node.val = value;`. The error stems from trying to use an integer as a structure. Please take a look.

[2020-04-21 21:52] #160 closed

[2020-04-21 21:56] CooperCooperCooper commented on #158
Hi @jiali1,
Thank you for your time! I've relayed your information to our team to consider; however, it was my mistake to raise the expectation that we currently support PostgreSQL. We look forward to having all languages on our platform, but for now [these are the only languages we are supporting so far.](https://support.leetcode.com/hc/en-us/articles/360011833974-What-are-the-environments-for-th

[2020-04-21 21:56] #158 closed

[2020-04-21 22:22] leet212 commented on #163
Thank you for the update @CooperCooperCooper . I have the submitted it to the technical support channel.

[2020-04-21 23:14] evgeni-nabokov opened #170 "Unclear description and mess with parameters (Python 3) in 'Leftmost Column with at Least a One'"
**What kind of the bug**
- [*] problem
- [*] language

**Describe the bug**
First, what is matrix `n * m`? n cols and m rows, or n rows and m cols? [Wikipedia defines](https://en.wikipedia.org/wiki/Matrix_(mathematics)) a matrix `n * m` as the matrix of `n` cols and `m` rows, but according to your code you defined it as `n` rows and `m` cols:
[code]
Second, you messed with the parameter order in B

[2020-04-21 23:28] CooperCooperCooper commented on #164
Hi @RFenolio,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-21 23:29] CooperCooperCooper commented on #165
Hi @ashwini571,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-21 23:30] CooperCooperCooper commented on #165
Hi @ashwini571,
Adding to the previous message: to help us assess this issue, can you please clarify which problem/ Explore Card did this issue arise from?

[2020-04-21 23:34] CooperCooperCooper commented on #166
Hi @madhur4127,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-21 23:36] CooperCooperCooper commented on #167
Hi @a-jumani,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-21 23:42] CooperCooperCooper commented on #168
Hi @NikitaMasand,
Thank you for reaching out to us! We've taken a look into this issue. Please notice that the problem states that nodes at the same positions have to be sorted in ascending order. You're definitely not alone in this confusion, please check out [this user's question about the same test case and other users' comments](https://leetcode.com/problems/vertical-order-traversal-of-a-binar

[2020-04-21 23:42] #168 closed

[2020-04-21 23:45] CooperCooperCooper commented on #169
Hi @just-some-dev,
Thank you for reaching out! You can check out [all of the languages we currently support ](https://support.leetcode.com/hc/en-us/articles/360011833974-What-are-the-environments-for-the-programming-languages-). And we know that Haskell is a really popular language, so I've relayed the request to add Haskell support to our team to consider.

[2020-04-21 23:45] #169 closed

[2020-04-21 23:56] CooperCooperCooper commented on #170
Hi @evgeni-nabokov,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-22 00:56] CooperCooperCooper commented on #166
Hi @madhur4127,
Thank you for your time. Our team has taken a look at this issue. To provide better flexibility to our users' end, we will keep this design decision. We appreciate your time and support.

[2020-04-22 00:56] #166 closed

[2020-04-22 03:13] fankoyu2019 opened #171 "648.单词替换测试用例"
**测试情况不全**
-  648 单词替换
- [ ] 题解
- C++

**描述**
测评机的例子不全，部分有bug的代码仍然能通过测试

**你使用的语言**
C++

**你提交或者运行的代码**
[code]

**期望行为**
这个程序应该不能通过测试

**屏幕截图**
![V@T5E7LE1PP}21N3TBZ0I@3](https://user-images.githubusercontent.com/51729960/79936505-466b1e80-848a-11ea-985e-1e999838fdd4.png)

**额外的上下文**
Input:
["catt","cat","bat","rat"]
"the cattle was rattled by the battery"
Output:
"the cat was rat by the bat"
虽然执行

[2020-04-22 03:54] evgeni-nabokov commented on #170
I think if you replace 'x' with 'col' and y with 'row', it will be better.

[2020-04-22 04:03] feiceh commented on #171
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-04-22 05:37] stacy79 opened #172 "Assertion Error with 'Leftmost Column with at Least a One'"
**What kind of the bug**
- [ *] problem
- [ ] solution
- [ ] language

**Describe the bug**
When I run the code in my machine it works fine, when I try to submit it on leetcode, it gives me assertion Error.

**what language is your code written in**
Java

**The code you submit/run**

   public int leftMostColumnWithOne(BinaryMatrix binaryMatrix) {
        List<Integer> d = binaryMatrix.dimensions(

[2020-04-22 05:48] fasafwa opened #173 "744..寻找比目标字母大的最小字母官方解答与测试用例存在问题"
** Bug 类型**
- [ ] 题目
- [] 题解
- [ ] 编程语言

**描述**
官方给出的方法二的线性扫描和 方法三的二分法强调“有序”而忽略了题目给出的“循环”,
  根据题目要求数组左边字符不一定比右边的大 如：["z","a","b"]用例，z在a的左边但是z是比a大的，直接使用线性扫描和二分法是不正确的

**题目分析**
  更具题目描述的问题，本题我们重点应该放在“循环”而不是“有序”，甚至可以忽略“有序”，如果是采用有序存放那么官方答案是正确的如["a","c","c","c","b","b"]，如果添加上循环那么该数组就是一个乱序数组。
**你使用的语言**
java

**期望行为**
测试一：
        输入:["z","a","b"] 和‘z’
        正确输出：‘a’
        官方解题输出：方法一“a” 方法二三 “z”

[2020-04-22 06:08] ashwini571 commented on #165
It is from the 30-day leetcoding challenge.
Here's the link:-
https://leetcode.com/explore/challenge/card/30-day-leetcoding-challenge/530/week-3/3305/

[2020-04-22 06:13] feiceh commented on #156
该问题当前已修复，感谢支持力扣，祝好。

[2020-04-22 06:13] #156 closed

[2020-04-22 06:14] feiceh commented on #149
该问题当前已修复，感谢支持力扣，祝好。

[2020-04-22 06:14] #149 closed

[2020-04-22 06:17] feiceh commented on #173
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-04-22 09:29] feiceh commented on #173
该题目已更新处理，感谢支持。

[2020-04-22 09:29] #173 closed

[2020-04-22 13:44] qianzi-wei opened #174 "1221.分割平衡字符串"
**题目可能出错或翻译有误**
- [ ] 题目：分割平衡字符串
- [ ] 题解
- [ ] 编程语言 JAVA

**描述**
![image](https://user-images.githubusercontent.com/59230937/79989483-79d99780-84e2-11ea-9cc1-552c09cf7c58.png)

**你使用的语言**
JAVA

**你提交或者运行的代码**
[code]

**期望行为**
根据已知条件，平衡字符串既是 RL相等的。那么在"RLRRRLLRLL"中，可以分割成3个平衡字符串。而题解是2个。

**屏幕截图**
![image](https://user-images.githubusercontent.com/59230937/79989356-5282ca80-84e2-11ea-9e97-69be6d97a4e

[2020-04-22 14:32] sriganes opened #175 "Least Column with Atleast One gives incorrect result"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**

The problem states that solution making more than 1000 calls to get would get rejected. But the program only made 326 calls.

**what language is your code written in**
C++

**The code you submit/run**
[code]
**Expected behavior**

The program should ideally succeed but the solution is rejected for making to

[2020-04-22 15:16] PsiACE commented on #174
Hi, 为什么你会觉得是三个呢？这里只能分割而不可以合并的。
对于你给的测试用例 `RLRRRLLRLL` 显然的结果应该是 `RL` + `RRRLLRLL`。
需要注意一点是，分割成平衡字符串意味着你分割得到的每一段字符串都应该是平衡的。

[2020-04-22 15:27] just-some-dev commented on #169
Thanks @CooperCooperCooper :)

[2020-04-22 18:40] CooperCooperCooper commented on #172
Hi @stacy79,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-22 18:43] CooperCooperCooper commented on #175
Hi @sriganes,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-22 21:04] Ankur-Deka opened #176 "Re: 1374. Leftmost Column with at Least a One"
**What kind of the bug**
language

**Describe the bug**

 The question description says: BinaryMatrix.get(x, y) returns the element of the matrix at index (x, y) (0-indexed).
A clearer description would have been: BinaryMatrix.get(r, c) returns the element of the matrix at index [r,c] (0-indexed).
Generally x is used to denote x axis and this might create confusion.

**what language is your code w

[2020-04-23 00:53] sergibro opened #177 "1008. Construct Binary Search Tree from Preorder Traversal | BST definition"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
[1008. Construct Binary Search Tree from Preorder Traversal](https://leetcode.com/problems/construct-binary-search-tree-from-preorder-traversal)
Checking the correctness of [Binary Search Tree (BST)](https://en.wikipedia.org/wiki/Binary_search_tree) definition

**what language is your code written in**
Pytho

[2020-04-23 02:14] 375C opened #178 "面试题19. 正则表达式匹配 描述不清晰"
** Bug 类型**
- [X] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
该题中，没有描述清出连续的*出现时的匹配规则，导致如果自测试用例中出现连续*时，没有标准答案。
如测试用例为：
[code]
时，点击执行代码，是没有预期结果的

**你使用的语言**
C

**期望行为**
题目中增加描述不会出现连续的*

[2020-04-23 03:10] #174 closed

[2020-04-23 03:21] feiceh commented on #178
感谢反馈，已更新～

[2020-04-23 03:27] #178 closed

[2020-04-23 03:45] Mahdi-Hosseinali opened #179 "Wrong time complexity on problem 560"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
The time complexity of solutions 1 to 3 are off. The inner loop runs from 1 to n (it's n when the outer loop is at the start and it is 1 when the outer loop is at the end). So the complexity is P(sqrt(n)). Now the complexities will be:
solution 1: outer loop O(n), inner loop O(sqrt(n)), summation O(sqrt(n))

[2020-04-23 05:56] sandipl opened #181 "Verifying an Alien Dictionary"
---
name: Bug report (English)
about: Create a report to help us improve
title: 'Incorrect expected output'
labels: ''
assignees: ''

---

**What kind of the bug**
- [ ] problem
- [X] solution
- [ ] language

**Describe the bug**
The Expected value for this case is incorrect.
Although the first character in both files is fine, the length of the first string is
greater than the second and hence the

[2020-04-23 20:12] CooperCooperCooper commented on #170
Hi @evgeni-nabokov,
Thank you for the feedback! We've updated the problem statement accordingly. Please reach out to our main support channel with your LeetCode username, Github user information, and this issue to claim your rewards!

[2020-04-23 20:12] #170 closed

[2020-04-23 20:21] CooperCooperCooper commented on #172
Hi @stacy79,
Thank you for reaching out to us. Our team took a thorough look at this issue and found the code you've submitted shown in the screenshot is not the same as the code you've shared here. Your code got the error as shown on the screenshot because it confused rows with columns.

Please make sure your code is correct and formatted before sharing it in the future. We appreciate your time a

[2020-04-23 20:21] #172 closed

[2020-04-23 20:27] CooperCooperCooper commented on #164
Hi @RFenolio,
Thank you for your time. We've updated the problem according to your feedback. Please reach out to our main support channel support@leetcode.com to with your username, Github user info, and this issue to claim your reward for this valid contribution.

[2020-04-23 20:27] #164 closed

[2020-04-23 20:29] CooperCooperCooper commented on #175
Hi @sriganes,
Thank you for your time. Your code is not counting the number of calls correctly: Whenever a call of get gets false, it is not counted. Please review and adjust your code accordingly. We appreciate your support.

[2020-04-23 20:29] #175 closed

[2020-04-23 20:32] CooperCooperCooper commented on #162
Hi @ddfire,
Since we have not heard from you for a while, we will be closing this issue for now. Thank you for your understanding.

[2020-04-23 20:32] #162 closed

[2020-04-23 20:33] CooperCooperCooper commented on #165
Hi @ashwini571 ,
Thank you for sharing. I've relayed it to our team to investigate.

[2020-04-23 20:41] CooperCooperCooper commented on #176
Hi @Ankur-Deka ,
Thank you for reaching out to us. We've received [a similar request](https://github.com/LeetCode-Feedback/LeetCode-Feedback/issues/170) a while back and have updated the problem statement for the problem "Leftmost Column with at Least a One" accordingly.

However, "Leftmost Column with at Least a One" does not have problem number "1374". Would you please clarify what the numbers r

[2020-04-23 20:54] CooperCooperCooper commented on #177
Hi @sergibro,
Thank you for reaching out to us! To help us assess this issue, can you please confirm that you're asking about "Construct Binary Search Tree from Preorder Traversal", which has problem number "[1008](https://leetcode.com/problems/construct-binary-search-tree-from-preorder-traversal/)" instead of "1050" on the problem's page?

[2020-04-23 20:57] CooperCooperCooper commented on #179
Hi @Mahdi-Hosseinali,
Thank you for reaching out to us! I've relayed this issue to our team to investigate.

[2020-04-23 21:00] CooperCooperCooper commented on #181
Hi @sandipl,
Thank you for reaching out to us! We've tested your code on "Run Code" and "Submit". The reasons and solutions for different "outputs" from "Run Code" and "Submit" are well documented in [this support article](https://support.leetcode.com/hc/en-us/articles/360011834174-I-encountered-Wrong-Answer-Runtime-Error-for-a-specific-test-case-When-I-test-my-code-using-this-test-case-it-produce

[2020-04-23 21:43] sandipl commented on #181
Hi @CooperCooperCooper , Thank you for looking into the issue. My issue is not that I am getting different outputs for Run Code and Submit. I feel the expected value for the input ["kuvp","q"]
"ngxlkthsjuoqcpavbfdermiywz" is incorrect. For this input, the output should be false as the first string is larger than the second even though the first character is lexicographically sorted. Let me know yo

[2020-04-24 00:09] Ankur-Deka commented on #176
Hi
I am referring to the question for April 21 on 30-Day LeetCoding Challenge. I just checked it again and it seems the language is rectified now. Thank you for considering! :+1:

[2020-04-24 07:41] YashJipkate opened #182 "Insufficient description regarding what defines 'correct IP address'"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
The question [Restore IP adresses](https://leetcode.com/problems/restore-ip-addresses/) does not define what is defined as a correct IP address. Many of us are not from CS background and hence have little knowledge about networking.

**what language is your code written in**
C++

**Expected behavior**
Clear

[2020-04-24 13:40] paragpachpute opened #183 "Test case contribution for problem: 759. Employee Free Time"
**What kind of the bug**
- [o] problem
- [ ] solution
- [ ] language

**Describe the bug**
I got a test case where judge's output was not matching with mine still I got my code accepted. I feel that my answer is correct. Adding below the code I submitted and sample input output

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
Input:  [[[1,3

[2020-04-24 19:40] kingsdeb opened #184 "Related Topic for problem 314 not accurate"
**What kind of the bug**
- [o] problem
- [ ] solution
- [ ] language

**Describe the bug**
A clear and concise description of what the bug is.
Related Topic for problem 314 - Binary Tree Vertical Order Traversal is not accurate. It says Hash Table, but the core algorithm is based on BFS/DFS. So it is not accurate and creates confusion.

**what language is your code written in**
N/A

**The code you

[2020-04-24 20:02] shaurya10000 opened #185 "444. Sequence Reconstruction Test case missing"
TestCase is missing

Sample Input:
[3,2,1]
[[1,2],[1,3],[2,3]]
Even if my answer is 'true', it wrongly gets accepted as actual answer should be false.

**what language is your code written in**
Java

**The code you submit/run**
[code]

[2020-04-24 20:44] CooperCooperCooper commented on #182
Hi @YashJipkate,
Thank you for reaching out to us! I've relayed this feedback to our team to investigate.

[2020-04-24 20:50] CooperCooperCooper commented on #183
Hi @paragpachpute,
Thank you for reaching out to us. I've relayed this test case to our team to investigate.

[2020-04-24 20:52] CooperCooperCooper commented on #184
Hi @kingsdeb,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-04-24 20:54] CooperCooperCooper commented on #185
Hi @shaurya10000,
Thank you for reaching out to us! I've relayed this test case to our team to investigate.

[2020-04-24 21:30] CooperCooperCooper commented on #181
Hi @sandipl,
Thank you for your clarification. I see what you mean. I've relayed this issue to our team to investigate.

[2020-04-25 01:23] tyl569 opened #186 "代码默认调用的函数有问题"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
题目 [191. 位1的个数](https://leetcode-cn.com/problems/number-of-1-bits/) 使用PHP语言，系统默认提供的函数名是 **reverseBits**，但是在代码执行的时候，系统调用的函数是 **hammingWeight**，所以在提交的时候，会出现fatal的报错

**你使用的语言**
PHP

**你提交或者运行的代码**

**期望行为**
将系统调用的函数改为hammingWeight

**屏幕截图**
![WX20200425-092231](https://user-images.githubusercontent.com/8981277/80267954-56773e00-86d6-11ea-99f3-bffe14b2

[2020-04-25 03:35] bytebeats opened #187 "1070. 产品销售分析 III, 翻译不准确, 描述不清楚."
对于题目 [1070. 产品销售分析 III](https://leetcode-cn.com/problems/product-sales-analysis-iii/) 私以为描述或者说翻译有些不妥当.
对于表单中的属性 **product_id** 是不能够进行翻译的, 而应该使用原文.

描述错误的两个句子:
- 产品 ID 是产品表的外键
- 产品 ID 是此表的主键
修改成以下, 可以更加合适:
- **product_id** 是产品表的外键
- **product_id** 是此表的主键

望采纳.

[2020-04-25 04:11] feiceh commented on #186
感谢反馈，此问题已转给技术团队会尽快确认的～

[2020-04-25 04:33] feiceh commented on #187
Done

[2020-04-25 04:33] #187 closed

[2020-04-25 13:43] paragpachpute opened #188 "Test case contribution for problem: 227. Basic Calculator II"
**What kind of the bug**
- [o] problem
- [ ] solution
- [ ] language

**Describe the bug**
I submitted the code and it is accepted. However, there are some test cases where my output does not match with the system's output. Hence I think an edge case that should be added.

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
Input: " 1 0 / 2 "
Y

[2020-04-25 14:38] gvshiva opened #189 ""LRU Cache" constant time implementation exceeds the run time beyond 640ms."
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
I implemented a constant time algorithm in JavaScript for the question  "LRU Cache" under "30-Day LeetCoding Challenge" series which exceeds the run time beyond 640ms. Which is quite odd even compared to a linear time algorithm.

**Algorithm**
It is asked to implement an LRU Cache with O(1) time complexity.

[2020-04-25 15:47] sergibro commented on #177
Hi @CooperCooperCooper,
My bad - already fixed it, thanks!

[2020-04-25 17:06] AnthonyMikh opened #190 "Testing "Jumping game" against empty list gives no "expected" answer"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Testing [Jump game](https://leetcode.com/explore/featured/card/30-day-leetcoding-challenge/531/week-4/3310/) problem against empty test case (`[]`) gives no "expected" answer at all.

**what language is your code written in**
Irrelevant, the issue can be reproduced in _all_ supported languages.

**The code y

[2020-04-25 17:47] SummerMotion opened #191 "同样的输入，在测试的输出和提交后的输出却是不同的。"
** Bug 类型**
- [ ] 题目
- [ *] 题解
- [ ] 编程语言

**描述**
同样的输入，在测试的输出和提交后的输出却是不同的。

**你使用的语言**
Java
**你提交或者运行的代码**
[code]

**期望行为**
程序应该能通过这个测试。

**屏幕截图**
![U`4~$H( 8`X6 N`C2HF)IXG](https://user-images.githubusercontent.com/37758475/80286682-68e98a00-875f-11ea-9fe9-8ccb64ecf893.png)

**额外的上下文**
[input]
[2]
3
[output]
-1
测试输出是对的，但提交后输出是错的。

[2020-04-25 18:44] shaurya10000 opened #192 "Memory used reported is almost same for both the below solutions"
**What kind of the bug**
- [x] problem

**Describe the bug**
Memory used reported is almost same for both the below solutions while the first takes O(m*n) space and second takes O(n) space as per complexity analysis.

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior**
Second solution takes O(n) space while the first one takes O(m*n) space as p

[2020-04-26 02:14] AnilRedshift opened #193 "Jump game has integer overflow"
**What kind of the bug**
- [ X] problem
- [ ] solution
- [ ] language

**Describe the bug**
Given the following test case: [1,1,2147483647, 0,0]
When you run "run code", the expected answer is blank. (presumably the solution has an integer overflow bug).

Also, this should probably be a given test case.

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected

[2020-04-26 04:00] sushsada opened #194 ""474. Ones and Zeroes" has a lot of grammatical errors"
**What kind of the bug**
- [ X ] language

**Describe the bug**
It's extremely hand to figure out what the question asks for. Please have someone correct the language.
**what language is your code written in**
N/A
**The code you submit/run**
N/A

**Expected behavior**
N/A
**Screenshots**
N/A
**Additional context**
Here is the incorrect text:
[code]

[2020-04-26 04:45] xu932 opened #195 "Poor English for Q1425"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [x] language

The way the question is described is really confusing. I think it would be better if worded something similar to "a nonempty subset of the array (subarray that does not have to be consecutive in the original array) where each element is chosen from the array, in order, that is at most k apart from each other." I appreciate the m

[2020-04-26 10:09] aparajit0511 opened #196 "978. Longest Turbulent Subarray"
very poor description of the problem

[2020-04-26 12:40] 0xC0D3D00D opened #197 "347. Top K Frequent Elements - O(n) Solution"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the solution**
Using a hashmap to track frequencies of each number `count` and another map for reverse lookups `freq`, it is possible to solve this problem in linear time.

Time complexity: `O(n+k)`
Space complexity: `O(2n)` for two hashmaps

**what language is your code written in**
Javascript

**The code you submit/

[2020-04-26 14:44] steelrooter opened #198 "975. Odd Even Jump: Solution and test case is incorrect"
**What kind of the bug**
- [X] problem
- [X] solution
- [ ] language

**Describe the bug**
According to the problem, the odd jump is to be made to the next equal or greater element, whichever comes first. But the solution provided, priortizes the equal element, even if it is farther from a greater element in the array. Converse is true for the even jump case. There is also a test case which has th

[2020-04-26 14:46] daisenrong opened #199 "1114. 按序打印"
** Bug 类型**
- [x] 1114. 按序打印
- [x] 题解
- [x] java

**描述**
本地运行可以，但是提交后一直超时

**你使用的语言**
java

**你提交或者运行的代码**
[code]

**期望行为**
正确运行，不应该超时

**屏幕截图**
添加屏幕截图辅助我们帮你定位问题

![20200426224935](https://gitee.com/daisenrong/resource/raw/master/images/20200426224935.jpg)

**额外的上下文**
添加额外的上下文信息

[2020-04-26 14:47] tangentyh opened #200 "Test case contribution: Weak test case for Prob 546 make a TLE O(2^n) solution beat 100%"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
See the [post](https://leetcode.com/problems/remove-boxes/discuss/291646/Java-3ms+35.4MB-beats-100-runtimeandmemory/517719) under problem 546. Some solutions which should have TLEed ended up beating 100%.

**what language is your code written in**
Java

**The code you submit/run**
[code]

**Expected behavior

[2020-04-26 16:39] agarwalrounak opened #201 "Missing test case in 189. Rotate Array"
**What kind of the bug**
- [x] problem

Missing testcase or content issue

**Describe the bug**
My wrong solution was accepted because of a missing testcase. In the question, it is given that the user is given an array and has to perform the required operation. It's nowhere mentioned that the array has to have an element. In case of an empty array, my solution will fail due to "runtime error: divi

[2020-04-27 03:21] feiceh commented on #191
建议再仔细调试一下代码，希望这篇内容有帮助：https://leetcode.kf5.com/hc/kb/article/1194344/。后续刷题学习中遇到困难，可通过阅读「题解」解决做题中的一些困惑。

[2020-04-27 03:21] feiceh commented on #191
建议再仔细调试一下代码，希望这篇内容有帮助：https://leetcode.kf5.com/hc/kb/article/1194344/。
后续刷题学习中遇到困难，可通过阅读「题解」解决做题中的一些困惑。

[2020-04-27 03:21] #191 closed

[2020-04-27 03:24] feiceh commented on #199
超出时间限制，复杂度太高了，建议再仔细调试优化一下代码。

[2020-04-27 03:25] #199 closed

[2020-04-27 04:04] Zephyrrro opened #202 "面试题35. 复杂链表的复制 在JavaScript环境下执行出错"
**题目传入参数有误**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
题目 [面试题35. 复杂链表的复制](https://leetcode-cn.com/problems/fu-za-lian-biao-de-fu-zhi-lcof/) 在使用 `Javascript` 时的 **`head`** 传入有问题，无论任何输入都是 `undefined`

**你使用的语言**
Javascript

**你提交或者运行的代码**
[code]

**期望行为**
正常传入 `head`

**屏幕截图**
![image](https://user-images.githubusercontent.com/43735265/80332953-025b8d80-887f-11ea-98e4-21a881e5743f.png)

**额外的上下文**
添加额外的

[2020-04-27 04:11] feiceh commented on #202
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-04-27 11:25] daisenrong commented on #199
public void third(Runnable printThird) throws InterruptedException {
        while (flag.get() != 3) {

        }
        // printThird.run() outputs "third". Do not change or remove this line.
        printThird.run();
       flag.set(1);
    }

这样就好了，多个测试用例应该是只加载了了一次class，所以导致第二次的时候就阻塞了

[2020-04-27 13:10] ayan-b opened #203 "1425: Use `subsequence` instead of `subset`"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [x] language

**Describe the bug**
In the problem statement:

This is the definition of subsequence. In a subset, the order may not be maintained ([more details](https://stackoverflow.com/questions/26568560/difference-between-subarray-subset-subsequence)).

**Expected behavior**
In the problem statement, `subset` should be replaced by `subseq

[2020-04-27 13:58] steelrooter commented on #198
Apologies, but reading the question again I figured out that I misunderstood it. Closing this issue.

[2020-04-27 13:58] #198 closed

[2020-04-27 22:25] tybrs opened #204 "Leetcode submission output does not match output when run locally"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
For problem 1, I get a different output than leetcode submission when I run code locally.

**what language is your code written in**
python3

**The code you submit/run**
[code]

**Expected behavior**
In a submission report for the following input:
[code]
Leetcode reports the output of `[0,0]`. However when I

[2020-04-28 00:18] CooperCooperCooper commented on #185
Hi @shaurya10000,
Thank you for your time. We've updated the problem according to your feedback. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user account verification, and link to this issue to claim your reward for valid contribution.

[2020-04-28 00:18] #185 closed

[2020-04-28 00:20] CooperCooperCooper commented on #181
Hi @sandipl,
Thank you for your time. Our team took a thorough look at this issue. We found the string length has nothing to do with this particular case. We appreciate your support.

[2020-04-28 00:20] #181 closed

[2020-04-28 00:21] CooperCooperCooper commented on #184
Hi @kingsdeb,
Thank you for your time. We've updated the problem according to your feedback. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user account verification, and link to this issue to claim your reward for valid contribution.

[2020-04-28 00:21] #184 closed

[2020-04-28 00:23] CooperCooperCooper commented on #183
Hi @paragpachpute,
Thank you for your time. We took a thorough look at your contribution. The test case is not valid because each schedule must be sorted. We appreciate your support.

[2020-04-28 00:23] #183 closed

[2020-04-28 00:24] CooperCooperCooper commented on #182
Hi @YashJipkate,
Thank you for your time. We've updated the problem according to your feedback. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user account verification, and link to this issue to claim your reward for valid contribution.

[2020-04-28 00:24] #182 closed

[2020-04-28 00:28] paragpachpute commented on #183
fair enough! thanks for having a look.

[2020-04-28 00:32] CooperCooperCooper commented on #188
Hi @paragpachpute,
Thank you for reaching out to us. I've relayed your feedback to our team to investigate.

[2020-04-28 00:36] CooperCooperCooper commented on #189
Hi @gvshiva,
Thank you for reaching out to us. I've relayed your feedback to our team to investigate.

[2020-04-28 00:38] CooperCooperCooper commented on #190
Hi @AnthonyMikh,
Thank you for reaching out to us. I've relayed your feedback to our team to investigate.

[2020-04-28 00:39] CooperCooperCooper commented on #192
Hi @shaurya10000,
Thank you for reaching out to us. To help us assess this issue, can you please share with us which problem is this issue for?

[2020-04-28 00:41] CooperCooperCooper commented on #193
Hi @AnilRedshift,
Thank you for reaching out to us. I've relayed your feedback to our team to investigate.

[2020-04-28 00:43] CooperCooperCooper commented on #194
Hi @sushsada,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-04-28 00:44] CooperCooperCooper commented on #195
Hi @xu932,
Thank you for reaching out to us. I've relayed your feedback to our team to investigate.

[2020-04-28 00:47] CooperCooperCooper commented on #196
Hi @aparajit0511,
Thank you for reaching out to us. To help us assess this issue, is there a particular section of this problem you would like to see improvement on?

[2020-04-28 00:49] CooperCooperCooper commented on #197
Hi @0xC0D3D00D,
Thank you for reaching out. I've relayed your feedback to our team to investigate.

[2020-04-28 00:50] CooperCooperCooper commented on #200
Hi @tangentyh,
Thank you for reaching out to us. I've relayed your feedback to our team to investigate.

[2020-04-28 00:52] CooperCooperCooper commented on #201
Hi @agarwalrounak,
Thank you for reaching out to us. I've relayed your feedback to our team to investigate.

[2020-04-28 00:54] CooperCooperCooper commented on #203
Hi @ayan-b,
Thank you for reaching out to us. I've relayed your feedback to our team to investigate.

[2020-04-28 00:57] CooperCooperCooper commented on #204
Hi @tybrs,
Thank you for reaching out to us. The reasons and solutions for different "outputs" from "Run Code" and "Submit" are well documented in this [support article](https://support.leetcode.com/hc/en-us/articles/360011834174-I-encountered-Wrong-Answer-Runtime-Error-for-a-specific-test-case-When-I-test-my-code-using-this-test-case-it-produced-the-correct-output-Why-). Please check it out.

[2020-04-28 00:57] #204 closed

[2020-04-28 01:00] CooperCooperCooper commented on #177
Hi @sergibro,
Thank you for the clarification. I've relayed your feedback to our team to investigate.

[2020-04-28 03:16] feiceh commented on #202
fixed

[2020-04-28 03:16] #202 closed

[2020-04-28 03:50] feiceh commented on #171
fixed

[2020-04-28 03:50] #171 closed

[2020-04-28 05:18] chengcodex opened #205 "面试题29. 顺时针打印矩阵"
** Bug 类型**
- [ ] 题目
- [ ] 题解
- [X ] 编程语言

**描述**
面试题29. 顺时针打印矩阵
执行代码和提交执行的代码执行顺序不一致。
在过程中，我打印了一些可以查看执行顺序的变量
**你使用的语言**
Java

**你提交或者运行的代码**
[code]

**期望行为**
描述你期望的结果

**屏幕截图**
这是执行代码时的结果
![image](https://user-images.githubusercontent.com/41544655/80449699-613e0700-8952-11ea-9c5b-24f5748d286e.png)
下图是提交执行代码的结果
![image](https://user-images.githubusercontent.com/41544655/80449738-79158b00-8952-11ea-

[2020-04-28 05:51] feiceh commented on #205
感谢反馈，此问题已转给题目运营团队会尽快确认的～

[2020-04-28 07:13] feiceh commented on #205
你好，力扣平台没有问题的。建议再仔细调试一下代码，后续刷题学习中遇到困难，可通过阅读「题解」解决做题中的一些困惑，看看其他小伙伴的解题思路哦。

[2020-04-28 07:13] #205 closed

[2020-04-28 10:22] mdtareque opened #206 "Incorrect strategy name"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
Problem 78. Subsets. The solution/ariticle mentions three general strategies to solve the problem.

Strategy 1 is incorrectly mentioned as `Recursion`, while it's actually not recursion.

The strategy should be name `Constructuve Approach` or something else .

Why this should be fixed?
- To be semantically c

[2020-04-28 15:03] pawangeek opened #207 "Problem Description of 1423"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Problem statement showing integer array for cardPoints but judge showing the range from 1 to 100000 accepted

**Expected behaviour**
There should be "positive" integer array given for cardPoints else Points on the cards can be negative

**Additional context**
https://leetcode.com/problems/maximum-points-you-

[2020-04-28 18:27] CooperCooperCooper commented on #188
HI @paragpachpute,
Thank you for your time. There shouldn't be any space between digits of the same number, which makes the input invalid.

[2020-04-28 18:27] #188 closed

[2020-04-28 18:35] CooperCooperCooper commented on #206
Hi @mdtareque,
Thank you for reaching out to us. I've relayed your feedback to our team to investigate.

[2020-04-28 18:36] CooperCooperCooper commented on #207
Hi @pawangeek,
Thank you for reaching out to us. I've relayed your feedback to our team to investigate.

[2020-04-28 18:37] CooperCooperCooper commented on #207
Hi @pawangeek,
To help us further assess this issue, can you please provide your code for this issue?

[2020-04-28 18:55] shaurya10000 commented on #192
Hi @CooperCooperCooper
Problem Url: https://leetcode.com/problems/unique-paths/

[2020-04-28 23:32] CooperCooperCooper commented on #189
Hi @gvshiva,
Thank you for your time. According to the problem and the data structures used to solve it, the solution can be O(1). But this doesn't mean the constant factor of the complexity must be low; in contrast, it's high due hash tables, maps and sets are kinda slow. Therefore the given runtime is expected.

[2020-04-28 23:34] CooperCooperCooper commented on #190
Hi @AnthonyMikh,
Thank you for your time. We've updated the problem based on your feedback. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user verification, and this issue to claim the valid contribution reward.

[2020-04-28 23:34] #190 closed

[2020-04-28 23:35] CooperCooperCooper commented on #193
Hi @AnilRedshift,
Thank you for your time. We've updated the problem based on your feedback. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user verification, and this issue to claim the valid contribution reward.

[2020-04-28 23:35] #193 closed

[2020-04-29 04:34] pawangeek commented on #207
@CooperCooperCooper Issue updated with Code.

[2020-04-29 05:23] praphull02549 opened #208 "Issue with Submission | Problem 31 | Next Permutation"
**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

**Describe the bug**
I ran into this problem while resubmitting one of my 12 day old submitted A/C code. Actually one of my friend ran into this problem while doing it for the first time then she asked me to do so. I got this error on the same code too. I tried it with some other similar accepted codes, Same resize error. I woul

[2020-04-29 08:20] ysk24ok opened #209 ""73. Set Matrix Zeroes" C++ code runner seems broken"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**

C++ code runner throws the following compile error, even though my code does not contain `resize()` call.

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
The code runner can compile and execute the code above.
In my local environment, it can be compi

[2020-04-29 09:24] gvshiva commented on #189
Thanks for the response. I had faced such issues before this 'problem' as well. My intention behind this issue initiation is to identify the specific cause of using these hash maps, tables or sets. So that I can avoid using them later.

*My observation*
- A problem with one hash map with O(nlogn) implementation resulted below 100ms
- A problem with two hash maps with O(n) implementation went upto

[2020-04-29 10:16] habcerga1 opened #210 "Counting Elements"
**What kind of the bug**
- [x] problem
- [x] solution
- [ ] language

**Describe the bug**
Incorrect description of the task or an error in the test example or
I did not understand the conditions of the problem.

**what language is your code written in**
C#

**The code you submit/run**
[code]

**Expected behavior**
In the problem statement output should be 4 but expected 2.
Input [1,1,2,2] Output

[2020-04-29 11:41] SamZhangQingChuan opened #211 "Incorrect Calculation of Time"
**What kind of the bug**
- [ ] problem
- [ ] solution
- [ ] language
- [x] system

**Describe the bug**
Incorrect calculation of time used.

**Screenshots**

<img width="1166" alt="Screen Shot 2020-04-29 at 23 39 44" src="https://user-images.githubusercontent.com/8025859/80592046-e02a6100-8a72-11ea-95b1-ccb8672ce50d.png">

From weekly contest 186

[2020-04-29 11:49] apoorva1999 opened #212 "Missing test case"
**Kind of bug**
Testcase

**Describe the bug**
code got accepted which has output different than expected.

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**

if the string is  **"croakroak",** it is impossible to be generated because there are some characters that can't be combined to make the string "croak".
In the above code, the output of

[2020-04-29 14:48] JameyWoo opened #213 "209. 长度最小的子数组-题目描述错误"
** Bug 类型**
- [x] 题目
- [ ] 题解
- [ ] 编程语言

**描述**
这道题这里说的进阶描述错了, 应该是O(log n)的解法. 否则为什么叫进阶.
![image](https://user-images.githubusercontent.com/38575466/80610074-7b1f3d00-8a6b-11ea-8ebf-6f4d0cfec36c.png)

[2020-04-29 14:54] #213 closed

[2020-04-29 18:11] CooperCooperCooper commented on #194
Hi @sushsada,
Thank you for your time! We've used your feedback to update the problem statement. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-04-29 18:11] #194 closed

[2020-04-29 18:15] CooperCooperCooper commented on #190
Hi @AnthonyMikh,
We appreciate your support. Just a gentle reminder that the section "what language is your code written in" helps our team to target the issue from shared code quickly, so we can spend less time on triaging the problems to the right person. We would really appreciate it if you would provide the code language under that section in the future :)

[2020-04-29 18:24] CooperCooperCooper commented on #208
Hi @praphull02549,
Thank you for reaching out to us! I've relayed your issue to our team to investigate.

[2020-04-29 18:28] CooperCooperCooper commented on #210
Hi @habcerga1,
Thank you for reaching out to us. I've relayed your issue to our team to investigate.

[2020-04-29 18:33] CooperCooperCooper commented on #211
Hi @SamZhangQingChuan,
Thank you for reaching out to us. Since this channel is for problem and solutions content issue, please relay this contest issue to our main support channel "support@leetcode.com". We appreciate your support and understanding.

[2020-04-29 18:33] #211 closed

[2020-04-29 18:34] CooperCooperCooper commented on #209
Hi @ysk24ok,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-04-29 18:39] CooperCooperCooper commented on #212
Hi @apoorva1999,
Thank you for reaching out to us. I've relayed your issue to our team to investigate.

[2020-04-29 18:59] luizfls commented on #209
Exactly, I am the OP for the discussion thread linked. Just to add more info: the error will happen even if you don't write code at all.

[2020-04-29 19:10] CooperCooperCooper commented on #210
Hi @habcerga1,
Thank you for your time. Our team found this issue to be a system issue and not a content issue. It's currently under investigation so we can fix it soon. If you would like more updates on this issue, please redirect this issue to our main support channel "support@leetcode.com". We appreciate your time and support.

[2020-04-29 19:11] CooperCooperCooper commented on #209
Hi @luizfls,
Thank you for your time and additional clarification. Our team found this issue to be a system issue and not a content issue. It's currently under investigation so we can fix it soon. If you would like more updates on this issue, please redirect this issue to our main support channel "support@leetcode.com". We appreciate your time and support.

[2020-04-29 19:11] #209 closed

[2020-04-29 19:11] CooperCooperCooper commented on #208
Hi @praphull02549,
Thank you for your time. Our team found this issue to be a system issue and not a content issue. It's currently under investigation so we can fix it soon. If you would like more updates on this issue, please redirect this issue to our main support channel "support@leetcode.com". We appreciate your time and support.

[2020-04-29 19:11] #208 closed

[2020-04-29 19:12] CooperCooperCooper commented on #207
Hi @pawangeek,
Thank you. I've relayed this issue to our team to investigate.

[2020-04-29 19:35] leet212 opened #214 "97. Interleaving String"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
The 2nd approach of the question in solution gives incorrect time and space complexity.

Complexity Analysis

Time complexity : O(2^(m+n)) m is the length of s1 and n is the length of s2.
Space complexity : O(m+n) The size of stack for recursive calls can go upto m+n.

**Expected behavior**
Time complexity :

[2020-04-29 20:21] modinitin13 opened #215 "Weak test cases---1353. Maximum Number of Events That Can Be Attended"
**What kind of the bug**
Weak Test Cases

**Describe the bug**
The test cases are weak allowing O(N^2) complexity solution to get an AC.

**what language is your code written in**
C++

**The code you submit/run**
[code]

**Expected behavior**
This solution should get TLE.
[test.txt](https://github.com/LeetCode-Feedback/LeetCode-Feedback/files/4554410/test.txt)

**Screenshots**
If applicable, add s

[2020-04-29 20:31] RatnadeepSimhadri opened #216 "Test Case : Problem 367"
**What kind of the bug**
- [ ] problem
- [ x] solution
- [ ] language

**Describe the bug**
The Test case expects false for input `0`

**what language is your code written in**
Java

**The code you submit/run**

**Expected behavior**
0 is a perfect Square
**Screenshots**

If applicable, add screenshots to help explain your problem.
![Screen Shot 2020-04-29 at 1 29 48 PM](https://user-images.github

[2020-04-29 20:35] leet212 opened #217 "130. Surrounded Regions"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
Judge gives no expected output for correct test case and accepted solution.

**what language is your code written in**
Python

**The code you submit/run**
[code]

**Expected behavior**
The judge should give both expected output and correct verdict neither of which it is doing now.

**Screenshots**
![Untitled

[2020-04-29 20:57] leet212 opened #218 "878. Nth Magical Number"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
The 2nd solution given is not optimal and time complexity is not according to the given solution. Furthermore the given complexity is a loose upper limit rather than a tight one.

**what language is your code written in**
Python

**The code you submit/run**
[code]

**Expected behavior**
The problem in the so

[2020-04-29 21:32] leet212 opened #219 "127. Word Ladder"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
The solutions given complexities are incorrect according to the given solution.

**what language is your code written in**
Python

**The code you submit/run**
[code]

**Expected behavior**
The complexity of the solutions is given as O(M×N), where M is the length of words and N is the total number of words in

[2020-04-29 21:38] CooperCooperCooper commented on #209
Hi @luizfls,
Just a gentle update: the issue is now fixed.

[2020-04-29 21:41] CooperCooperCooper commented on #201
Hi @agarwalrounak,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-04-29 21:41] #201 closed

[2020-04-29 21:45] CooperCooperCooper commented on #167
Hi @a-jumani,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-04-29 21:45] #167 closed

[2020-04-29 21:47] sushsada commented on #194
Awesome, much better now!

[2020-04-29 21:57] leet212 opened #220 "5. Longest Palindromic Substring"
#### Your LeetCode username
habaj

**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
The link given for Manacher's Algorithm is broken. Here is the provided hyperlink.
http://articles.leetcode.com/longest-palindromic-substring-part-ii/

[2020-04-29 22:02] ysk24ok commented on #209
Thank you very much for this fix!

[2020-04-29 22:09] leet212 opened #221 "952. Largest Component Size by Common Factor"
#### Your LeetCode username
habaj

**What kind of the bug**
- [ ] problem
- [x] solution
- [ ] language

I wished to provide a solution for the problem that is not available. It beats 100% solutions in both categories. The current solution has a complexity of O(N * sqrt{W}) where N is the length of A, and W=max(A[i])

The solution I implemented can reduce it to O(N * log{W}) where N is the length

[2020-04-29 23:16] CooperCooperCooper commented on #200
Hi @tangentyh,
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-04-29 23:16] #200 closed

[2020-04-30 00:32] CooperCooperCooper commented on #210
Hi @habcerga1,
My apologies. The issue that was fixed was a separate error that occurred earlier today. We're still investigating this issue.

[2020-04-30 01:08] TheBloodElf opened #222 "申请贡献一道题"
题名：
Code Review

描述：
小明公司设计了一套Code Review系统，该系统有以下两种名词：
1、模块；
2、模块owner：对应模块的负责人，至少一位。
提交的代码会涉及到多个模块，codereview时需要各个模块的任一owner+2才可合入，现在需要知道小明的一次提交至少需要哪些人进行+2。
输入：一个数组modules表示该提交包含了哪些模块，一个字典owners表示模块和owner的映射关系；
输出：一个数组，result包含了需要+2的owner名字，如果最优解有多个，则返回任意一个即可。
示例：
给定modules = ["A", "B"], owners = ["A" : ["A1"], "B": ["A1", "B1"]]，
因为A1是两个模块的owner，则只需要A1一个人+2即可

测试案例：
输入：modules = ["A", "B"], own

[2020-04-30 03:36] feiceh commented on #222
感谢为力扣贡献题目，已转给相关团队会尽快审核的～

[2020-04-30 08:58] abhasg opened #223 "637. Average of Levels in Binary Tree, output and expected not matching"
**What kind of the bug**
- [ ] solution

**Describe the bug**
When I am trying to run the code for question #637, the answer expected and output is not matching as I think expected is wrong. Please check the same attaching the screenshot.

**Screenshots**
<img width="1280" alt="Screen Shot 2020-04-30 at 2 54 54 AM" src="https://user-images.githubusercontent.com/1539534/80691883-7780ca00-8aee-11ea-

[2020-04-30 09:42] lidaqi001 opened #224 "修正代码模版"
** Bug 类型**
- [ ✔] 题目

**描述**
题目：删除链表中的节点
参数有误，应该有两个参数，代码模版只有一个，加参数还会报错

**你使用的语言**
php

**期望行为**
修正模版

**屏幕截图**
![image](http://image.ldqsdy.com/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200430165917.png)

[2020-04-30 10:15] feiceh commented on #224
感谢反馈，此问题已转给技术团队会尽快确认的～

[2020-04-30 15:46] KevinColemanInc opened #225 "Read N Characters Given Read4 II - Call multiple times"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
https://leetcode.com/explore/interview/card/facebook/5/array-and-strings/269/

If you run this question in ruby with no changes to the question prompt, it just says "runtime exception".

[code]

It seems like there is a problem in the "solution" code when checking my output with the solution's output?

**wha

[2020-04-30 18:06] CooperCooperCooper commented on #177
Hi @
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-04-30 18:06] #177 closed

[2020-04-30 18:07] CooperCooperCooper commented on #212
Hi @
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

Just a gentle reminder that, if you would like us to take a specific part of the submission, please share a link to your original submission as the co

[2020-04-30 18:07] #212 closed

[2020-04-30 18:11] CooperCooperCooper commented on #207
Hi @pawangeek,
Thank you for your time. We've decided to keep the problem statement because statement complements with constraint.

[2020-04-30 18:11] #207 closed

[2020-04-30 18:18] CooperCooperCooper commented on #210
Hi @habcerga1,
Thank you for your time. Our team took a thorough look at your submission. It seemed like your code was receiving Compile Error because it didn't contain the superclass needed to run, it only give the method. Please update your code accordingly.

[2020-04-30 18:18] #210 closed

[2020-04-30 20:29] CooperCooperCooper commented on #195
Hi @xu932,
Thank you for your time. Our team decided to keep the problem statement as-is for now. We will keep this suggestion in mind for future changes.

[2020-04-30 20:29] #195 closed

[2020-04-30 20:30] CooperCooperCooper commented on #192
Hi @shaurya10000,
Appreicate it. I've filed this issue to our team to investigate.

[2020-04-30 20:33] CooperCooperCooper commented on #176
Hi @Ankur-Deka,
Awesome! Thank you for your feedback.

[2020-04-30 20:33] #176 closed

[2020-04-30 20:42] CooperCooperCooper commented on #225
Hi @KevinColemanInc,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-04-30 20:44] CooperCooperCooper commented on #221
Hi @leet212,
Thank you for reaching out to us. Once you've shared the solution here, I'll relay it to our team to consider and share the feedback here with you.

[2020-04-30 20:47] CooperCooperCooper commented on #220
Hi @leet212,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-04-30 20:51] CooperCooperCooper commented on #157
Hi @AnthonyMikh,
Thank you for your time. Our team found both old and new UI has the code definition for this problem. If you're still experiencing an issue with this problem, please share screenshot(s) of the issue with us here for us to take a further look. We appreciate your time and support.

[2020-04-30 20:51] #157 closed

[2020-04-30 20:57] CooperCooperCooper commented on #219
Hi @
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-04-30 20:58] CooperCooperCooper commented on #218
Hi @
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-04-30 21:00] CooperCooperCooper commented on #217
Hi @leet212,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-04-30 21:01] CooperCooperCooper commented on #216
Hi @RatnadeepSimhadri,
Thank you for reaching out to us. To help us reproduce this issue, can you please share your submission code here with us? It can be a link to your original submission as well.

[2020-04-30 21:07] CooperCooperCooper commented on #215
Hi @modinitin13,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-04-30 21:10] CooperCooperCooper commented on #214
Hi @leet212,
Thank you for reaching out to us. I've relayed this issue to our team to investigate.

[2020-04-30 22:22] leet212 commented on #221
Thanks for the update @CooperCooperCooper . I have updated the issue with the solution.

[2020-05-01 03:04] pratikkaria opened #226 "Test Case for 201. Bitwise AND of Numbers Range"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
I would like to contribute a test case for the above mentioned problem. When I submitted my
code, it successfully passed all the test cases whereas on running a custom test case with the
following case, it gave TLE error.

**what language is your code written in**
C++

**The code you submit/run**
[code]
**Te

[2020-05-01 03:13] CooperCooperCooper commented on #196
Hi @aparajit0511,
Thank you for your time. We would like to keep the problem statement for now until further notice.

[2020-05-01 03:13] #196 closed

[2020-05-01 03:16] CooperCooperCooper commented on #217
Hi @leet212,
Thank you for your time. We were unable to reproduce the issue on our end (Expected output is showing on our end). If this issue persists on your end, please let me know and share the test case in a text format. We appreciate your support.

[2020-05-01 03:16] #217 closed

[2020-05-01 03:16] CooperCooperCooper commented on #215
Hi @
Thank you for your time. We've used your feedback to update the problem. Please reach out to our main support channel "support@leetcode.com" with your LeetCode username, Github user info, and this issue to claim your valid contribution reward.

[2020-05-01 03:16] #215 closed

[2020-05-01 05:12] shivam145 opened #227 "1282. Group the People Given the Group Size They Belong To"
**What kind of the bug**
- [x] problem
- [ ] solution
- [ ] language

**Describe the bug**
In this question it really doesn't matter what values we are inserting in the vector, the test cases are passing solely based on the vector size, which i think is incorrect.
I think the size of the vector and the elements inside the vector both should be checked, rather only checking the size of the vector